﻿<h2>{type} {text.budget}</h2>
{budget.form}
<!--<div class="chart animated" chart-type="donut" api-call="/api/admin/projects/chart/donut/project/budget/{entity.public-id}?type={type}"></div>-->


<div class="ui-card-content">
    <div class="ui-reporting-chart" id="invoice-categories-chart"
         data-api-call="/api/admin/projects/report/project/budget/{entity.public-id}?type={type}">
    </div>
</div>