﻿

/* =========================================================================================================== */
/* ======== Multi Gauge Node ================================================================================= */
/* =========================================================================================================== */

/* Fallback Size */
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode .vegaview {
    height: $node-height-chart-huge;
}


/* Desktop: Small Size */
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-1 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-2 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-3 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-4 .vegaview {
    height: $node-height-chart;
}

/* Desktop: Huge Size */
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-5 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-6 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-7 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-8 .vegaview {
    height: $node-height-chart-huge;
}

/* Desktop: Super-Huge Size */
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-9 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-10 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-11 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-12 .vegaview {
    height: 700px;
}




/* Mobile: Height depends on factor of rows (but always 2 columns) */
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-1 .vegaview,
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-2 .vegaview {
    /* = 2x1 */
    height: calc(180px * 1);
}
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-3 .vegaview,
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-4 .vegaview {
    /* = 2x2 */
    height: calc(180px * 2);
}
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-5 .vegaview,
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-6 .vegaview {
    /* = 2x3 */
    height: calc(180px * 3);
}
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-7 .vegaview,
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-8 .vegaview {
    /* = 2x4 */
    height: calc(180px * 4);
}
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-9 .vegaview,
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MultiGaugeNode.numfacts-10 .vegaview {
    /* = 2x5 */
    height: calc(180px * 5);
}