﻿
.machinata-reporting-button,
.machinata-reporting-button * {
    cursor: pointer;
}






.machinata-reporting-button.option-primary, 
.machinata-reporting-button.option-secondary {
    position: relative;
    border: 1px solid $button-primary-normal-border-color;
    padding: 15px 25px;
    font-size: $button-text-size-px;
    font-weight: bold;
    line-height: 1;
    -webkit-appearance: button;

    border-radius: $button-border-radius-px;

    margin: 0;
    background: 0;
    outline: 0;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    vertical-align: top;
    transition: all .25s 0s ease-out;
}

.machinata-reporting-button.option-primary {
    border: 1px solid $button-primary-normal-border-color;
    background: $button-primary-normal-bg-color;
    color: $button-primary-normal-text-color;
}
.machinata-reporting-button.option-primary:hover {
    border: 1px solid $button-primary-hover-border-color;
    background: $button-primary-hover-bg-color;
    color: $button-primary-hover-text-color;
}




.machinata-reporting-button.option-secondary {
    border: 1px solid $button-secondary-normal-border-color;
    background: $button-secondary-normal-bg-color;
    color: $button-secondary-normal-text-color;
}
.machinata-reporting-button.option-secondary:hover {
    border: 1px solid $button-secondary-hover-border-color;
    background: $button-secondary-hover-bg-color;
    color: $button-secondary-hover-text-color;
}


.machinata-reporting-button.option-secondary:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid transparent;
    transition: border-color .25s 0s ease-out;
}
.machinata-reporting-button.option-secondary:hover:before {
    border-color: $button-secondary-hover-border-color;
}







.machinata-reporting-button.option-link {
    font-weight: bold;
    -webkit-appearance: button;
}
.machinata-reporting-button.option-link .icon {
    font-size: $button-text-size-px;
    width: $icon-size-px;
    height: $icon-size-px;
    margin-left: $padding-half-px;
    position: relative;
    top: 0.3em;
}