﻿
/* =========================================================================================================== */
/* ======== Node ============================================================================================= */
/* =========================================================================================================== */


.machinata-reporting-node {
    position: relative;
}

.machinata-reporting-report .machinata-reporting-node {
    margin-bottom: $node-vertical-spacing-px;
}
.machinata-reporting-report .machinata-reporting-node + .machinata-reporting-report .machinata-reporting-node {
    
}


.machinata-reporting-node .machinata-reporting-toolbar {
    z-index: 1;
}
.machinata-reporting-node .machinata-reporting-toolbar {
    border-bottom: $line-size-px solid $page-color;
}
.machinata-reporting-node.chrome-light .machinata-reporting-toolbar {
    border-bottom: $line-size-px solid transparent;
}

.machinata-reporting-report.layout-mobile .machinata-reporting-node .machinata-reporting-toolbar {
    position: sticky;
    top: calc($reporting-layout-header-height-px - $line-size-px);
}



.machinata-reporting-node .machinata-reporting-subtoolbar {
    border-bottom: none;
    border-top: $line-size-px solid $page-color;
    z-index: 1;
}

.machinata-reporting-node .node-footer {
    font-size: $text-size-px;
}









/* =========================================================================================================== */
/* ======== Node Full Size Content =========================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node:not(.style-Growing) > .option-fullsize-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.machinata-reporting-node.option-toolbar:not(.style-Growing) > .option-fullsize-content {
    top: calc($toolbar-height-px + $line-size-px);
}
.machinata-reporting-node.option-subtoolbar:not(.style-Growing) > .option-fullsize-content {
    bottom: calc($toolbar-small-height-px + $line-size-px);
}


/* =========================================================================================================== */
/* ======== Node Side Scroller ================================================================================ */
/* =========================================================================================================== */


.machinata-reporting-node .side-scroller {
    overflow-x: auto;
    position: relative;
}




/* =========================================================================================================== */
/* ======== Node Bottom Fader ================================================================================ */
/* =========================================================================================================== */


.machinata-reporting-node .bottom-fader {
    pointer-events: none;
    height: $padding-quadruple-px;
    z-index: 1;
}
.machinata-reporting-node .bottom-fader.option-overflow-only {
    display: none;
}
.machinata-reporting-node.is-overflowing .bottom-fader.option-overflow-only {
    display: block;
}
.machinata-reporting-node.chrome-dark .bottom-fader {
    /* Note: uses CSS L4 8-digit hex numbers */
    /* https://caniuse.com/#feat=css-rrggbbaa */
    background: linear-gradient(to bottom, $chrome-dark-bg-color00 0%, $chrome-dark-bg-colorFF 100%);
}
.machinata-reporting-node.chrome-solid .bottom-fader {
    /* Note: uses CSS L4 8-digit hex numbers */
    /* https://caniuse.com/#feat=css-rrggbbaa */
    background: linear-gradient(to bottom, $chrome-solid-bg-color00 0%, $chrome-solid-bg-colorFF 100%);
}
.machinata-reporting-node.chrome-light .bottom-fader {
    /* Note: uses CSS L4 8-digit hex numbers */
    /* https://caniuse.com/#feat=css-rrggbbaa */
    background: linear-gradient(to bottom, $chrome-light-bg-color00 0%, $chrome-light-bg-colorFF 100%);
}



/* =========================================================================================================== */
/* ======== Node Top/Bottom Content ========================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node .option-bottom-content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.machinata-reporting-node .option-top-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}







/* =========================================================================================================== */
/* ======== Node Config ============================================================================== */
/* =========================================================================================================== */

.machinata-reporting-config {
    padding-top: $padding-double-px;
}


.machinata-reporting-config .machinata-reporting-cross {
    float: left;
    position: relative;
    top: 8px;
    left: -15px;
    width: $icon-size-px;
    height: $icon-size-px;
}

.machinata-reporting-config .machinata-reporting-select {
    width: auto;
}
.machinata-reporting-config .machinata-reporting-select-wrapper {
    margin-right: $padding-quadruple-px;
}

.machinata-reporting-report.layout-mobile .machinata-reporting-config .machinata-reporting-select-wrapper {
    margin-right: $padding-px;
}
.machinata-reporting-report.layout-mobile .machinata-reporting-config .machinata-reporting-cross {
    left: -$padding-half-px;
}



/* =========================================================================================================== */
/* ======== Node Padded Content ============================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node .option-padded-content {
    padding: $padding-px;
}













/* =========================================================================================================== */
/* ======== Node Container Fullsize ============================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.container-fullsize {
    width: 100%;
    height: 100%;
}
.machinata-reporting-node.container-fullsize .node-bg {
    width: 100%;
    height: 100%;
}
.machinata-reporting-node.container-fullsize.option-toolbar .node-bg {
    width: 100%;
    height: calc(100% - $toolbar-height-px);
}










/* =========================================================================================================== */
/* ======== Node HTML Legend ============================================================================== */
/* =========================================================================================================== */



.machinata-reporting-report .machinata-reporting-node .legend {
    padding: 8px;
}
.machinata-reporting-report .machinata-reporting-node .legend .legend-item {
    
}
.machinata-reporting-report .machinata-reporting-node .legend .legend-item .legend-symbol {
    width: $legend-symbol-size-px;
    height: $legend-symbol-size-px;
    margin-right: 4px;
    display: inline-block;
    position: relative;
    top: 1px;
}
.machinata-reporting-report .machinata-reporting-node .legend .legend-item .legend-title {
    font-size: $legend-size-px;
    display: inline-block;
}