﻿

.machinata-reporting-studio {
    width: 100%;
    height: 100%;
    position: relative;
}

.machinata-reporting-studio .tools {
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0%;
    top: 0%;
}
.machinata-reporting-studio .tools .menubar {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.machinata-reporting-studio .tools .tool-panel {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 48px;
    bottom: $padding-px;
    padding: $padding-px;
    box-sizing: border-box;

    background-color: $solid-color;
}
.machinata-reporting-studio .tools .tool-panel.option-scroll {
    overflow-y: auto;
}
.machinata-reporting-studio .tools .tool-panel.code textarea {
    width: 100%;
    height: 100%;

    font-family: monospace;
    font-size: 0.8em;
    border: none;
    background-color: transparent;
}
.machinata-reporting-studio .tools .tool-panel.settings {
    column-count: 5;
}
.machinata-reporting-studio .tools .tool-panel.settings .group {
    break-inside: avoid-column;
    padding: $padding-half-px;
}
.machinata-reporting-studio .tools .tool-panel.settings .custom-size .x {
    padding-left: $padding-half-px;
    padding-right: $padding-half-px;
}
.machinata-reporting-studio .tools .tool-panel.settings .custom-size .units {
    padding-left: $padding-half-px;
}
.machinata-reporting-studio .tools .tool-panel.settings .custom-size input {
    border: none;
    width: 80px;
    background-color: $page-color;
    padding: $padding-half-px;
}


.machinata-reporting-studio .tool-panel .machinata-reporting-checkbox {
    padding-bottom: $padding-half-px;
}
.machinata-reporting-studio .tool-panel .machinata-reporting-checkbox label .icon {
    background-color: $page-color;
}
.machinata-reporting-studio .tool-panel .machinata-reporting-checkbox input:checked ~ label .icon {
    background-color: $button-primary-normal-bg-color;
    fill: $button-primary-normal-text-color;
}





.machinata-reporting-studio .preview {
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0%;
    bottom: 0%;

    border: 2px dashed black;
    box-sizing: border-box;

    transition: border-color .25s 0s ease-out;
}
.machinata-reporting-studio .preview:hover {
    border-color: transparent;
}


.machinata-reporting-studio .export {
}
.machinata-reporting-studio .export .ui-button {
    margin-left: 0px;
    margin-bottom: $padding-px;
}