﻿


/* =========================================================================================================== */
/* ======== Placeholder Node ================================================================================= */
/* =========================================================================================================== */

.machinata-reporting-report .machinata-reporting-node.type-PlaceholderNode {
    min-height: 160px;
    height: 400px;
}
.machinata-reporting-node.type-PlaceholderNode .vertical-aligner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}
.machinata-reporting-node.type-PlaceholderNode .vertical-alignee {
    color: $gray5;
    font-size: $h2-size-px;
    overflow: hidden;
    padding: $padding-px;
    /*word-break: break-all;*/
}
.machinata-reporting-report.layout-tablet .machinata-reporting-node.type-PlaceholderNode .vertical-alignee,
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-PlaceholderNode .vertical-alignee,
.machinata-reporting-node.type-PlaceholderNode.style-CS_W_Block1x2 .vertical-alignee,
.machinata-reporting-node.type-PlaceholderNode.style-CS_W_Block1x1 .vertical-alignee {
    font-size: $h3-size-px;
}



