﻿


/* =========================================================================================================== */
/* ======== Info Card Node ================================================================================= */
/* =========================================================================================================== */

.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .flippable-contents,
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .flippable-front {
    height: 100%;
}


.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents {
    padding: $padding-px;
}

.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .text {
    
}
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .text p {
    width: 70%;
}
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents .text,
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents .text * {
    DISABLED_color: white;
}
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents .text img {
    width: 120px;
    float: left;
    margin-right: $padding-px;
    margin-bottom: $padding-px;
}
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents .text img + h3 {
    padding-top: $padding-half-px;
}
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents .image {
    width: 23%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-left: 1px solid white;
    border-top: 1px solid white;
}
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents p, 
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents h1, 
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents h2, 
.machinata-reporting-report .machinata-reporting-node.type-InfoCardNode .contents h3 {
    margin: 0px;
}







