﻿

/* =========================================================================================================== */
/* ======== Node Styles: Nerves Block System ====================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block1x1,
.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block2x1,
.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block4x1,
.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block1x2,
.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block2x2 {
    float: left;
}


.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-BlockCustom .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x1 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x1 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block4x1 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x2 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x2 .vegaview {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto !important; /* EI11 support */
    height: unset !important;
}

.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x1.option-toolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x1.option-toolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block4x1.option-toolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x2.option-toolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x2.option-toolbar .vegaview {
    top: calc($toolbar-height-px + $line-size-px);
}
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x1.option-subtoolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x1.option-subtoolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block4x1.option-subtoolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x2.option-subtoolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x2.option-subtoolbar .vegaview {
    bottom: calc($toolbar-small-height-px + $line-size-px);
}



.machinata-reporting-node.type-LayoutNode .machinata-reporting-node.slot-child.style-CS_W_Overview_FullWidth {
    float: none;
}



.machinata-reporting-report:not(.machinata-reporting-profile-fullscreen) .machinata-reporting-node.type-SectionNode.style-CS_W_OverviewSection {
    margin-top: 0px;
}
.machinata-reporting-node.type-SectionNode.style-CS_W_OverviewSection .machinata-reporting-node.type-LayoutNode {
    margin-bottom: calc($padding-quadruple-px + $padding-double-px);
}
.machinata-reporting-node.type-SectionNode.style-CS_W_OverviewSection .section-title {
    display: none;
}




/* =========================================================================================================== */
/* ======== Node Styles: bmpi Column System ====================================================================================== */
/* =========================================================================================================== */

DEPRECATED_.machinata-reporting-node.style-CS_W_PaddedNodes,
DEPRECATED_.machinata-reporting-node.style-CS_C_Two_Columns,
DEPRECATED_.machinata-reporting-node.style-CS_C_Four_Charts,
DEPRECATED_.machinata-reporting-node.style-CS_W_OverviewPanel_DEP {
    margin-left: -$padding-double-px;
    margin-right: -$padding-double-px;
}
DEPRECATED_.machinata-reporting-node.style-CS_W_PaddedNodes .machinata-reporting-node,
DEPRECATED_.machinata-reporting-node.style-CS_C_Two_Columns .machinata-reporting-node.slot-child,
DEPRECATED_.machinata-reporting-node.style-CS_C_Four_Charts .machinata-reporting-node.slot-child,
DEPRECATED_.machinata-reporting-node.style-CS_W_OverviewPanel_DEP .machinata-reporting-node.slot-child {
    border: $padding-double-px solid white; /* creates a 2rem spacing */
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

/* =========================================================================================================== */
/* ======== Node Styles: Placeholders ======================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder {
    min-height: 400px;
}
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder .body {
    height: 100%;
}


/* =========================================================================================================== */
/* ======== Node Styles: Sections ======================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.type-SectionNode.style-W_StrongSectionHeadings h1.section-title {
    display: none;
}
.machinata-reporting-node.type-SectionNode.style-W_StrongSectionHeadings h2.section-title, 
.machinata-reporting-node.type-SectionNode.style-W_StrongSectionHeadings h3.section-title, 
.machinata-reporting-node.type-SectionNode.style-W_StrongSectionHeadings h4.section-title {
    margin-bottom: 32px;
    margin-top: 80px;
    border-bottom: 2px solid;
}


/* =========================================================================================================== */
/* ======== Node Styles: Margins ======================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.style-W_NoBottomMargin {
    margin-bottom: 0px;
}
.machinata-reporting-node.style-W_NoBottomMargin.type-SectionNode .section-title {
    margin-bottom: 0px;
}
.machinata-reporting-node.style-W_NoTopMargin {
    margin-top: 0px;
}
.machinata-reporting-node.type-ToggleNode.style-W_MenuBarTightMargins .machinata-reporting-menubar {
    margin-top: 0px;
    margin-bottom: $padding-double-px;
}

/* =========================================================================================================== */
/* ======== Node Styles: Chart Heights ======================================================================== */
/* =========================================================================================================== */

.machinata-reporting-report .machinata-reporting-node.style-W_ChartNormal.type-VegaNode .vegaview {
    height: $node-height-chart;
}
.machinata-reporting-report.layout-mobile .machinata-reporting-node.style-W_ChartNormal.type-VegaNode .vegaview {
    height: $node-height-chart-mobile;
}
.machinata-reporting-report .machinata-reporting-node.style-W_ChartLarge.type-VegaNode .vegaview {
    height: $node-height-chart-large;
}
.machinata-reporting-report .machinata-reporting-node.style-W_ChartHuge.type-VegaNode .vegaview {
    height: $node-height-chart-huge;
}
.machinata-reporting-report .machinata-reporting-node.style-W_ChartSuperHuge.type-VegaNode .vegaview {
    height: $node-height-chart-superhuge;
}
.machinata-reporting-report .machinata-reporting-node.style-W_ChartSlim.type-VegaNode .vegaview {
    height: $node-height-chart-slim;
}



/* =========================================================================================================== */
/* ======== Node Styles: Tables ====================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.style-W_TableLastColumnRightAligned.type-VerticalTableNode {
    /* set manually via table option */
}

.machinata-reporting-node.type-VerticalTableNode.style-W_MetaInfo .machinata-reporting-table td,
.machinata-reporting-node.type-VerticalTableNode.style-W_MetaInfo .machinata-reporting-table th {
    padding: 8px;
    padding-top: $padding-half-px;
    padding-bottom: $padding-half-px;
    padding-left: 0px;
    padding-right: 0px;
}
.machinata-reporting-node.type-VerticalTableNode.style-W_MetaInfo .machinata-reporting-table.option-single-column thead {
    display: none !important;
}


/* =========================================================================================================== */
/* ======== Node Styles: Sample Data ========================================================================= */
/* =========================================================================================================== */

.machinata-reporting-node.style-W_SampleData .machinata-reporting-toolbar .title:after {
    content: 'Sample Data';
    margin-left: $padding-half-px;
    font-weight: normal;
    animation: machinata-reporting-animation-fadeinout 2s ease-in-out infinite;

}
@keyframes machinata-reporting-animation-fadeinout {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

/* =========================================================================================================== */
/* ======== Node Styles: Backgrounds ========================================================================= */
/* =========================================================================================================== */

.machinata-reporting-node.style-W_SolidBackgroundWithBorder {
    background-color: $chrome-solid-bg-color;

    padding-left: $padding-double-px;
    padding-right: $padding-double-px;
    padding-top: $node-vertical-spacing-px;
    padding-bottom: $node-vertical-spacing-px;
}

/* =========================================================================================================== */
/* ======== Node Styles: Page Breaks ========================================================================= */
/* =========================================================================================================== */

.machinata-reporting-node.style-W_PageBreakAfterAlways {
    page-break-after: always;
}
.machinata-reporting-node.style-W_PageBreakInsideAvoid {
    page-break-inside: avoid;
}
.machinata-reporting-node.style-W_PageBreakBeforeAlways {
    page-break-before: always;
}

/* =========================================================================================================== */
/* ======== Node Styles: Debugging ========================================================================= */
/* =========================================================================================================== */

.machinata-reporting-node.style-W_DebugBorder {
    box-shadow: 0px 0px 0px 1px blue;
}
.machinata-reporting-node.style-W_DebugBorder.type-VegaNode svg {
    box-shadow: inset 0px 0px 0px 1px red;
}