﻿


/* =========================================================================================================== */
/* ======== Profile: print (simulation) ====================================================================== */
/* =========================================================================================================== */


.machinata-reporting-report.machinata-reporting-profile-print .ui-standard-width {
    min-width: 680px; /* 180mm */
    max-width: 680px;  /* 180mm */
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-VegaNode.chrome-solid .machinata-reporting-toolbar {
    border-top: 1px solid black;
}
.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-VegaNode.chrome-solid .machinata-reporting-toolbar .tool {
    display: none;
}
.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-VegaNode.chrome-solid .node-bg,
.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-VegaNode.chrome-solid .machinata-reporting-toolbar {
    background-color: transparent;
}
.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-VegaNode .vegaview {
    padding: 0px;
}
.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-VegaNode .vegaview svg {
    left: 0px;
    top: 0px;
}

.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.slot-child, 
.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.layout-child {
    border-width: 7.5px; /* 4mm/2 */
}

.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-LayoutNode {
    margin-left: -7.5px; /* 4mm/2 */
    margin-right: -7.5px; /* 4mm/2 */
}

.machinata-reporting-report.machinata-reporting-profile-print .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.type-VegaNode .vegaview {
    height: 200px;
}

