﻿

.machinata-reporting-styling input[type="date"], 
.machinata-reporting-styling input[type="email"], 
.machinata-reporting-styling input[type="password"], 
.machinata-reporting-styling input[type="search"], 
.machinata-reporting-styling input[type="text"], 
.machinata-reporting-styling input[type="number"], 
.machinata-reporting-styling textarea, 
.machinata-reporting-styling select {
    -webkit-appearance: none;
    padding: $padding-px;
    width: auto;
    border: 0px;
    border: $line-size-px solid #999;
    border-radius: 0;
    font-size: $label-size-px;
    outline: 0;
    transition: border-color .25s 0s ease-out;
}

.machinata-reporting-styling input[type="date"]:focus, 
.machinata-reporting-styling input[type="email"]:focus, 
.machinata-reporting-styling input[type="password"]:focus, 
.machinata-reporting-styling input[type="search"]:focus, 
.machinata-reporting-styling input[type="text"]:focus, 
.machinata-reporting-styling input[type="number"]:focus, 
.machinata-reporting-styling textarea:focus, 
.machinata-reporting-styling select:focus {
    border-color: $black;
}
