﻿

/* =========================================================================================================== */
/* ======== RichText Node ==================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.type-RichTextNode {

}
.machinata-reporting-node.type-RichTextNode .body {
    margin-top: $padding-quadruple-px;
    font-size: $text-size-px;
}
.machinata-reporting-profile-webprint .machinata-reporting-node.type-RichTextNode .body {
    margin-top: 0px;
}




.machinata-page-layout-desktop .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_TwoColumn .body,
.machinata-page-layout-tablet .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_TwoColumn .body {
    column-count: 2;
    column-gap: $padding-quadruple-px;
}




.machinata-reporting-node.type-RichTextNode .body * {
    font-size: $text-size-px;
}
.machinata-reporting-node.type-RichTextNode.chrome-solid .body {
    padding: $padding-px;
}
.machinata-reporting-node.type-RichTextNode .body h1 {
    margin-top: 0px;
    font-size: $h2-size-px;
    margin-bottom: $padding-double-px;
}
.machinata-page-layout-mobile .machinata-reporting-node.type-RichTextNode .body h1 {
    font-size: calc($h2-size-px * $mobile-subtitle-size-factor);
}
.machinata-reporting-node.type-RichTextNode .body h2 {
    margin-top: 0px;
    font-size: $text-size-px;
    font-family: $text-font;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 1em;
}
/* margins */
.machinata-reporting-node.type-RichTextNode .body p,
.machinata-reporting-node.type-RichTextNode .body ol,
.machinata-reporting-node.type-RichTextNode .body ul {
    margin-top: $padding-px;
    margin-bottom: $padding-double-px;
}

.machinata-reporting-node.type-RichTextNode .body img {
    width: 100%;
    height: auto;
}
.machinata-reporting-node.type-RichTextNode .body ul,
.machinata-reporting-node.type-RichTextNode .body ol {
    margin-left: $padding-double-px;
}
.machinata-reporting-node.type-RichTextNode .body li {
    list-style: square;
}


.machinata-reporting-node.type-RichTextNode .body a {
    color: $text-color;
    text-decoration: underline;
}
.machinata-reporting-node.type-RichTextNode .body b, 
.machinata-reporting-node.type-RichTextNode .body strong {
    font-weight: bold;
    font-style: normal;
}
.machinata-reporting-node.type-RichTextNode .body em,
.machinata-reporting-node.type-RichTextNode .body i {
    font-style: italic;
}
.machinata-reporting-node.type-RichTextNode .body u {
    font-style: normal;
    text-decoration: underline double;
}
.machinata-reporting-node.type-RichTextNode .body mark {
    color: $page-color;
    background-color: $text-color;
}
.machinata-reporting-node.type-RichTextNode .body footnote {
    
}






/* Style: CS_W_RichText_Overview */

.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body {
    margin-bottom: $padding-quadruple-px;
}
.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h1 {
    font-size: $h1-size-px;
    margin-top: $node-vertical-spacing-px;
    margin-bottom: $padding-double-px;
}
.machinata-page-layout-mobile .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h1,
.machinata-page-layout-tablet .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h1 {
    font-size: calc($h1-size-px * $mobile-title-size-factor);
    margin-top: calc($node-vertical-spacing-px * $mobile-title-size-factor);
}
.machinata-reporting-profile-webprint .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h1 {
    margin-top: $padding-quadruple-px;
}
.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h2 {
    margin-top: 0px;
    font-size: $h2-size-px;
    font-family: $headline-font;
    font-weight: $headline-weight;
    margin-bottom: 24px;
    DEP_color: $text-color;
}
.machinata-page-layout-mobile .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h2,
.machinata-page-layout-tablet .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h2 {
    font-size: calc($h2-size-px * $mobile-subtitle-size-factor);
}

.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h3,
.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h3 * {
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: $h3-size-px;
}
.machinata-page-layout-mobile .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h3,
.machinata-page-layout-tablet .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h3 {
    font-size: calc($h3-size-px * $mobile-subtitle-size-factor);
}








/* Style: .style-CS_W_RichText_Sidebox */

.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Sidebox .body {
    padding: $padding-double-px;
}
.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Sidebox .body :last-child {
    margin-bottom: 0px;
}






/* Style: .style-W_RichText_Rating */

.machinata-reporting-node.type-RichTextNode.style-W_RichText_Rating {
    min-height: 160px;
}
.machinata-reporting-node.type-RichTextNode.style-W_RichText_Rating .node-bg {
    margin-bottom: 0px;
    margin-top: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.machinata-reporting-node.type-RichTextNode.style-W_RichText_Rating.option-toolbar .node-bg {
    top: calc($toolbar-height-px + $line-size-px);
}
.machinata-reporting-node.type-RichTextNode.style-W_RichText_Rating.option-subtoolbar .node-bg {
    bottom: calc($toolbar-small-height-px + $line-size-px);
}
.machinata-reporting-node.type-RichTextNode.style-W_RichText_Rating .body p {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: $h2-size-px;
}