﻿

/* =========================================================================================================== */
/* ======== Print Composer =================================================================================== */
/* =========================================================================================================== */


.machinata-printcomposer {

}

.machinata-printcomposer-nocontent h3 {
    max-width: 600px;
}

.machinata-printcomposer-screens {
    max-width: 500px;
}

.machinata-printcomposer-screens .item {
    margin-bottom: $padding-px;
}


