﻿

/* =========================================================================================================== */
/* ======== Catalog ========================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-catalog-mandate-template {
    display: none !important;
}

.machinata-reporting-catalog-report-template {
    display: none !important;
}


.machinata-reporting-catalog .machinata-reporting-catalog-report-item .attribute-reporting-date {
    DEPRECATED_text-align: right;
    vertical-align: middle;
}
.machinata-reporting-catalog .machinata-reporting-catalog-report-item .type-tools .icon {
    transition: .25s opacity ease-in-out;
    opacity: 0;
}
.machinata-reporting-catalog .machinata-reporting-catalog-report-item:hover .type-tools .icon {
    opacity: 1;
}
.machinata-reporting-catalog .machinata-reporting-catalog-report-item:last-of-type td {
    DEPRECATED_border-bottom-color: $black;
}
.machinata-reporting-catalog.has-reports .machinata-reporting-show-reports {
    display: none;
}
