﻿


/* =========================================================================================================== */
/* ======== TileG rid Node ================================================================================= */
/* =========================================================================================================== */


.machinata-reporting-report .machinata-reporting-node.type-TileGridNode {
    z-index: 10;
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles {
    margin-left: -8px;
    margin-right: -8px;
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile {
    float: left;
    position: relative;
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile .tile-padding {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode.is-compressed .tiles .tile .tile-padding {
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile .tile-front,
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile .tile-back {
    position: absolute;
    width: 100%;
    height: 100%;
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile .tile-front {

}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile .back-front {
    
}



.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile img {
    width: 100%;
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile.positive img{
    
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile.negative img{
    
}




.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile .text {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    text-overflow: ellipsis;
    padding: 8px;
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile .text a {
    color: unset;
}
.machinata-reporting-report .machinata-reporting-node.type-TileGridNode .tiles .tile.option-zoom-on-hover .text {
    font-size: 0.75em;
}











