﻿/* https://www.periodni.com/de/mathematische_und_chemische_formeln_auf_web.html */

.machinata-reporting-equation .fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.machinata-reporting-equation .fraction > span {
    display: block;
    padding-top: 0.15em;
}
.machinata-reporting-equation .fraction span.fdn {border-top: thin solid black;}
.machinata-reporting-equation .fraction span.bar {display: none;}
.machinata-reporting-equation .intsuma {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.machinata-reporting-equation .intsuma > span {
    display: block;
    font-size: 70%;
}
.machinata-reporting-equation .intsuma .lim-up {
    margin-bottom: -1.0ex;
}
.machinata-reporting-equation .intsuma .lim {
    margin-top: -0.5ex;
}
.machinata-reporting-equation .intsuma .sum {
    font-size: 1.5em;
    font-weight: lighter;
}
.machinata-reporting-equation .intsuma .sum-frac {
    font-size: 1.5em;
    font-weight: 100;
}