﻿
.machinata-reporting-checkbox {
    padding-bottom: $padding-double-px;
}
.machinata-reporting-checkbox input,
.machinata-reporting-checkbox label *,
.machinata-reporting-checkbox label {
    cursor: pointer;
}


.machinata-reporting-checkbox input {
    width: 1px;
    height: 1px;
    margin-right: -1px;
    visibility: hidden;
}
.machinata-reporting-checkbox label {
}

.machinata-reporting-checkbox label .icon {
    background-color: $button-secondary-normal-bg-color;
    width: $icon-size-px;
    height: $icon-size-px;
    border: 1px solid $button-secondary-normal-border-color;
    position: relative;
    top: 4px;
    margin-right: $padding-px;
    fill: transparent;

    border-radius: $button-border-radius-px;
}
.machinata-reporting-checkbox input:checked ~ label .icon {
    background-color: $button-primary-normal-bg-color;
    fill: $button-primary-normal-text-color;
}