﻿


/* =========================================================================================================== */
/* ======== Legend Node ====================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-LegendNode {
}
.machinata-reporting-node.type-LegendNode.chrome-light .legend {
    padding-left: 0px;
    padding-right: 0px;
}
