﻿
.machinata-reporting-tooltip {
    padding: $padding-px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    transition: none;
    border-radius: $button-border-radius-px;
    color: $tooltip-text-color;
    font-family: $text-font;
}
.machinata-reporting-tooltip, 
.machinata-reporting-tooltip .arrow:after {
    background: $tooltip-bg-color;
}
.machinata-reporting-tooltip .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.machinata-reporting-tooltip .arrow.top {
    top: -16px;
    bottom: auto;
}
.machinata-reporting-tooltip .arrow.left {
    left: 20%;
}
.machinata-reporting-tooltip .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
}
.machinata-reporting-tooltip .arrow.top:after {
    bottom: -20px;
    top: auto;
}
.ui-helper-hidden-accessible {
    display: none;
}
