﻿



/* =========================================================================================================== */
/* ======== Section Node ===================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-SectionNode h2,
.machinata-reporting-node.type-SectionNode h3,
.machinata-reporting-node.type-SectionNode h4 {
    margin-bottom: $padding-double-px;
}
.machinata-reporting-report.type-SectionNode h2:first-of-type {
    margin-top: $node-vertical-spacing-px; /* BUG: wrong selector (should be .machinata-reporting-node) */
}


DISABLED_.machinata-reporting-node.type-SectionNode {
    margin-bottom: 0px;
}




.machinata-reporting-node.type-SectionNode.option-accordion {
    margin-bottom: 0px;
}

.machinata-reporting-node.type-SectionNode.option-accordion > .section-title {
    margin-bottom: 0px;
    font-size: $h2-size-px;
    font-family: $text-font;
    position: relative;
}
.machinata-reporting-node.type-SectionNode.option-accordion > .section-title .accordion-state {
    width: $icon-size-px;
    height: $icon-size-px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    transition: transform ease-in-out $standard-transition-duration;
}
.machinata-reporting-node.type-SectionNode.option-accordion > .section-title,
.machinata-reporting-node.type-SectionNode.option-accordion > .section-title * {
    cursor: pointer;
}
.machinata-reporting-node.type-SectionNode.option-accordion.option-accordion-closed > .section-title .accordion-state {
    transform: translateY(-50%) rotateZ(180deg);
}
.machinata-reporting-node.type-SectionNode.option-accordion.style-W_AccordionToggleBottomMargin.option-accordion-opened > .section-title {
    margin-bottom: $node-vertical-spacing-px;
}



.machinata-reporting-node.type-SectionNode.style-W_TitlePadding > .section-title {
}
.machinata-reporting-node.type-SectionNode.style-W_TitlePadding > .section-title {
    padding-top: $padding-double-px;
    padding-bottom: calc($padding-double-px - 0.1em);
    padding-left: $padding-double-px;
    padding-right: $padding-double-px;
}
.machinata-reporting-node.type-SectionNode.style-W_TitlePadding > .section-title .accordion-state {
    right: $padding-double-px;
}