﻿.machinata-reporting-debug-panel {
    display: table;
    border-collapse: collapse;
    background-color: lightblue;
    margin-top: $padding-double-px;
    margin-bottom: $padding-double-px;
}
.machinata-reporting-debug-panel .keyval {
    display: table-row;
}
.machinata-reporting-debug-panel .keyval {
    display: table-row;
}
.machinata-reporting-debug-panel th,
.machinata-reporting-debug-panel td,
.machinata-reporting-debug-panel .key,
.machinata-reporting-debug-panel .val {
    display: table-cell;
    padding: $padding-px;
    font-family: monospace;
}
.machinata-reporting-debug-panel td.title {
    font-weight: bold;
    font-size: 1.3em;
}

