﻿


/* =========================================================================================================== */
/* ======== Toggle Node            =========================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-ToggleNode .bb-debug-panel {
    margin-top: 0px;
}
.machinata-reporting-node.type-ToggleNode .children {
    margin-top: 0px;
}

.machinata-reporting-node.type-ToggleNode .machinata-reporting-menubar {
    margin-top: $padding-double-px;
    margin-bottom: $node-vertical-spacing-px;
}



.machinata-reporting-report:not(.machinata-reporting-profile-webprint) .machinata-reporting-node.type-ToggleNode:not(.menu-selection) .machinata-reporting-node {
    margin-top: 0px;
    margin-bottom: 0px;
}
.machinata-reporting-report:not(.machinata-reporting-profile-webprint) .machinata-reporting-node.type-ToggleNode .machinata-reporting-node.type-VerticalTableNode {
    margin-bottom: $padding-quadruple-px;
}


.machinata-reporting-profile-webprint .machinata-reporting-node.type-ToggleNode {
    background-color: transparent !important;
}


