﻿


/* =========================================================================================================== */
/* ======== Online Map Node ================================================================================= */
/* =========================================================================================================== */


.machinata-reporting-node.type-OnlineMapNode .map {
    width: 100%;
    height: 400px;
}

.machinata-reporting-report .machinata-reporting-node.type-OnlineMapNode .map {
    width: 100%;
    height: $node-height-chart-large;
}


