﻿


/* =========================================================================================================== */
/* ======== Layout Node ====================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-LayoutNode {
    margin-top: -$padding-double-px;
    margin-left: -$padding-double-px;
    margin-right: -$padding-double-px;
}
.machinata-reporting-node.type-LayoutNode .machinata-reporting-node.slot-child,
.machinata-reporting-node.type-LayoutNode .machinata-reporting-node.layout-child {
    border: $padding-double-px solid transparent; /* creates a 2rem spacing */
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}



.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-LayoutNode,
.machinata-reporting-report.layout-tablet .machinata-reporting-node.type-LayoutNode {
    margin-top: -$padding-half-px;
    margin-left: -$padding-half-px;
    margin-right: -$padding-half-px;
}
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.slot-child,
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.layout-child,
.machinata-reporting-report.layout-tablet .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.slot-child,
.machinata-reporting-report.layout-tablet .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.layout-child {
    border-width: $padding-half-px; 
}

DISABLED_.machinata-reporting-node.type-LayoutNode.style-CS_W_Two_Columns {
    margin-bottom: 0px;
}




/* =========================================================================================================== */
/* ======== Layout VBarSandwich ====================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.type-LayoutNode.style-VBarSandwich {
    margin-top: 0px;
}
.machinata-reporting-node.type-LayoutNode.style-VBarSandwich:first-child  {
    
}
.machinata-reporting-node.type-LayoutNode.style-VBarSandwich .machinata-reporting-node  {
    border-top: none;
    border-bottom: none;
}
.machinata-reporting-node.type-LayoutNode.style-VBarSandwich .machinata-reporting-node.type-TileGridNode  {
    border-top: none;
    border-bottom: none;
    margin-top: -8px;
    margin-bottom: -8px;
}
.machinata-reporting-node.type-LayoutNode.style-VBarSandwich .machinata-reporting-node.type-TileGridNode .node-bg  {
    padding-left: calc(16px + 8px + 4px);
    padding-right: calc(16px + 8px + 4px);
}









/* Style: style-W_LayoutChild_FullSizeContent */
.machinata-reporting-node.style-W_LayoutChild_FullSizeContent .node-bg {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.machinata-reporting-node.style-W_LayoutChild_FullSizeContent.option-toolbar .node-bg {
    top: calc($toolbar-height-px + $line-size-px);
}
.machinata-reporting-node.style-W_LayoutChild_FullSizeContent.option-subtoolbar .node-bg {
    bottom: calc($toolbar-small-height-px + $line-size-px);
}