﻿

/* =========================================================================================================== */
/* ======== Metrics Node ===================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-MetricsNode  {
    
}
.machinata-reporting-node.type-MetricsNode .sizer {
    overflow: hidden;
}
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-MetricsNode.is-overflowing .sizer {
    overflow-y: auto;
}
.machinata-reporting-report .machinata-reporting-node.type-MetricsNode.style-NoStyle {
    min-height: 400px;
}
.machinata-reporting-node.type-MetricsNode .items {
    display: table;
    width: 100%;
    border-collapse: collapse;
}


.machinata-reporting-node.type-MetricsNode .sizer .items {
    height: 100%;
}



.machinata-reporting-node.type-MetricsNode .items .group {
    display: table-row;
}
.machinata-reporting-node.type-MetricsNode .items .group .item {
    display: table-cell;
    border: $line-size-px solid $white;
    padding: $padding-px;
}
.machinata-reporting-node.type-MetricsNode.is-compressed .items .group .item {
    padding-top: $padding-half-px;
    padding-bottom: $padding-half-px;
}
.machinata-reporting-node.type-MetricsNode.chrome-light .items .group .item {
    padding-left: 0px;
    padding-right: 0px;
}
.machinata-reporting-node.type-MetricsNode .items.max-columns-1 .group .item {
    border-color: $gray4;
    vertical-align: middle;
}
.machinata-reporting-node.type-MetricsNode .items.max-columns-1 .group:last-of-type .item {
    border-bottom: none;
}

.machinata-reporting-node.type-MetricsNode .items .group:first-child .item {
    border-top: none;
}
.machinata-reporting-node.type-MetricsNode .items + .items .item {
    border-top: none;
}
.machinata-reporting-node.type-MetricsNode .items .item:first-child {
    border-left: none;
}
.machinata-reporting-node.type-MetricsNode .items .item:last-child {
    border-right: none;
}



.machinata-reporting-node.type-MetricsNode .layout-1x1-1x3 .group-2 .item  {
    height: 25%;
}
.machinata-reporting-node.type-MetricsNode .layout-1x1-1x3-1x3 .group:not(.group-1) .item,
.machinata-reporting-node.type-MetricsNode .layout-1x1-1x2-1x2 .group:not(.group-1) .item {
    height: 25%;
}

.machinata-reporting-node.type-MetricsNode .items.is-grid.grid-4x4 .group  {
    height: 25%;
}
.machinata-reporting-node.type-MetricsNode .items.is-grid.grid-3x3 .group  {
    height: 33%;
}
.machinata-reporting-node.type-MetricsNode .items.is-grid.grid-2x2 .group  {
    height: 50%;
}

.machinata-reporting-node.type-MetricsNode .items .group.layout-1x2 .item  {
    width: 50%;
}
.machinata-reporting-node.type-MetricsNode .items .group.layout-1x3 .item  {
    width: 33%;
}
.machinata-reporting-node.type-MetricsNode .items .group.layout-1x4 .item  {
    width: 25%;
}
.machinata-reporting-node.type-MetricsNode .items .group.layout-1x5 .item  {
    width: 20%;
}
.machinata-reporting-node.type-MetricsNode .items .group.layout-1x6 .item  {
    width: 16.66%;
}



.machinata-reporting-node.type-MetricsNode .items .group .item  {
    overflow: hidden;
    position: relative;
}




.machinata-reporting-node.type-MetricsNode .items .group .item.is-link,
.machinata-reporting-node.type-MetricsNode .items .group .item.is-link * {
    cursor: pointer;
}


.machinata-reporting-node.type-MetricsNode .items .group .item.is-link {
    transition-property: background-color;
    transition-duration: $standard-transition-duration;
    transition-timing-function: ease-in-out;
}
.machinata-reporting-node.type-MetricsNode .items .group .item.is-link:hover {
    background-color: $gray2;
}

.machinata-reporting-node.type-MetricsNode .items .group .item.is-link .link-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: $toolbar-icon-size-px;
    height: $toolbar-icon-size-px;
    opacity: 0;
    
    transition-property: opacity;
    transition-duration: $standard-transition-duration;
    transition-timing-function: ease-in-out;
}
.machinata-reporting-node.type-MetricsNode .items .group .item.is-link:hover .link-icon {
    opacity: 1;
}
.machinata-reporting-node.type-MetricsNode .items .group .item.is-link .link-bg {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: $gray2;
    opacity: 0;
    
    transition-property: opacity;
    transition-duration: $standard-transition-duration;
    transition-timing-function: ease-in-out;
}
.machinata-reporting-node.type-MetricsNode .items .group .item.is-link:hover .link-bg {
    opacity: 1;
}


.machinata-reporting-node.type-MetricsNode .items .group .item .tag {
    float: left;
    width: 42px; /* $toolbar-height - 6px = 40px*/
    height: $toolbar-height-px;
    border-right: $line-size-px solid black;
    padding-right: $padding-px;
    margin-right: $padding-px;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .tag.number {
    line-height: $toolbar-height-px;
    text-align: center;
    font-size: 28px;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .tag.date .month {
    font-size: $text-size-px;
    position: relative;
    top: 2px;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .tag.date .day {
    font-size: 28px;
    position: relative;
    top: -2px;
}

.machinata-reporting-node.type-MetricsNode .items .group .item .line {
    display: none;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .label {
    white-space: break-spaces;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .icon.tag {

    line-height: $toolbar-height-px;
    text-align: center;
    position: relative;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .icon.tag svg {
    width: $icon-size-px;
    height: $icon-size-px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}
.machinata-reporting-node.type-MetricsNode .items .group .item .value {
    font-size: $h2-size-px;
    font-weight: $metrics-value-weight;
}
.machinata-reporting-node.type-MetricsNode.is-compressed .items .group .item .value {
    font-size: calc($h2-size-px * 0.6);
}
.machinata-reporting-node.type-MetricsNode.chrome-solid .items .group .item .value,
.machinata-reporting-node.type-MetricsNode.chrome-light .items .group .item .value {
    color: $metrics-value-color;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .subValue {
    font-size: $text-size-px;
    color: $gray5;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .subLabel {
    font-size: $text-size-px;
}

.machinata-reporting-node.type-MetricsNode .items .group .item .delta {
    font-size: $text-size-px;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .delta .icon {
    position: relative;
    top: 3px;
    left: -2px;
    width: $icon-size-trend-px;
    height: $icon-size-trend-px;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .delta.color-red {
    color: $red-color;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .delta.color-red .icon {
    fill: $red-color;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .delta.color-green {
    color: $green-color;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .delta.color-green .icon {
    fill: $green-color;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .delta.color-amber {
    color: $amber-color;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .delta.color-amber .icon {
    fill: $amber-color;
}



.machinata-reporting-node.type-MetricsNode .items .group .item .alert.option-flag {
    background-color: $red-color;
    width: $padding-quadruple-px;
    height: $padding-quadruple-px;
    position: absolute;
    right: -$padding-double-px;
    top: -$padding-double-px;
    transform: rotateZ(45deg);
}
.machinata-reporting-node.type-MetricsNode .items .group .item .alert.option-flag.color-red {
    background-color: $red-color;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .alert.option-flag.color-green {
    background-color: $green-color;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .alert.option-flag.color-amber {
    background-color: $amber-color;
}
.machinata-reporting-node.type-MetricsNode .items .group .item .alert.option-icon svg {
    position: absolute;
    right: 6px;
    top: 6px;
    width: $icon-size-px;
    height: $icon-size-px;
}




.machinata-reporting-node.type-MetricsNode .items .group.group-1 .item.option-spanned .label {
    font-size: $h4-size-px;
}
.machinata-reporting-node.type-MetricsNode .items .group.group-1 .item.option-spanned .subLabel {
    font-size: $text-size-px;
}
.machinata-reporting-node.type-MetricsNode .items .group.group-1 .item.option-spanned .value {
    font-size: $h1-size-px;
}
.machinata-reporting-node.type-MetricsNode.is-compressed .items .group.group-1 .item.option-spanned .value {
    font-size: calc($h1-size-px * 0.8);
}

.machinata-reporting-node.type-MetricsNode.chrome-dark .items .item {
    color: $chrome-dark-text-color;
}
.machinata-reporting-node.type-MetricsNode.chrome-dark .items .item .subValue {
    color: $gray4;
}




.machinata-reporting-node.type-MetricsNode .items.no-value.has-number .item .label,
.machinata-reporting-node.type-MetricsNode .items.no-value.has-date .item .label  {
    padding-top: 5px;
}


.machinata-reporting-node.type-MetricsNode .items.no-value .item .label  {
    font-weight: bold;
}
.machinata-reporting-node.type-MetricsNode .items.no-value .item .subValue  {
    color: unset;
}




.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1 .items .group .item .label {
    DEP_margin-top: -0.2em;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1 .items .group .item .value {
    font-size: $text-size-px;
    font-weight: bold;
}


/* CS_W_MetaInfo: growing layout, similar to small 1x1 blocks */

.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .option-fullsize-content {
    position: relative;
    top: 0px;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .items.max-columns-1.is-key-value {
    position: relative;
}

.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .items.max-columns-1 .group:last-of-type .item,
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .items .item,
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .items .item.is-compressed {
    border: none;
    font-size: $text-size-px;
    border-bottom: $line-size-px solid $black;
    padding-top: 4px;
    padding-bottom: 4px;
    width: auto;
    height: auto;
    vertical-align: top;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .items .item.has-value {
    
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .items .item .line {
    display: none;
}

.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .group .item .label,
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo.is-compressed .group .item .label {
    font-weight: normal;
    font-size: $text-size-px;
    text-align: left;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .group .item .value,
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo.is-compressed .group .item .value {
    font-size: $text-size-px;
    float: right;
    text-align: right;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .group .item .subValue {
    font-size: 0.8em;
    float: right;
    text-align: right;
    position: relative;
    top: 0.3em;
    color: $text-color;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .group .item .value,
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetaInfo .group .item .subValue {
    padding-left: $padding-half-px;
}




/* CS_W_Block1x1: key value types with lines */

.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1 .items.max-columns-1.no-subvalue.no-sublabel.no-subdelta.no-number .item {
    border: none;
    font-size: $text-size-px;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1 .items.max-columns-1.no-subvalue.no-sublabel.no-subdelta.no-number .item.has-value {
    padding-top: 0px;
    height: 26px;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1 .items.max-columns-1.no-subvalue.no-sublabel.no-subdelta.no-number .item.has-value .line {
    float: left;
    height: $line-size-px;
    background-color: $black;
    clear: both;
    width: 100%;
    display: block;
}

.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1 .items.max-columns-1.no-subvalue.no-sublabel.no-subdelta.no-number .group .item .label {
    font-weight: normal;
    font-size: unset;
    float: left;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1 .items.max-columns-1.no-subvalue.no-sublabel.no-subdelta.no-number .group .item .value {
    font-size: unset;
    float: right;
    text-align: right;
}




.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1 .items.max-columns-1.no-subvalue.no-sublabel.no-subdelta.no-number .group .item.no-value {
    padding-top: $padding-double-px;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1 .items.max-columns-1.no-subvalue.no-sublabel.no-subdelta.no-number .group .item.no-value .label {
    font-family: $headline-font;
    font-weight: $metrics-value-weight;
    font-size: $subtitle-size-px;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1.chrome-light .items.max-columns-1.no-subvalue.no-sublabel.no-subdelta.no-number .group .item.no-value .label,
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block1x1.chrome-solid .items.max-columns-1.no-subvalue.no-sublabel.no-subdelta.no-number .group .item.no-value .label {
    color: $metrics-value-color;
}




.machinata-reporting-node.type-MetricsNode.style-CS_W_Block2x2.style-CS_W_MetricsFirstItemDark .group-1 .item-1,
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block2x2.style-CS_W_MetricsFirstGroupDark .group-1 .item {
    background-color: $chrome-dark-bg-color;
    color: $chrome-dark-text-color;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block2x2.style-CS_W_MetricsFirstItemDark .group-1 .item-1 .value,
.machinata-reporting-node.type-MetricsNode.style-CS_W_Block2x2.style-CS_W_MetricsFirstGroupDark .group-1 .item .value {
    color: $chrome-dark-text-color;
}





.machinata-reporting-node.type-MetricsNode .items.max-columns-1.is-key-value {
    height: auto;
    position: absolute;
    bottom: 0px;
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetricsLargeNumbers .items.max-columns-1.is-key-value .item.has-value .label {
    margin-top: calc($subtitle-size-px - $text-size-px);
}
.machinata-reporting-node.type-MetricsNode.style-CS_W_MetricsLargeNumbers .items.max-columns-1.is-key-value .item.has-value .value {
    font-size: $subtitle-size-px !important;
    position: relative;
    top: 0.05em;
}