﻿

@keyframes ANIMATION_UI_WIDGET_OVERLAY {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.machinata-reporting-dialog-overlay {
    z-index: $z-index-dialog;
    background-color: rgba(0,0,0,$overlay-opacity);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    animation: 0.3s ease-in-out 0s 1 ANIMATION_UI_WIDGET_OVERLAY;
    animation-fill-mode: both;
}





.machinata-reporting-dialog {
    z-index: $z-index-dialog;
    /*max-width: 600px; DEPRECATED */
    background-color: $white;
    box-sizing: border-box;
    padding: $padding-quadruple-px;

    border-radius: $dialog-border-radius-px;
}
.machinata-page-layout-tablet .machinata-reporting-dialog,
.machinata-page-layout-mobile .machinata-reporting-dialog {
    padding: $padding-double-px;
}
.machinata-page-layout-mobile .machinata-reporting-dialog {
    max-width: 98%;
}


.machinata-reporting-dialog:focus,
.machinata-reporting-dialog *:focus {
    outline: none;
}

.machinata-reporting-dialog .ui-dialog-title {
    font-size: $h2-size-px;
    font-family: $headline-font;
    font-weight: $headline-weight;
    color: $headline-text-color;
}
.machinata-reporting-dialog .ui-dialog-titlebar {
    padding-bottom: $padding-double-px;
}

.machinata-reporting-dialog .ui-dialog-content,
.machinata-reporting-dialog .ui-dialog-content p {
    color: $text-color;
    font-size: $h4-size-px;
}


.machinata-reporting-dialog .ui-dialog-content p {
    margin-bottom: $padding-quadruple-px;
}

.machinata-reporting-dialog .ui-dialog-content i {
    font-style: italic;
}

.machinata-reporting-dialog .ui-dialog-content ul, 
.machinata-reporting-dialog .ui-dialog-content ol {
    margin-left: 1.5em;
}

.machinata-reporting-dialog .ui-dialog-content hr {
    border: none;
    border-top: 1px solid black;
}




.machinata-reporting-dialog .ui-dialog-content img {
    width: 100%;
    height: auto;
}
.machinata-reporting-dialog .ui-dialog-content img.full-width {
    width: 530px;
    height: auto;
}


.machinata-reporting-dialog .ui-dialog-buttonset {
    text-align: right;
}

/* primary */
.machinata-reporting-dialog .ui-button {
    background: $button-primary-normal-bg-color;
    color: $button-primary-normal-text-color;
    border: 1px solid $button-primary-normal-border-color;
    border-radius: $button-border-radius-px;
    padding: 12px 22px;
    font-size: $button-text-size-px;
    font-weight: bold;
    line-height: 1;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .25s 0s ease-out;
    margin-left: $padding-double-px;
}
.machinata-reporting-dialog .ui-button:hover {
    background: $button-primary-hover-bg-color;
    color: $button-primary-hover-text-color;
    border: 1px solid $button-primary-hover-border-color;
}


.machinata-reporting-dialog #cancel.ui-button,
.machinata-reporting-dialog #no.ui-button {
    background: $button-secondary-normal-bg-color;
    color: $button-secondary-normal-text-color;
    border: 1px solid $button-secondary-normal-border-color;
}
.machinata-reporting-dialog #cancel.ui-button:hover,
.machinata-reporting-dialog #no.ui-button:hover {
    background: $button-secondary-hover-bg-color;
    color: $button-secondary-hover-text-color;
    border: 1px solid $button-secondary-hover-border-color;
}

/*
.machinata-reporting-dialog #cancel.ui-button:before,
.machinata-reporting-dialog #no.ui-button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid transparent;
    -webkit-transition: border-color 0.25s 0s ease-out;
    transition: border-color 0.25s 0s ease-out;
}
.machinata-reporting-dialog #cancel.ui-button:hover:before,
.machinata-reporting-dialog #no.ui-button:hover:before {
    border-color: $button-secondary-hover-border-color;
}*/


.machinata-reporting-dialog .ui-dialog-options {
    text-align: center;
    margin-bottom: $padding-quadruple-px;
}
.machinata-reporting-dialog .ui-dialog-options .ui-button {
    margin-left: 0px;
    margin-bottom: $padding-px;
    min-width: 220px;
}

.machinata-reporting-dialog .ui-dialog-titlebar-close {
    display:none;
}


.machinata-reporting-dialog p input {
    border: none;
    border-bottom: 1px solid $black;
    padding: 20px 10px 20px 10px;
    font-size: $dialog-size-px;
    width: 100%;
    box-sizing: border-box;
}
.machinata-reporting-dialog p.note {
    font-size: $note-size-px;
}
.machinata-reporting-dialog p.note.tight {
    position: relative;
    top: -$padding-double-px;
    margin-bottom: 0px;
}

















.machinata-reporting-dialog .ui-datepicker {
    margin-bottom: $padding-px;
    font-size: $text-size-px;
}
.machinata-reporting-dialog .ui-datepicker,
.machinata-reporting-dialog .ui-datepicker-calendar {
    width: 100%;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    cursor: pointer;
    text-decoration: none;
    border: none;
    float: left;
    position: relative;
    margin-right: $padding-px;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:after {
    font-size: $label-size-px;
    font-family: $symbols-font;
    font-weight: bold;
}
.ui-datepicker-next:after {
    content: '\2192'; /* RIGHTWARDS ARROW https://www.w3schools.com/charsets/ref_utf_arrows.asp */
    content: '\$symbol-font-next-unicode'; 
}
.ui-datepicker-prev:before {
    content: '\2190'; /* LEFTWARDS ARROW https://www.w3schools.com/charsets/ref_utf_arrows.asp */
    content: '\$symbol-font-prev-unicode'; 
}

.machinata-reporting-dialog .ui-datepicker-title {
    text-align: right;
    font-weight: bold;
    font-size: $label-size-px;
}

.machinata-reporting-dialog .ui-datepicker-calendar th {
    font-weight: normal;
    text-align: right;
    padding: $padding-px;
}
.machinata-reporting-dialog .ui-datepicker-calendar td {
    text-align: right;
    padding: $padding-px;
    position: relative;
    cursor: pointer;

    background-color: $button-primary-selected-bg-color;
    color: $button-primary-selected-text-color;
}
.machinata-reporting-dialog .ui-datepicker-calendar td * {
    cursor: pointer;
    color: $button-primary-selected-text-color;
}
.machinata-reporting-dialog .ui-datepicker-calendar td a {
    border:none;
    text-decoration:none;
}

.machinata-reporting-dialog .ui-datepicker-calendar .ui-datepicker-unselectable {
    background-color: $solid-color;
    color: $text-color;
    cursor: default;
}
.machinata-reporting-dialog .ui-datepicker-calendar .ui-datepicker-unselectable * {
    color: $text-color;
    cursor: default;
}


.machinata-reporting-dialog .ui-datepicker-calendar .ui-datepicker-current-day:after {
    content: '';
    position: absolute;
    left: $padding-px;
    top: 50%;
    width: $padding-double-px;
    height: $padding-double-px;
    background-color: $button-primary-selected-text-color;
    border-radius: 50%;
    transform: translateY(-$padding-px)
}



.machinata-reporting-dialog .machinata-reporting-equation {
    font-size: $text-size-px;
}
.machinata-reporting-dialog .machinata-reporting-equation h3 {
    font-size: $h4-size-px;
}