﻿

/* =========================================================================================================== */
/* ======== Profile: webprint ================================================================================ */
/* =========================================================================================================== */

body.machinata-reporting-profile-webprint .webprint-hidden,
body:not(.machinata-reporting-profile-webprint) .only-webprint,
body.machinata-reporting-profile-webprint #header,
body.machinata-reporting-profile-webprint #header-pusher,
body.machinata-reporting-profile-webprint #footer,
body.machinata-reporting-profile-webprint #legal {
    display: none;
}

body.machinata-reporting-profile-webprint #mainlogo {
    padding-bottom: $node-vertical-spacing-px;
}

body.machinata-reporting-profile-webprint .ui-standard-width {
    min-width: $reporting-layout-max-width-webprint-px;
    max-width: $reporting-layout-max-width-webprint-px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.machinata-reporting-report.machinata-reporting-profile-webprint .machinata-reporting-toolbar .tools .tool:not(.webprint-supported) {
    display: none;
}

/* DEPRECATED: Firefox doesnt like this */
/*.machinata-reporting-report.machinata-reporting-profile-webprint .machinata-reporting-node:not(.type-LayoutNode):not(.type-NoOpNode):not(.type-SectionNode):not(.type-ToggleNode) {
    page-break-inside: avoid;
}*/

.machinata-reporting-report.machinata-reporting-profile-webprint .avoid-page-break {
    page-break-inside: avoid; /* legacy */
    break-inside: avoid;
}

.machinata-reporting-report.machinata-reporting-profile-webprint .page-breaker {
    page-break-before: always; /* legacy */
    break-before: page;
}

.machinata-reporting-report.machinata-reporting-profile-webprint .machinata-reporting-node {
    
}
.machinata-reporting-report.machinata-reporting-profile-webprint .ui-subtitle {
    margin-bottom: $padding-double-px;
}


@media print {
   
    
  @page { 
      size: A4;
      margin-top: 2cm;
      margin-bottom: 2cm;
      margin-left: 1cm;
      margin-right: 1cm;
  }
  
  body,
  body * { 
      -webkit-print-color-adjust: exact; 
      print-color-adjust: exact; 
      color-adjust: exact; 

  }
    
    body.machinata-reporting-profile-webprint .machinata-reporting-attribute-report-title {
        font-size: 80px;
        line-height: 80px;
    }
    
    body.machinata-reporting-profile-webprint .ui-standard-width {
        padding-left: 0px;
        padding-right: 0px;
    }
}

