﻿


.machinata-reporting-menubar {
    clear: both;
}










.machinata-reporting-menubar.option-wide {
    width: 100%;
}






body.machinata-page-layout-mobile .machinata-reporting-menubar.option-hard,
.machinata-reporting-report.layout-mobile .machinata-reporting-menubar.option-hard {
    margin-bottom: calc($node-vertical-spacing-px * 0.5);
}






.machinata-reporting-node .machinata-reporting-menubar.option-soft, 
.machinata-reporting-node .machinata-reporting-menubar.option-hard {
    margin-top: -32px; /*TODO*/
}






.machinata-reporting-menubar .icon {
    width: $icon-size-px;
    height: $icon-size-px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.machinata-reporting-menubar .icon.icon-chevron-left {
    left: 0px;
}
.machinata-reporting-menubar .icon.icon-chevron-right {
    right: 0px;
}







/* Common Hard/Soft */
.machinata-reporting-menubar .menu-items {
}
.machinata-reporting-menubar .menu-items a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-size: $text-size-px;
    font-weight: bold;
    transition: all .25s 0s ease-out;
}


/* Hard Version */
.machinata-reporting-menubar.option-hard {
    margin-top: 32px;
    margin-bottom: 64px;
    display: table;
    border-collapse: collapse;
}
.machinata-reporting-menubar.option-hard .menu-items {
    
    display: table-row;
}
.machinata-reporting-menubar.option-hard .menu-items a {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: $button-secondary-normal-bg-color;
    color: $button-secondary-normal-text-color;
    padding: 10px 15px;
    border: $menubar-border-size-px solid $button-secondary-normal-border-color;
}
.machinata-reporting-menubar.option-hard .menu-items a:hover {
    background: $button-secondary-hover-bg-color;
    color: $button-secondary-hover-text-color;
}
.machinata-reporting-menubar.option-hard .menu-items a:hover svg {
    fill: $button-secondary-hover-text-color;
}
.machinata-reporting-menubar.option-hard .menu-items a.option-selected,
.machinata-reporting-menubar.option-hard .menu-items a.selected {
    background: $button-primary-selected-bg-color;
    color: $button-primary-selected-text-color;
}
.machinata-reporting-menubar.option-hard .menu-items a.option-selected svg,
.machinata-reporting-menubar.option-hard .menu-items a.selected svg {
    fill: $button-primary-selected-text-color;
}





/* Soft Version */
.machinata-reporting-menubar.option-soft {
    height: 48px;
}
.machinata-reporting-menubar.option-soft .menu-items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.machinata-reporting-menubar.option-soft .menu-items a {
    
    padding: 10px 15px;
    line-height: 1;
    text-align: center;
    display: inline-block;
    color: #7c7c7b;

    border: 2px solid #dadada;
    border-color:#dadada;
    border-width: 0 0 2px 0;

}
.machinata-reporting-menubar.option-soft .menu-items a.selected {
    color: $button-primary-selected-bg-color;
    border-color: $button-primary-selected-bg-color;
}
.machinata-reporting-menubar.option-soft .menu-items a:hover {
    color: $button-primary-selected-bg-color;
}