﻿


/* =========================================================================================================== */
/* ======== Profile: Fullscreen ============================================================================== */
/* =========================================================================================================== */

.machinata-reporting-report.machinata-reporting-profile-fullscreen .fullscreen-hidden,
.machinata-reporting-report:not(.machinata-reporting-profile-fullscreen) .only-fullscreen {
    display: none !important;
}

.machinata-reporting-report.machinata-reporting-profile-fullscreen {
    max-width: $reporting-layout-max-width-px;
    min-width: $reporting-layout-min-width-px;
    padding-top: calc($reporting-layout-page-padding-px + $toolbar-height-px);
    padding-left: $reporting-layout-page-padding-px;
    padding-right: $reporting-layout-page-padding-px;
    margin-left: auto;
    margin-right: auto;
}


.machinata-reporting-fullscreen-container {
    background-color: $page-color;
    position: relative;
    width: 100%; /* required for Safari */
    height: 100%; /* required for Safari */
}

/* iFrame is deprecated */
.machinata-reporting-fullscreen-container {
    background-color: white;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px;
    padding-bottom: $padding-px;
    overflow-y: auto;
}
.machinata-reporting-fullscreen-container::-webkit-scrollbar {
    display: none;
}
.machinata-reporting-fullscreen-container .machinata-reporting-fullscreen-toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: $page-color;
    z-index: 2;
}
.machinata-reporting-fullscreen-container .machinata-reporting-fullscreen-toolbar.option-light:not(.option-section-icon) label {
    padding-left: $padding-quarter;
}
.machinata-reporting-fullscreen-container .machinata-reporting-readprogress {
    opacity: 1.0;
}



.machinata-reporting-report.machinata-reporting-profile-fullscreen  .machinata-reporting-node .machinata-reporting-toolbar .tools .tool:not(.fullscreen-supported) {
    display: none;
}






/* =========================================================================================================== */
/* ======== Pagination                =============================================================================== */
/* =========================================================================================================== */


.machinata-reporting-screen-controls.prev {
    position: fixed;
    left: 0px;
    top: 50%;
    cursor: pointer;
    user-select: none;
    
}
.machinata-reporting-screen-controls.next {
    position: fixed;
    right: 0px;
    top: 50%;
    cursor: pointer;
    user-select: none;
}

.machinata-reporting-screen-controls.next .icon,
.machinata-reporting-screen-controls.prev .icon {
    width: $icon-size-large-px;
    height: $icon-size-large-px;
    cursor: pointer;
    user-select: none;
}