﻿


/* =========================================================================================================== */
/* ======== Thermometer Node ================================================================================= */
/* =========================================================================================================== */


.machinata-reporting-report .machinata-reporting-node.type-ThermometerNode .vegaview {
    height: $node-height-chart-superhuge;
}

.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-ThermometerNode .vegaview {
    height: $node-height-chart-slim;
}
