﻿


/* =========================================================================================================== */
/* ======== Flippable ================================================================================= */
/* =========================================================================================================== */

.machinata-reporting-report .effect-flippable {
    perspective: 1000px; 
}
.machinata-reporting-report .effect-flippable .flippable-contents {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.machinata-reporting-report .effect-flippable.option-flipped .flippable-contents,
.machinata-reporting-report .effect-flippable.option-flip-on-hover:hover .flippable-contents {
    transform: rotateY(180deg);
}
.machinata-reporting-report .effect-flippable .flippable-contents .flippable-front,
.machinata-reporting-report .effect-flippable .flippable-contents .flippable-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.machinata-reporting-report .effect-flippable .flippable-contents .flippable-back {
    transform: rotateY(180deg);
}




/* =========================================================================================================== */
/* ======== Zoomable ================================================================================= */
/* =========================================================================================================== */

.machinata-reporting-report .effect-zoomable {
    transition: transform 0.8s;
    xtransform-style: preserve-3d;
}
.machinata-reporting-report .effect-zoomable.option-zoomed,
.machinata-reporting-report .effect-zoomable.option-zoom-on-hover:hover {
    z-index: 999;
}
.machinata-reporting-report .effect-zoomable.option-zoomed,
.machinata-reporting-report .effect-zoomable.option-zoom-on-hover:hover {
    transform: scale(2.0);
}
.machinata-reporting-report .effect-zoomable.option-zoomed.option-zoom-amount-2,
.machinata-reporting-report .effect-zoomable.option-zoom-on-hover.option-zoom-amount-2:hover {
    transform: scale(2.0);
}
.machinata-reporting-report .effect-zoomable.option-zoomed.option-zoom-amount-1-5,
.machinata-reporting-report .effect-zoomable.option-zoom-on-hover.option-zoom-amount-1-5:hover {
    transform: scale(1.5);
}
.machinata-reporting-report .effect-zoomable.option-zoomed.option-zoom-amount-2-5,
.machinata-reporting-report .effect-zoomable.option-zoom-on-hover.option-zoom-amount-2-5:hover {
    transform: scale(2.5);
}
