﻿
/* =========================================================================================================== */
/* ======== Contact Node ===================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.type-ContactNode  {
    height: $node-height-chart-slim;
}
.machinata-reporting-node.type-ContactNode .main-property  {
    font-weight: bold;
    color: $black;
    font-size: $text-size-px;
    overflow-wrap: break-word;
}
.machinata-reporting-node.type-ContactNode .sub-property  {
    border-bottom: none;
    color: $black;
    font-size: $text-size-px;
    overflow-wrap: break-word;
}

.machinata-reporting-node.type-ContactNode a  {
    display: block;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
    overflow-wrap: break-word;
}

.machinata-reporting-node.type-ContactNode .photo {
    background-size: cover;
    
    background-position: center;
    position: absolute;
    
    z-index: 1;

    transition: all 0.3s ease-in-out;
}
.machinata-reporting-node.type-ContactNode .photo.expand {
    
}




.machinata-reporting-node.type-ContactNode.style-W_RoundPhoto .photo {
    border-radius: 50%;
    top: $padding-px;
    right: $padding-px;
    background-position: center;
}
.machinata-reporting-node.type-ContactNode.style-W_RoundPhoto .photo.expand {
    border-radius: 0%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-position: 20% center;
}





.machinata-reporting-node.type-ContactNode.style-W_SquarePhoto .photo {
    background-position: center;
    top: 0px;
    left: 0px;
    height: 60%;
    width: 100%;
}
.machinata-reporting-node.type-ContactNode.style-W_SquarePhoto .photo.expand {
    
}