﻿

/* =========================================================================================================== */
/* ======== Variables =========================================================================================== */
/* =========================================================================================================== */

$node-height-chart: 400px;
$node-height-chart-mobile: 360px;

$node-height-chart-slim: 260px;
$node-height-chart-large: 480px;
$node-height-chart-huge: 520px;
$node-height-chart-superhuge: 620px;

$node-height-map: 480px;






/* ===== Layout ===============*/

/* was 1200px, but we added 3x1rem = 3x16px=48px*/
$DEP_layout-max-width: 1248px;
$DEP_layout-min-width: 1100px;

$DEP_layout-max-width-webprint: 980px; /* was 1100 */



                                   

/* ===== Padding ===============*/

$DEP_padding: 1rem;
$DEP_padding-half: 0.5rem;
$DEP_padding-quarter: 0.25rem;
$DEP_padding-double: 2rem;
$DEP_padding-page: 60px;
$DEP_padding-page-mobile: 20px;







/* ===== Text ===============*/

$DEP_h1-size: 5rem;

$DEP_h2-size: 3.75rem;
$DEP_h2-line-height: 3.75rem;

$DEP_h3-size: 2.5rem;
$DEP_h3-line-height: 2.5rem;

$DEP_h4-size: 1.2rem;


$DEP_text-dashboard-large: 2rem;
$DEP_subtitle-size: 2.5rem;
$DEP_label-size: 1.8rem;
$DEP_filter-label-size: 1.2rem;

$DEP_menu-title-size: 0.8rem;
$DEP_menu-title-line-height: 1.7rem;
$DEP_menu-link-size: 1.3rem;
$DEP_menu-link-line-height: 1.1em;

$DEP_menu-link-size-mobile: 1.6rem;
$DEP_menu-link-line-height-mobile: 1.4rem;


/* ===== Dims ===============*/

$DEP_icon-size: 20px;
$DEP_icon-size-large: 40px;
$DEP_icon-size-trend: 18px;

$DEP_line-size: 1px;

$DEP_toolbar-height: 48px;
$DEP_toolbar-height-plus-line: 49px;
$DEP_toolbar-icon-size: 20px;
$DEP_toolbar-section-icon-size: 26px;

$DEP_toolbar-small-height: 24px;
$DEP_toolbar-small-height-plus-line: 25px;
$DEP_toolbar-small-icon-size: 12px;
$DEP_toolbar-small-section-icon-size: 26px;

$DEP_input-icon-size: 14px;



$DEP_header-height: 54px;
$DEP_mainlogo-height: 84px;
$DEP_header-and-mainlogo-height: 138px;


$DEP_max-text-block-width: 720px;


/* ===== Spacings ===============*/

$DEP_vertical-spacing: 60px;




/* ===== Overlays ===============*/

$overlay-opacity: 0.7;




/* ===== Z-Indexes ===============*/
$DEP_z-index-dialog: 2000;
$DEP_z-index-overlay: 1900;




/* ===== Transitions ===============*/



/* ===== Main Colors ===============*/
$black: black;
$white: white;



$blue: #4F5CD6;
$yellow: #ffb81c;

$solid-bg: #f1f2f2; /* gray 1*/


/* ===== Grey Colors ===============*/

$gray1: #f1f2f2;
$gray2: #e6e7e8;
$gray3: #dadada;
$gray4: #a8a8a7;
$gray5: #7c7c7b;
$gray6: #575756;









/* ===== Trend Colors ===============*/

$DEP_red: #d91e19;
$DEP_green: #008000;
$DEP_amber: #ffb81c;

