﻿


/* =========================================================================================================== */
/* ======== Offline Map Node ================================================================================= */
/* =========================================================================================================== */


.machinata-reporting-report .machinata-reporting-node.type-OfflineMapNode .vegaview {
    height: $node-height-chart-large;
}

.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-OfflineMapNode .vegaview {
    height: $node-height-chart-slim;
}
