﻿



.machinata-reporting-styling .bold {
    font-weight: bold;
}

.machinata-reporting-styling .theme-text-size {
    font-size: $text-size-px;
}

.machinata-reporting-styling .clear {
    clear: both;
    width: 100%;
}

.machinata-reporting-styling .hidden-content {
    display: none;
}


.machinata-reporting-styling .centered {
    text-align: center;
}

.machinata-reporting-styling .align-right {
    text-align: right;
}


.machinata-reporting-styling .vertical-aligner {
    display: table;
    width: 100%;
    height: 100%;
}
.machinata-reporting-styling .vertical-alignee {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}



body.loading .machinata-reporting-styling ,
body.loading .machinata-reporting-styling  * {
    cursor: wait !important;
}


.machinata-reporting-styling .cursor-pointer,
.machinata-reporting-styling .cursor-pointer * {
    cursor: pointer;
}
.machinata-reporting-styling .cursor-text,
.machinata-reporting-styling .cursor-text * {
    cursor: text;
}







.machinata-reporting-report.layout-mobile .desktop-only,
.machinata-reporting-report.layout-tablet .desktop-only
.machinata-reporting-report.layout-mobile .desktop-or-tablet-only,
body.machinata-page-layout-mobile .machinata-reporting-styling .desktop-only,
body.machinata-page-layout-tablet .machinata-reporting-styling .desktop-only
body.machinata-page-layout-mobile .machinata-reporting-styling .desktop-or-tablet-only {
    display: none !important;
}
.machinata-reporting-report.layout-mobile .option-desktop-only,
.machinata-reporting-report.layout-tablet .option-desktop-only
.machinata-reporting-report.layout-mobile .option-desktop-or-tablet-only,
body.machinata-page-layout-mobile .machinata-reporting-styling .option-desktop-only,
body.machinata-page-layout-tablet .machinata-reporting-styling .option-desktop-only
body.machinata-page-layout-mobile .machinata-reporting-styling .option-desktop-or-tablet-only {
    display: none !important;
}



.machinata-reporting-report.layout-desktop .tablet-only,
.machinata-reporting-report.layout-mobile .tablet-only,
body.machinata-page-layout-desktop .machinata-reporting-styling .tablet-only,
body.machinata-page-layout-mobile .machinata-reporting-styling .tablet-only {
    display: none !important;
}
.machinata-reporting-report.layout-desktop .option-tablet-only,
.machinata-reporting-report.layout-mobile .option-tablet-only,
body.machinata-page-layout-desktop .machinata-reporting-styling .option-tablet-only,
body.machinata-page-layout-mobile .machinata-reporting-styling .option-tablet-only {
    display: none !important;
}




.machinata-reporting-report.layout-desktop .mobile-only,
.machinata-reporting-report.layout-tablet .mobile-only,
body.machinata-page-layout-desktop .machinata-reporting-styling .mobile-only,
body.machinata-page-layout-tablet .machinata-reporting-styling .mobile-only {
    display: none !important;
}
.machinata-reporting-report.layout-desktop .option-mobile-only,
.machinata-reporting-report.layout-tablet .option-mobile-only,
body.machinata-page-layout-desktop .machinata-reporting-styling .option-mobile-only,
body.machinata-page-layout-tablet .machinata-reporting-styling .option-mobile-only {
    display: none !important;
}


.machinata-reporting-report.layout-desktop .option-mobile-tablet-only,
body.machinata-page-layout-desktop .machinata-reporting-styling .option-mobile-tablet-only {
    display: none !important;
}




.machinata-reporting-report.layout-mobile .no-mobile,
body.machinata-page-layout-mobile .machinata-reporting-styling .no-mobile {
    display: none !important;
}
.machinata-reporting-report.layout-mobile .option-no-mobile,
body.machinata-page-layout-mobile .machinata-reporting-styling .option-no-mobile {
    display: none !important;
}



.machinata-reporting-report.layout-desktop .no-desktop,
body.machinata-page-layout-desktop .machinata-reporting-styling .no-desktop {
    display: none !important;
}
.machinata-reporting-report.layout-desktop .option-no-desktop,
body.machinata-page-layout-desktop .machinata-reporting-styling .option-no-desktop {
    display: none !important;
}



.machinata-reporting-report.layout-tablet .no-tablet,
body.machinata-page-layout-tablet .machinata-reporting-styling .no-tablet {
    display: none !important;
}
.machinata-reporting-report.layout-tablet .option-no-tablet,
body.machinata-page-layout-tablet .machinata-reporting-styling .option-no-tablet {
    display: none !important;
}





.machinata-reporting-styling img.checkered {
     background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAQUlEQVRIie3VsQ0AIAwDQZtZGYtdzQQ0pkHi3b9OShNLWiqXZLbtaMPbAQMDAwMDH+ckfWzXL/W/UwMDAwMDvw9v11kH1DDy/GUAAAAASUVORK5CYII=');
}




.machinata-reporting-styling .not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.machinata-reporting-styling .full-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}