﻿
.machinata-reporting-toolbar {
    position: relative;
    width: 100%;
    height: $toolbar-height-px;
    box-sizing: content-box;
}

.machinata-reporting-toolbar label {
    position: absolute;
    padding-left: $padding-px;
    right: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity $standard-transition-duration ease-in-out;
    left: 0px;
}
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-desktop .machinata-reporting-toolbar[data-num-tools-desktop='1'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-tablet .machinata-reporting-toolbar[data-num-tools-tablet='1'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-mobile .machinata-reporting-toolbar[data-num-tools-mobile='1'] label {
    right: calc($toolbar-height-px * 1);
}
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-desktop .machinata-reporting-toolbar[data-num-tools-desktop='2'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-tablet .machinata-reporting-toolbar[data-num-tools-tablet='2'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-mobile .machinata-reporting-toolbar[data-num-tools-mobile='2'] label {
    right: calc($toolbar-height-px * 2);
}
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-desktop .machinata-reporting-toolbar[data-num-tools-desktop='3'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-tablet .machinata-reporting-toolbar[data-num-tools-tablet='3'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-mobile .machinata-reporting-toolbar[data-num-tools-mobile='3'] label {
    right: calc($toolbar-height-px * 3);
}
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-desktop .machinata-reporting-toolbar[data-num-tools-desktop='4'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-tablet .machinata-reporting-toolbar[data-num-tools-tablet='4'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-mobile .machinata-reporting-toolbar[data-num-tools-mobile='4'] label {
    right: calc($toolbar-height-px * 4);
}
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-desktop .machinata-reporting-toolbar[data-num-tools-desktop='5'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-tablet .machinata-reporting-toolbar[data-num-tools-tablet='5'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-mobile .machinata-reporting-toolbar[data-num-tools-mobile='5'] label {
    right: calc($toolbar-height-px * 5);
}
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-desktop .machinata-reporting-toolbar[data-num-tools-desktop='6'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-tablet .machinata-reporting-toolbar[data-num-tools-tablet='6'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-mobile .machinata-reporting-toolbar[data-num-tools-mobile='6'] label {
    right: calc($toolbar-height-px * 6);
}
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-desktop .machinata-reporting-toolbar[data-num-tools-desktop='7'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-tablet .machinata-reporting-toolbar[data-num-tools-tablet='7'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-mobile .machinata-reporting-toolbar[data-num-tools-mobile='7'] label {
    right: calc($toolbar-height-px * 7);
}
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-desktop .machinata-reporting-toolbar[data-num-tools-desktop='8'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-tablet .machinata-reporting-toolbar[data-num-tools-tablet='8'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-mobile .machinata-reporting-toolbar[data-num-tools-mobile='8'] label {
    right: calc($toolbar-height-px * 8);
}
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-desktop .machinata-reporting-toolbar[data-num-tools-desktop='9'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-tablet .machinata-reporting-toolbar[data-num-tools-tablet='9'] label,
body:not(.machinata-reporting-profile-webprint) .machinata-reporting-report.layout-mobile .machinata-reporting-toolbar[data-num-tools-mobile='9'] label {
    right: calc($toolbar-height-px * 9);
}

.machinata-reporting-toolbar label.title {
    font-size: $toolbar-title-size-px;
    font-weight: $toolbar-title-weight;
    opacity: 1.0;
    top: 7px;
}
.machinata-page-layout-mobile .machinata-reporting-toolbar label.title {
    font-size: calc($toolbar-title-size-px * $mobile-label-size-factor);
}
.machinata-reporting-toolbar label.subtitle {
    font-size: $toolbar-subtitle-size-px;
    font-weight: $toolbar-subtitle-weight;
    top: 26px;
}
DISABLED_.machinata-reporting-toolbar label.subtitle {
    font-size: calc($toolbar-subtitle-size-px * $mobile-subtitle-size-factor);
}




.machinata-reporting-toolbar .tools {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: 100%;
}

.machinata-reporting-toolbar .tool {
    position: relative;
    float: right;
    width: $toolbar-height-px;
    height: $toolbar-height-px;
    /* BRANDING */
    DEPRECATED_border-left: $line-size-px solid $white;
    overflow: hidden;
    cursor: pointer;
    border-bottom: none;
    
    transition: background-color $standard-transition-duration ease-in-out;
}
.machinata-reporting-toolbar .tool + .tool {
    /* BRANDING */
    DEPRECATED_border-right: $line-size-px solid $white;
}
.machinata-reporting-toolbar .tool svg {
    width: $icon-size-px;
    height: $icon-size-px;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    transition: fill $standard-transition-duration ease-in-out;
}


.machinata-reporting-toolbar .tool:hover,
.machinata-reporting-toolbar .tool.active,
.machinata-reporting-toolbar .tool.selected {
    background-color: $chrome-solid-toolbar-tool-hover-bg-color;
}
.machinata-reporting-toolbar .tool:hover svg,
.machinata-reporting-toolbar .tool.active svg,
.machinata-reporting-toolbar .tool.selected svg {
    color: $chrome-solid-toolbar-tool-hover-icon-color;
    fill: $chrome-solid-toolbar-tool-hover-icon-color;
}


.machinata-reporting-toolbar .tool.text-only {
    width: auto;
    line-height: $toolbar-height-px;
    padding-left: $padding-px;
    padding-right: $padding-px;
}







.machinata-reporting-toolbar.option-small {
    height: $toolbar-small-height-px;
}


.machinata-reporting-toolbar.option-small label {
    top: 3px;
    left: 0px;
    position: relative;
    display: inline;
    padding-left: 4px;
    padding-top: 0px;
}
.machinata-reporting-toolbar.option-small.option-has-tab label {
    top: 1px;
}

.machinata-reporting-toolbar.option-small.option-section-icon label {
    left: $toolbar-small-height-px;
}


.machinata-reporting-toolbar.option-small .tabs {
    display: inline-block;
    height: 100%;
}
.machinata-reporting-toolbar.option-small:not(.option-has-tab) .tabs {
    display: none;
}
.machinata-reporting-toolbar.option-small .tabs .tab {
    display: inline-block;
    height: 100%;
    DEP_padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-right: $line-size-px solid $white;
    cursor: pointer;
    font-size: $text-size-px;
    font-weight: $toolbar-tab-font-weight;
    DEP_line-height: 1.4em;
    line-height: $toolbar-small-height-px;
    
    transition-duration: $standard-transition-duration;
    transition-timing-function: ease-in-out;
    transition-property: background-color,color;
}

.machinata-reporting-toolbar.option-small .tabs .tab:hover {
    background-color: $button-primary-hover-bg-color;
    color: $button-primary-hover-text-color;
}
.machinata-reporting-toolbar.option-small .tabs .tab.selected {
    background-color: $button-primary-selected-bg-color;
    color: $button-primary-selected-text-color;
}


.machinata-reporting-toolbar.option-small .tools {
    width: 50%;
    left: auto; /* EI11 support */
    left: unset;
    right: 0px;
}
.machinata-reporting-toolbar.option-small:not(.option-has-tool) .tools {
    display: none;
}
.machinata-reporting-toolbar.option-small .tool {
    width: $toolbar-small-height-px;
    height: $toolbar-small-height-px;
}
.machinata-reporting-toolbar.option-small .tool:before {
    width: $toolbar-small-height-px;
    height: $toolbar-small-height-px;
    line-height: $toolbar-small-height-px;
    font-size: $toolbar-small-icon-size-px;
}


.machinata-reporting-toolbar.option-gray {
    background-color: $solid-bg;
}












.machinata-reporting-toolbar.option-light {
    border-top: 1px solid $black;
    background-color: $white;
}
.machinata-reporting-toolbar.option-light .section-icon {
    background-color: $gray2;
    position: relative;
    top: -1px;
}
.machinata-reporting-toolbar.option-light .section-icon:before {
    color: $black;
}
.machinata-reporting-toolbar.option-light .section-icon:after {
    content: '';
    position: absolute;
    right: -$padding-px;
    width: $padding-px;
    height: 100%;
    top: -1px;
    background-color: $white;
}

.machinata-reporting-toolbar.option-light:not(.option-section-icon) label {
    padding-left: 0px;
}
.machinata-reporting-toolbar.option-light.option-small {
    border-bottom: 1px solid $black;
    border-top-color: transparent;
}


