﻿


/* =========================================================================================================== */
/* ======== Vega Node ======================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-VegaNode .vegaview {
    overflow: hidden;
    position: relative;
    padding: $padding-px;
}
.machinata-reporting-node.type-VegaNode .vegaview svg {
    position: absolute;
    left: $padding-px;
    top: $padding-px;
}


.machinata-reporting-report .machinata-reporting-node.type-VegaNode .vegaview {
    height: $node-height-chart;
}
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-VegaNode .vegaview {
    height: $node-height-chart-mobile;
}



.machinata-reporting-node.type-VegaNode.chrome-light .vegaview {
    padding: 0px;
}
.machinata-reporting-node.type-VegaNode.chrome-light .vegaview svg {
    position: absolute;
    left: 0px;
    top: 0px;
}





/* =========================================================================================================== */
/* ======== Vega Tooltips ==================================================================================== */
/* =========================================================================================================== */

#vg-tooltip-element.vg-tooltip.custom-theme {
    padding: $padding-px;
    color: $tooltip-text-color;
    background-color: $tooltip-bg-color;
    font-family: $text-font;
    font-size: $text-size;
    border-radius: $button-border-radius-px;
    box-shadow: none;
    border: none;
    max-width: 260px;
}


#vg-tooltip-element.vg-tooltip.custom-theme .title,
#vg-tooltip-element.vg-tooltip.custom-theme h2 {
    font-weight: bold;
    font-size: $text-size-px;
    color: $tooltip-text-color;
}
#vg-tooltip-element.vg-tooltip.custom-theme table {
    width: 100%;
}
#vg-tooltip-element.vg-tooltip.custom-theme table tr td.key,
#vg-tooltip-element.vg-tooltip.custom-theme table tr td.value {
    color: $tooltip-text-color;
    vertical-align: bottom;
    display: table-cell;
    font-size: $text-size-px;
}
#vg-tooltip-element.vg-tooltip.custom-theme table tr td.key {
    text-align: left;
}
#vg-tooltip-element.vg-tooltip.custom-theme table tr td.value {
    text-align: right;
}









