﻿<a href="/admin/shop/orders/order/{entity.public-id}">
    <div class="ui-entity-card option-micro">
        <div class="meta">{text.order}</div>
        <div class="title">{entity.serial-id}</div>
        <div class="subtitle">{entity.status}</div>
    </div>
</a>