﻿<td class="day schedule-{day.selected}">
    <a href="/admin/shop/orders/summary/{day.date}" title="{day.date} {text.show-summary=Summary}" class="cell-label">{day.date}</a>
    {orders}
    {restrictions}
</td>
              