﻿    <div class="hide-if-true-{day.show-create-order}">
        <div class="ui-entity-card option-micro option-red">
            <div class="meta">{text.order-restriction=Restriction}</div>
            <div class="title">{entity.name}</div>
            <div class="subtitle">{text.order-closed=Ordering Closed}</div>
        </div>
    </div>

    