﻿<div class="node product" node-type="{node.type}" title="{node.type-title} {node.value}">
    <div class="file-preview category-product margin-top" title="{node.product.title}" >
        <div class="meta">
            <div class="meta-name">{node.product.name}</div>
            <div class="meta-title">{node.option-catalog-name}</div>
            <div class="meta-subtitle"></div>
            </div>
        <div class="icon icon-tag"></div>
    </div>
    <div class="file-preview category-product margin-bottom" title="{node.product.title}">
        <div class="image bottom" style="background-image:url({node.product.thumbnail}?size=400); background-size:contain;"></div>
    </div>
</div>

<!--this is for the new UIKIT duplicate in Machinata.Modlue.Admin/default folder-->