﻿
$timeline-entry-height: 120px;
$timeline-entry-sphere: 80px;

$timeline-attachment-height: 60px;
$timeline-attachment-sphere: 40px;

$timeline-line-size: 3px;

.ui-vertical-timeline {

}

.ui-vertical-timeline .timeline-entry {
    position: relative;
    min-height: $timeline-entry-height;
}

.ui-vertical-timeline .timeline-entry .entry-line {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: calc($timeline-entry-sphere / 2 - $timeline-line-size / 2);
    width: $timeline-line-size;
    background-color: $text-color;
}
.ui-vertical-timeline .timeline-entry:first-of-type .entry-line {
    top: calc(($timeline-entry-height - $timeline-entry-sphere) / 2);
}
.ui-vertical-timeline .timeline-entry:last-of-type .entry-line {
    bottom: calc(100% - ($timeline-entry-height - $timeline-entry-sphere) / 2);
}
.ui-vertical-timeline .timeline-entry .entry-sphere {
    position: absolute;
    top: calc(($timeline-entry-height - $timeline-entry-sphere) / 2);
    width: $timeline-entry-sphere;
    height: $timeline-entry-sphere;
    background-color: $solid-color;
    border: $timeline-line-size solid $text-color;
    border-radius: 50%;
}
.ui-vertical-timeline .timeline-entry .entry-sphere .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: calc($icon-font-size * 3);
}
.ui-vertical-timeline .timeline-entry .entry-meta {
    position: absolute;
    top: calc(($timeline-entry-height - $timeline-entry-sphere) / 2);
    height: $timeline-entry-sphere;
    left: calc($padding + $timeline-entry-sphere);
    display: flex;
    align-items: center;
    column-gap: $padding-half;
}
.ui-vertical-timeline .timeline-entry .entry-meta .type {
    font-weight: bold;
}



.ui-vertical-timeline .timeline-entry .entry-attachments {
    padding-top: calc($timeline-entry-height - $padding - $padding);
    padding-left: calc($timeline-entry-sphere + $padding + $padding);
}
.ui-vertical-timeline .timeline-entry .entry-attachment {
    position: relative;
    min-height: $timeline-attachment-height;
}
.ui-vertical-timeline .timeline-entry .entry-attachment .attachment-line {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: calc($timeline-attachment-sphere / 2 - $timeline-line-size / 2);
    width: $timeline-line-size;
    background-color: $text-color;
}
.ui-vertical-timeline .timeline-entry .entry-attachment:first-of-type .attachment-line {
    top: -20%;
}
.ui-vertical-timeline .timeline-entry .entry-attachment:last-of-type .attachment-line {
    bottom: 50%;
}
.ui-vertical-timeline .timeline-entry .entry-attachment .attachment-sphere {
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    width: $timeline-attachment-sphere;
    height: $timeline-attachment-sphere;
    background-color: $solid-color;
    border: $timeline-line-size solid $text-color;
    border-radius: $padding;
}
.ui-vertical-timeline .timeline-entry .entry-attachment .attachment-sphere .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: calc($icon-font-size * 1.5);
}
.ui-vertical-timeline .timeline-entry .entry-attachment .attachment-meta {
    position: absolute;
    top: 50%;
    left: calc($padding + $timeline-attachment-sphere);
    transform: translate(0%,-50%);
}
.ui-vertical-timeline .timeline-entry .entry-attachment .attachment-meta .type {
    font-weight: bold;
}