﻿
.ui-button {
    
    border: $button-line-size solid transparent;
    border-radius: $button-corner-radius;
    padding-left: $button-default-padding-left;
    padding-right: $button-default-padding-right;
    padding-top: $button-default-padding-top;
    padding-bottom: $button-default-padding-bottom;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    text-transform: $button-text-transform;
    outline: none;

    box-shadow: $button-box-shadow;


    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    
    transition-property: color, fill, background-color, opacity, border-color;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}





/* Secondary (default): normal */
.ui-button,
.ui-button.option-secondary {
    background-color: $button-secondary-default-background-color;
    color: $button-secondary-default-text-color;
    fill: $button-secondary-default-icon-color;
    border-color: $button-secondary-default-border-color;
}
/* Secondary (default): hover */
body.not-touch-enabled .ui-button:hover,
body.not-touch-enabled .ui-button.option-secondary:hover,
.ui-button.option-selected,
.ui-button.option-secondary.option-selected,
.ui-button.selected,
.ui-button.option-secondary.selected  {
    background-color: $button-secondary-hover-background-color;
    color: $button-secondary-hover-text-color;
    fill: $button-secondary-hover-icon-color;
    border-color: $button-secondary-hover-border-color;
}
/* Secondary (default): active/selected */
.ui-button:active,
.ui-button.option-active,
.ui-button.option-secondary:active,
.ui-button.option-secondary.option-active {
    background-color: $button-secondary-active-background-color;
    color: $button-secondary-active-text-color;
    fill: $button-secondary-active-icon-color;
    border-color: $button-secondary-active-border-color;
}
/* Secondary (default): disabled */
.ui-button[disabled],
.ui-button.option-secondary[disabled],
.ui-button.disabled,
.ui-button.option-secondary.disabled,
.ui-button.option-disabled,
.ui-button.option-secondary.option-disabled,
body.loading .ui-button.option-disabled-on-loading,
body.loading .ui-button.option-secondary.option-disabled-on-loading {
    background-color: $button-secondary-disabled-background-color;
    color: $button-secondary-disabled-text-color;
    fill: $button-secondary-disabled-icon-color;
    border-color: $button-secondary-disabled-border-color;
    opacity: $button-secondary-disabled-opacity;
    pointer-events: none;
}






/* Secondary (default): normal */
.ui-button.option-primary {
    background-color: $button-primary-default-background-color;
    color: $button-primary-default-text-color;
    fill: $button-primary-default-icon-color;
    border-color: $button-primary-default-border-color;
}
/* Secondary (default): hover/selected */
body.not-touch-enabled .ui-button.option-primary:hover,
.ui-button.option-primary.option-selected,
.ui-button.option-primary.selected  {
    background-color: $button-primary-hover-background-color;
    color: $button-primary-hover-text-color;
    fill: $button-primary-hover-icon-color;
    border-color: $button-primary-hover-border-color;
}
/* Secondary (default): active */
.ui-button.option-primary:active,
.ui-button.option-primary.option-active,
.ui-button.option-primary.active  {
    background-color: $button-primary-active-background-color;
    color: $button-primary-active-text-color;
    fill: $button-primary-active-icon-color;
    border-color: $button-primary-active-border-color;
}
/* Secondary (default): disabled */
.ui-button.option-primary[disabled],
.ui-button.option-primary.disabled,
.ui-button.option-primary.option-disabled,
body.loading .ui-button.option-primary.option-disabled-on-loading {
    background-color: $button-primary-disabled-background-color;
    color: $button-primary-disabled-text-color;
    fill: $button-primary-disabled-icon-color;
    border-color: $button-primary-disabled-border-color;
    opacity: $button-primary-disabled-opacity;
    pointer-events: none;
}






.ui-button.option-tertiary {
    background-color: $button-tertiary-default-background-color;
    color: $button-tertiary-default-text-color;
    fill: $button-tertiary-default-icon-color;
    border-color: $button-tertiary-default-border-color;
}
body.not-touch-enabled .ui-button.option-tertiary:hover,
.ui-button.option-tertiary.option-active,
.ui-button.option-tertiary.option-selected,
.ui-button.option-tertiary.selected  {
    background-color: $button-tertiary-active-background-color;
    color: $button-tertiary-active-text-color;
    fill: $button-tertiary-active-icon-color;
    border-color: $button-tertiary-active-border-color;
}
.ui-button.option-tertiary[disabled],
.ui-button.option-tertiary.disabled,
.ui-button.option-tertiary.option-disabled,
body.loading .ui-button.option-tertiary.option-disabled-on-loading {
    background-color: $button-tertiary-disabled-background-color;
    color: $button-tertiary-disabled-text-color;
    fill: $button-tertiary-disabled-icon-color;
    border-color: $button-tertiary-disabled-border-color;
    opacity: $button-tertiary-disabled-opacity;
    pointer-events: none;
}




.ui-controlgroup .ui-checkboxradio-checked,
.ui-dialog:not(.option-no-buttonset) .ui-dialog-buttonset .ui-button:last-of-type {
    background-color: $button-secondary-active-background-color;
    color: $button-secondary-active-text-color;
    fill: $button-secondary-active-icon-color;
    border-color: $button-secondary-active-border-color;
}
body.not-touch-enabled .ui-button:hover .subvalue,
.ui-button.option-primary .subvalue,
.ui-button.option-active .subvalue,
.ui-button.option-selected .subvalue,
.ui-button.selected .subvalue {
    color: $highlight-text-color;
}

.ui-button,
.ui-button * {
    cursor: pointer;
}




.ui-button svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    position: relative;
    left: 0.2em;
    top: -1px;
    margin-top: calc(-1em / 2);
    margin-bottom: calc(-1em / 2);
}
.ui-button.option-icon-before-text svg.icon {
    left: -0.2em;
}
.ui-button.option-icon-only svg.icon {
    left: 0px;
}

a.ui-button {
    display: inline-block;
}




.ui-button.option-large {
    font-size: $button-large-font-size;
    padding-left: $button-large-padding-left;
    padding-right: $button-large-padding-right;
    padding-top: $button-large-padding-top;
    padding-bottom: $button-large-padding-bottom;
}

.ui-button.option-large-icon .icon,
.option-large-icons .ui-button .icon {
    width: 1.2em;
    height: 1.2em;
}


.ui-button.option-next,
.ui-button.option-right {
    float: right;
}







.ui-button.option-translucent:not(:hover):not(.selected) {
    background-color: transparent;
    border-color: transparent;
}




.ui-button.option-small {
    font-size: $button-small-font-size;

    padding-left: $button-small-padding-left;
    padding-right: $button-small-padding-right;
    padding-top: $button-small-padding-top;
    padding-bottom: $button-small-padding-bottom;
}
.ui-button.option-small.option-icon-only {
    padding-left: $button-small-padding-top;
    padding-right: $button-small-padding-top;
}
.ui-button.option-small.option-icon-only svg {
    top: -3px;
}






.ui-button.option-thumbnail,
.ui-button.option-large-thumbnail {
    position: relative;
    padding-bottom: calc(30px + 8px);
    overflow: hidden;
}
.ui-button.option-thumbnail .thumbnail,
.ui-button.option-large-thumbnail .thumbnail {
    width: 100%;
    height: 30px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    background-position: center center;
    background-size: cover;
}
.ui-button.option-large-thumbnail {
    padding-bottom: calc(90px + 8px + 8px);
}
.ui-button.option-large-thumbnail .thumbnail {
    height: 90px;
    bottom: 8px;
}
.ui-button.option-extralarge-thumbnail {
    padding-bottom: calc(120px + 8px + 8px);
}
.ui-button.option-extralarge-thumbnail .thumbnail {
    height: 120px;
    bottom: 8px;
}


.ui-button .thumbnail.option-fit {
    background-size: contain;
    background-repeat: no-repeat;
}



.ui-button.option-half-width {
    width: 50%;
    float: left;
}



.ui-button.option-thumbnail.option-magnify.option-waiting .thumbnail {
    cursor: wait;
}
.ui-button.option-thumbnail.option-magnify.option-magnified * {
    cursor: none;
}



.ui-button.option-snap-top-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;
    top: calc(-$button-line-size - $button-corner-radius);
}










.ui-checkbox,
.ui-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 0px;
    line-height: 1.3em;
}
.ui-checkbox input,
.ui-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.ui-checkbox .checkmark,
.ui-radio .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 26px;
    width: 26px;
    cursor: pointer;
    border-radius: $button-corner-radius;

    background-color: $button-secondary-default-background-color;
    border: $line-size solid $input-default-border-color;

    transition-property: border-color, background-color;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-radio .checkmark {
    border-radius: 50%;
}

.ui-checkbox input:checked ~ .checkmark,
.ui-checkbox.selected .checkmark {
  background-color: $button-secondary-active-background-color;
}
.ui-checkbox .checkmark:after,
.ui-radio .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0.0;

    transition-property: opacity;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-checkbox .checkmark:after {
    left: $padding-half;
    top: 2px;
    width: 5.6px;
    height: 14px;
    border: solid $button-secondary-active-text-color;
    border-width: 0 2px 2px 0;
    transform: rotate(35deg);
}
.ui-radio .checkmark:after {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: $button-radio-dot-size;
    height: $button-radio-dot-size;
    background-color: $button-secondary-active-background-color;
    border-radius: 50%;
}
.ui-checkbox input:checked ~ .checkmark:after,
.ui-checkbox.selected .checkmark:after,
.ui-radio input:checked ~ .checkmark:after,
.ui-radio.selected .checkmark:after {
  opacity: 1.0;
}

.ui-checkbox .ui-link,
.ui-radio .ui-link {
  border-color: $black;
}
.ui-checkbox .ui-link:hover,
.ui-radio .ui-link:hover {
  border-color: $button-secondary-active-background-color;
}





.ui-controlgroup .ui-radio {
    display: inline-block;
    margin-right: $padding-double;
}

.ui-controlgroup .ui-button {

}
body.tablet .ui-controlgroup .ui-button:not(.option-icon-only),
body.mobile .ui-controlgroup .ui-button:not(.option-icon-only) {
    padding-left: $padding-half;
    padding-right: $padding-half;
}

.ui-controlgroup .ui-button.option-hidden,
.ui-controlgroup .ui-button.hidden,
.ui-dialog:not(.option-no-buttonset) .ui-dialog-buttonset .ui-button.option-hidden,
.ui-dialog:not(.option-no-buttonset) .ui-dialog-buttonset .ui-button.hidden {
    display: none !important;
}








.ui-controlgroup .ui-button,
.ui-dialog-buttonset .ui-button {
    display: inline-block;
}



.ui-controlgroup.option-buttons-floating .ui-button,
.ui-dialog-buttonset.option-buttons-floating .ui-button {
    display: block;
    float: left;
}



.ui-controlgroup .ui-button:first-of-type,
.ui-controlgroup .ui-button.option-first,
.ui-dialog:not(.option-no-buttonset) .ui-dialog-buttonset .ui-button:first-of-type,
.ui-dialog:not(.option-no-buttonset) .ui-dialog-buttonset .ui-button.option-first {
    /* LEFT MOST */
    DEBUG_background-color: yellow;

    DEP_border-left: $button-line-size solid $button-secondary-default-border-color;
    border-bottom-left-radius: $button-corner-radius;
    border-top-left-radius: $button-corner-radius;
    margin-right: $padding-quarter;
    margin-bottom: $padding-quarter;
}
.ui-controlgroup .ui-button:last-of-type,
.ui-controlgroup .ui-button.option-last,
.ui-dialog:not(.option-no-buttonset) .ui-dialog-buttonset .ui-button:last-of-type,
.ui-dialog:not(.option-no-buttonset) .ui-dialog-buttonset .ui-button.option-last {
    /* RIGHT MOST */
    DEBUG_background-color: green;

    border-bottom-right-radius: $button-corner-radius;
    border-top-right-radius: $button-corner-radius;
    margin-bottom: $padding-quarter;
}
.ui-controlgroup .ui-button,
.ui-dialog:not(.option-no-buttonset) .ui-dialog-buttonset .ui-button {
    /* ALL IN CENTER (ALL OTHER) */
    DEBUG_background-color: red;
    
    border-radius: 0px;
    DEP_border-left: none;
    margin-right: $padding-quarter;
    margin-bottom: $padding-quarter;
}
.ui-controlgroup[data-button-count='2'] .ui-button,
.ui-controlgroup[data-button-count='3'] .ui-button {
    margin-right: 0px;
    border-left-width: 0px;
}
.ui-controlgroup[data-button-count='2'] .ui-button:first-of-type,
.ui-controlgroup[data-button-count='3'] .ui-button:first-of-type {
    margin-right: 0px;
    border-left-width: $button-line-size;
    border-bottom-left-radius: $button-corner-radius;
    border-top-left-radius: $button-corner-radius;
}


.ui-toolbar .tools .ui-button + .ui-button {
    border-left-width: 0px;
}


.ui-controlgroup .ui-button .ui-icon,
.ui-controlgroup .ui-button .ui-checkboxradio-icon-space {
    display: none;
}








.ui-button[type="file"]::file-selector-button {
    display: none;
}








.ui-button-group {
    display: flex;
    flex-direction: row;
    column-gap: $padding;
    justify-content: center;
}