﻿

.ui-form {

}

.ui-form .ui-form-row {
    clear: both;
}

.ui-form .ui-form-row.option-dual-input,
.ui-form .ui-form-row.option-tripple-input {
    display: flex;
    flex-direction: row;
    gap: $padding-half;
}
.ui-form .ui-form-row .left-input,
.ui-form .ui-form-row .right-input { 
    width: 50%;
}
.ui-form .ui-form-row.option-tripple-input .left-input,
.ui-form .ui-form-row.option-tripple-input .middle-input,
.ui-form .ui-form-row.option-tripple-input .right-input { 
    width: 33.33333333333%;
}

DEP_.ui-form .ui-form-row .left-input {
    width: 50%;
    display: inline-block;
    padding-right: $padding-quarter;
    box-sizing: border-box;
}
DEP_.ui-form .ui-form-row .right-input {
    width: 50%;
    display: inline-block;
    padding-left: $padding-quarter;
    box-sizing: border-box;
}
.ui-form .ui-form-row.option-left-input-small .left-input {
    width: 30%;
}
.ui-form .ui-form-row.option-left-input-small .right-input {
    width: 70%;
}
.ui-form .ui-form-row.option-right-input-small .left-input {
    width: 70%;
}
.ui-form .ui-form-row.option-right-input-small .right-input {
    width: 30%;
}
.ui-form .ui-form-row .right-input.ui-input-with-integrated-label label {
    transform: translate($padding-half,0px);
}


.ui-form .ui-form-row.form-type-hidden {
    display: none !important;
}

.ui-form .ui-form-row .ui-input .ui-file-preview {
    margin: 0px;
    float: none;
}


.ui-form .ui-label {
    display: inline-block;
}
.ui-form .ui-form-row:first-of-type .ui-label {
    padding-top: 0px;
    margin-top: -$padding-quarter;
}







body {
    --input-padding-top: $input-padding-top;
    --input-padding-bottom: $input-padding-bottom;
    --input-padding-left: $input-padding-left;
    --input-padding-right: $input-padding-right;
}
body.mobile {
    --input-padding-top: $input-padding-top-mobile;
    --input-padding-bottom: $input-padding-bottom-mobile;
    --input-padding-left: $input-padding-left-mobile;
    --input-padding-right: $input-padding-right-mobile;
}


.ui-input-wrapper,
.ui-input[type=text],
.ui-form input[type=text],
.ui-table input[type=text],
.ui-form input[type=number],
.ui-form input[type=decimal],
.ui-form input[type=email],
.ui-form input[type=phone],
.ui-form input[type=tel],
.ui-form input[type=password],
.ui-form input[type=latlon],
.ui-form input[type=didok],
.ui-form input[type=didoks],
.ui-form input[type=range],
.ui-form input[type=date],
.ui-form input[type=addressbook],
.ui-form .ui-standard-input-element,
.ui-form textarea,
.ui-form select,
.ui-table select,
.ui-table thead input[type=search] {
    background-color: $input-default-background-color;
    color: $input-default-text-color;
    border: $line-size solid $input-default-border-color;
    border-radius: $input-border-radius; /* safari mobile fix */
    padding-top: var(--input-padding-top);
    padding-bottom: var(--input-padding-bottom);
    padding-left: var(--input-padding-left);
    padding-right: var(--input-padding-right);
    cursor: text;
    width: 100%;
    font-weight: $input-font-weight;
    font-size: $input-font-size;
    max-width: 400px;
    outline: none;
    box-shadow: $input-default-shadow;
    box-sizing: border-box;
    
    transition-property: color, border-color, background-color;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}

.ui-form .input-max-width,
.ui-form .ui-input-and-action {
    max-width: 400px;
}


.ui-input[type=text]:hover,
.ui-form input[type=number]:hover,
.ui-form input[type=text]:hover,
.ui-form input[type=email]:hover,
.ui-form input[type=phone]:hover,
.ui-form input[type=tel]:hover,
.ui-form input[type=password]:hover,
.ui-form .ui-standard-input-element:hover,
.ui-form textarea:hover,
.ui-form select:hover,
.ui-table thead input[type=search]:hover {
    background-color: $input-hover-background-color;
    border-color: $input-hover-border-color;
    color: $input-hover-text-color;
    box-shadow: $input-hover-shadow;
}

.ui-input[type=text]:focus,
.ui-form input[type=number]:focus,
.ui-form input[type=text]:focus,
.ui-form input[type=email]:focus,
.ui-form input[type=phone]:focus,
.ui-form input[type=tel]:focus,
.ui-form input[type=password]:focus,
.ui-form .ui-standard-input-element:focus,
.ui-form textarea:focus,
.ui-form select:focus,
.ui-table thead input[type=search]:focus {
    background-color: $input-active-background-color;
    border-color: $input-active-border-color;
    color: $input-active-text-color;
    box-shadow: $input-active-shadow;
}



.ui-form select,
.ui-table select {
    cursor: pointer;
}



$slider-thumb-size: 16px;
$slider-track-size: 2px;

.ui-form input[type=range] {

}

.ui-form input + input[type=range] {
    border-top: none;
}

.ui-form input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    cursor: default;
    
}
.ui-form input[type=range]:focus {
  outline: none;
}
.ui-form input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: $slider-track-size;
    background-color: $input-default-border-color;
    margin-top: calc($slider-thumb-size / 2);
    margin-bottom: calc($slider-thumb-size / 2);
}
.ui-form input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $black;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin-top: calc(-$slider-thumb-size / 2 + ($slider-track-size / 2));
}
.ui-form input[type=range]:focus::-webkit-slider-runnable-track {
  
}
.ui-form input[type=range]::-moz-range-track {
    width: 100%;
    height: $slider-track-size;
    background-color: $input-default-border-color;
    margin-top: calc($slider-thumb-size / 2);
    margin-bottom: calc($slider-thumb-size / 2);
}
.ui-form input[type=range]::-moz-range-thumb {
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $black;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin-top: calc(-$slider-thumb-size / 2 + ($slider-track-size / 2));
}
.ui-form input[type=range]::-ms-track {
    color: transparent;
    width: 100%;
    height: 2px;
    background-color: $input-default-border-color;
    margin-top: calc($slider-thumb-size / 2);
    margin-bottom: calc($slider-thumb-size / 2);
}
.ui-form input[type=range]::-ms-fill-lower {

}
.ui-form input[type=range]::-ms-fill-upper {

}
.ui-form input[type=range]::-ms-thumb {
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $black;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin-top: calc(-$slider-thumb-size / 2 + ($slider-track-size / 2));
}
.ui-form input[type=range]:focus::-ms-fill-lower {

}
.ui-form input[type=range]:focus::-ms-fill-upper {

}






.ui-form input[type=date] {
    text-align: left;
}
input::-webkit-date-and-time-value {
    text-align: left;
}




.ui-ab-range {
    cursor: default;
    width: 100%;
    height: $slider-track-size;
    background-color: $input-default-border-color;
    margin-top: calc($slider-thumb-size / 2);
    margin-bottom: calc($slider-thumb-size / 2);
    position: relative;
    text-align: left;
}
.ui-ab-range .ui-slider-range {
    height: $slider-track-size;
    background-color: $black;
    position: absolute;

}
.ui-ab-range .ui-slider-handle {
    margin-left: calc($slider-thumb-size / -2);
    margin-top: calc(-$slider-thumb-size / 2 + ($slider-track-size / 2));
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $black;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 0px;
}
.ui-ab-range {

}






.ui-form .ui-content-editor .content-translation .ui-card {
    margin-top: $padding-half;
    margin-bottom: 0px;
}
.ui-form .ui-content-editor .content-translation .ui-card .ui-card-actions {
    padding-top: 0px;
    padding-bottom: $padding;
}
.ui-form .ui-content-editor .content-translation .ui-card .ui-card-content {
    padding-bottom: $padding-half;
}
.ui-form .ui-content-editor .content-translation .page-title {
    font-size: $text-size;
}





.ui-form textarea {
    height: 5.4rem;
    resize: vertical;
}





.ui-form .ui-checkbox .checkmark {
    background-color: $input-default-background-color;
    border: $line-size solid $input-default-border-color;
}




.ui-form .ui-value img {
    max-width: 20rem;
}
.ui-form .ui-value .map {
    min-height: 160px;
    margin-top: $padding-half;
}

.ui-form .ui-value xa {
    text-decoration: underline;
}





body.loading .ui-form * {
    pointer-events: none;
}







.ui-input-error {
    margin-top: $padding-half;
    padding: $padding-half;
    border-left: $padding-half solid $error;
    clear: both;
}









$input-and-action-actions-width: 4rem;

.ui-input-and-action {
    position: relative;
    height: 2rem;

}
.ui-input-and-action .input-group {
    position: absolute;
    left: 0px;
    right: $input-and-action-actions-width;
    top: 0px;
    height: 100%;
}
.ui-input-and-action .action-group {
    position: absolute;
    right: 0px;
    width: $input-and-action-actions-width;
    top: 0px;
    height: 100%;
}

.ui-input-and-action .input-group input {
    height: 100%;
}
.ui-input-and-action .action-group button {
    height: 100%;
    width: 50%;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    border: $line-size solid $input-default-border-color;
    border-left: none;
}
.ui-input-and-action.num-actions-1 .action-group button {
    width: 100%;
}
.ui-input-and-action.num-actions-2 .action-group button {
    width: 50%;
}
.ui-input-and-action.num-actions-3 .action-group button {
    width: 33.333%;
}
.ui-input-and-action.num-actions-4 .action-group button {
    width: 25%;
}
.ui-input-and-action .action-group button:hover {
    xborder-color: $highlight-color;
    xcolor: $highlight-color;
}





.ui-form .ui-input-with-integrated-label {
    position: relative;
    margin-top: $padding;
    margin-bottom: $padding;
}
.ui-form .ui-input-with-integrated-label label {
    position: absolute;
    left: var(--input-padding-left);
    top: var(--input-padding-top);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px !important;
    font-size: $input-integrated-active-label-size;
    color: $input-integrated-active-label-color;

    pointer-events: none;

    transition-property: top, font-size, opacity;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-form .ui-input-with-integrated-label.option-input-empty:not(.option-input-focused) label {
    pointer-events: none;
}
.ui-form .ui-input-with-integrated-label input,
.ui-form .ui-input-with-integrated-label textarea,
.ui-form .ui-input-with-integrated-label select {
    padding-top: calc(var(--input-padding-top) + ($input-integrated-default-label-size * 1.0) + $padding-half);
}
.ui-form .ui-input-with-integrated-label select {
    padding-left: calc(var(--input-padding-left) - 0.2em);
}
.ui-form .ui-input-with-integrated-label.option-input-empty:not(.option-input-focused) label {
    top: calc(var(--input-padding-top) + ($input-font-size * 0.8));
    font-size: $input-integrated-default-label-size;
    color: $input-integrated-default-label-color;
}

.ui-form .ui-input-with-integrated-label.option-input-empty:not(.option-input-focused) input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0.0;
}
.ui-form .ui-input-with-integrated-label.option-input-empty:not(.option-input-focused) input[type=date] {
    color: transparent;
}
.ui-form .ui-input-with-integrated-label.option-input-empty:not(.option-input-focused) input::placeholder {
    color: transparent;
}





.ui-form .ui-input-with-integrated-label.option-input-scrolled label {
    opacity: 0.0;
}













 /* Hide number spinbox: Webkit */
.ui-form input[type=number]::-webkit-outer-spin-button,
.ui-form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 
/* Hide number spinbox: Firefox */
.ui-form input[type=number] {
    -moz-appearance:textfield;
}

.ui-form .ui-input[data-type=number] .action-plus,
.ui-form .ui-input[data-type=number] .action-minus {
    position: absolute;
    right: $padding-half;
    top: 50%;
    transform: translate(0px,-50%);
    cursor: pointer;
}

.ui-form .ui-input[data-type=number] .action-minus {
    right: calc($padding-half + ($padding-half / 2) + var(--icon-size));
}