﻿


.ui-symbol {
    width: $symbol-size;
    height: $symbol-size;
    border-radius: $symbol-size;
    text-align: center;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: $z-index-symbol;
}
.ui-symbol:before {
    width: $symbol-size;
    height: $symbol-size;
    border-radius: $symbol-size;
    background-color: $highlight-color;
    position: absolute;
    content: '';
}



body.mobile .ui-symbol {
    width: $symbol-size-mobile;
    height: $symbol-size-mobile;
    border-radius: $symbol-size-mobile;
}
body.mobile .ui-symbol:before {
    width: $symbol-size-mobile;
    height: $symbol-size-mobile;
    border-radius: $symbol-size-mobile;
}

.ui-symbol .panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.ui-symbol .panel.image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.ui-symbol .panel.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    list-style: none;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.ui-symbol .panel.menu li {
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.ui-symbol .panel.menu li a {
    color: $white;
    font-weight: $button-font-weight;
}
.ui-symbol .panel.menu li a:hover {
    border-bottom-color: $white;
}

.ui-symbol.option-horizontal-menu .panel.menu {
    flex-direction: row;
    align-items: center;
}
.ui-symbol.option-horizontal-menu .panel.menu li {
    margin-left: 3px;
    margin-right: 3px;
}

.ui-symbol .text,
.ui-symbol .text a {
    color: $white;
    font-weight: $button-font-weight;
}
.ui-symbol .text a:hover {
    border-bottom-color: $white;
}

.ui-symbol .icon {
    color: $white;
    font-weight: $button-font-weight;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ui-symbol .icon.text-icon {
    font-weight: $button-font-weight;
    font-size: 1.5em;
}
.ui-symbol .icon svg {
    fill: $white;
    transform: scale(1.2);
}

.ui-symbol.option-expand-on-hover:before,
.ui-symbol.option-expandable:before,
.ui-symbol.option-expand-on-hover .panel,
.ui-symbol.option-expandable .panel {
    transition-duration: $regular-transition-time;
    transition-timing-function: ease-in-out;
    transition-property: left,width,height,border-radius,opacity;
} 
.ui-symbol.option-expand-on-hover:hover
.ui-symbol.option-expandable.expanded {
    BUG_z-index: $z-index-symbol-hover;
}
.ui-symbol.option-expand-on-hover:hover:before,
.ui-symbol.option-expandable.expanded:before {
    width: $symbol-size-expanded;
    height: $symbol-size-expanded;
    border-radius: $symbol-size-expanded;
}
.ui-symbol.option-expandable.waiting,
.ui-symbol.option-expandable.waiting * {
    cursor: progress;
}
.ui-symbol.option-expand-on-hover .panel.show-on-hover,
.ui-symbol.option-expandable .panel.show-on-hover {
    
    opacity: 0.0;
    pointer-events: none;

    
    width: $symbol-size-expanded;
    height: $symbol-size-expanded;
    position: absolute;
    left: -$symbol-size-expanded-offset;
    top: -$symbol-size-expanded-offset;
}
.ui-symbol.option-expand-on-hover:hover .panel.hide-on-hover,
.ui-symbol.option-expandable.expanded .panel.hide-on-hover {
    opacity: 0.0;
    pointer-events: none;
}
.ui-symbol.option-expand-on-hover:hover .panel.show-on-hover,
.ui-symbol.option-expandable.expanded .panel.show-on-hover {
    opacity: 1.0;
    pointer-events: all;
}

.ui-symbol.option-expandable.waiting,
.ui-symbol.option-expandable.expanded {
    z-index: $z-index-symbol-expanded;
}





.ui-symbol.option-expand-on-hover.option-expand-left:before,
.ui-symbol.option-expandable.option-expand-left:before {
    left: 0px;
}
.ui-symbol.option-expand-on-hover.option-expand-left:hover:before,
.ui-symbol.option-expandable.option-expand-left.expanded:before {
    left: -$symbol-size-expanded-left;
}
.ui-symbol.option-expand-on-hover.option-expand-left .panel.show-on-hover,
.ui-symbol.option-expandable.option-expand-left .panel.show-on-hover {
    left: -$symbol-size-expanded-left;
}


.ui-symbol.option-micro,
.ui-symbol.option-micro:before {
    width: $symbol-size-micro;
    height: $symbol-size-micro;
    border-radius: $symbol-size-micro;
}
.ui-symbol.option-expand-on-hover.option-micro .panel.show-on-hover,
.ui-symbol.option-expandable.option-micro .panel.show-on-hover {
    left: -$symbol-size-expanded-offset-micro;
    top: -$symbol-size-expanded-offset-micro;
}




.ui-symbol.option-info:before {
    background-color: $black2;
}
.ui-symbol.option-info .panel.icon {
    font-size: 1.4em;
}
.ui-symbol.option-info.option-micro .panel.icon {
    font-size: 1.2em;
}



.ui-symbol-collection .ui-symbol {
    float: left;
    margin-right: $padding;
}
.ui-symbol-collection .ui-symbol.option-float-right {
    float: right;
    margin-right: 0px;
    margin-left: $padding;
}







