﻿


.ui-menu {
    box-shadow: $menu-box-shadow;
}
.ui-menu .section {
    border-bottom: $line-size solid $menu-section-line-color;
}
.ui-menu .section-item {
    position: relative;
}
.ui-menu .section-item:before {
    content:'';
    background-color: $black3;
    opacity: 0.0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    transition: all ease-in-out $quick-transition-time;
}
.ui-menu .section-items .section-item a  {
    border-top: $line-size solid $black4;
    padding-left: 0.5rem;
}
.ui-menu .section-item.selected:before {
    width: $padding-quarter;
    background-color: $highlight-color;
    opacity: 1.0;
}
.ui-menu .section-item.selected a {
    font-weight: bold;
}
.ui-menu .section-item.inactive a {
    color: $black4;
}
.ui-menu .section-item:hover:before {
    width: $padding-quarter;
    background-color: $highlight-color;
    opacity: 1.0;
}
.ui-menu .section-item a {
    display: block;
    padding-left: $padding;
    padding-top: $padding;
    padding-bottom: $padding;
    font-size: $menu-size;
    font-weight: $menu-weight;
}

.ui-menu .section .section-items .section-item {
    padding-left: $padding;
    display: none;
}
.ui-menu .section .section-items .section-item a {
    padding-top: $padding-half;
    padding-bottom: $padding-half;
}


.ui-menu.option-compact-menu.option-more-than-10-sections .section-item a {
    DEP_padding-left: $padding-half;
    padding-top: $padding-half;
    padding-bottom: $padding-half;
}
.ui-menu.option-compact-menu.option-more-than-15-sections .section-item a {
    DEP_padding-left: $padding-half;
    padding-top: $padding-quarter;
    padding-bottom: $padding-quarter;
}


.ui-menu .section.selected {
    background-color: $page-color;
}
.ui-menu .section.selected .section-items .section-item {
    display: inherit;
}



.ui-menu.option-scrollable  {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*TODO REVIEW DAN*/
/* fix to not select "All" sub menu item which is selected by autoselect */
/*not-selectable is programmatically set on "All" */
.ui-menu .section-item.selected.not-selectable:before {
    width: 0px;
}

/*hide section sub items which are of children a not selected section*/
.ui-menu .section:not(.selected) .section-item:not(.section-root) {
    display: none;
}


