﻿.ui-processbar {
    height: 3rem;
    position: relative;
}
.ui-processbar .step {
    width: 33%;
    float: left;
    position: relative;
    text-align: left;
    font-size: $label-font-size;
    font-weight: $button-font-weight;
    text-transform: uppercase;
    white-space: nowrap;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}



.ui-processbar .step::before {
    content: '';
    position: absolute;
    top: 1.5em;
    width: 100%;
    background-color: $page-color;
    height: 1.9rem;
    border: $line-size solid $line-color-dark;
    pointer-events: none;
    box-sizing: border-box;
}
.ui-processbar .step:first-of-type::before {
    border-bottom-left-radius: 0.9rem;
    border-top-left-radius: 0.9rem;
}
.ui-processbar .step:last-of-type::before {
    border-bottom-right-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
}






.ui-processbar .step::after {
    display: block;
    content: '';
    position: absolute;
    top: 2.04em;
    left: 0px;
    right: 0px;
    background-color: $line-color-dark;
    height: 1.2rem;
    pointer-events: none;
}
.ui-processbar .step:first-of-type::after {
    border-bottom-left-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    left: 0.4rem;
    right: 0px;
}
.ui-processbar .step:last-of-type::after {
    border-bottom-right-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    right: 0.3rem;
    left: 0px;
}


.ui-processbar.option-by-percent label {
    display: block;
    position: absolute;
    top: 1.4em;
    left: 6px;
    right: 8px;
    background-color: $line-color-dark;
    height: 1.2rem;
    border-radius: 0.6rem;
    overflow: hidden;
    pointer-events: none;
}
.ui-processbar.option-by-percent label .progress {
    height: 100%;
    background-color: $highlight-color;
    pointer-events: none;
}

.ui-processbar .step.option-active {
    color: $highlight-color;
}
.ui-processbar.option-by-step .step.option-active::after {
    background-color: $highlight-color;
}





body.tablet-or-mobile .ui-processbar {
    height: 4rem;
}
body.tablet-or-mobile .ui-processbar .step {
    white-space: normal;
}
body.tablet-or-mobile .ui-processbar.option-by-percent label {
    top: 2.1em;
}
body.tablet-or-mobile .ui-processbar .step::before {
    top: 2.5em;
}
body.tablet-or-mobile .ui-processbar .step::after {
    top: 3.04em;
}