﻿
.ui-info {
    padding: $padding;
    background-color: $solid-color;
    border-left: $padding-half solid $blue;
    margin-top: $padding;
    margin-bottom: $padding;
    min-height: 72px;
    position: relative;
}

.ui-info.option-warning,
.ui-info.option-debug {
    border-left-color: $warning;
}
.ui-info.option-error {
    border-left-color: $error;
}
.ui-info.option-success {
    border-left-color: $success;
}






.ui-info .ui-symbol {
    float: left;
    margin-bottom: 8px;
    margin-right: $padding;
}
.ui-info .ui-symbol:before {
    background-color: $black2;
}
.ui-info .info-text {
    font-size: $info-size;
    padding-top: 8px;
    text-align: left;
}
.ui-info .info-text * {
    font-size: $info-size;
}

.ui-info .ui-symbol + .info-text {
    xdisplay:block;
}
.ui-card .ui-info {
    DEPRECATED_background-color: $black5;
}



.ui-info .info-text a {
    border-bottom-color: $black2;
}



.ui-info.option-tight {
    margin-top: 0px;
    margin-bottom: 0px;
}



.ui-info.option-small {
    padding: $padding-half;
    min-height: auto;
}
.ui-info.option-small .info-text {
    font-size: $text-size;
    padding-top: 0px;
}
.ui-info.option-small .info-text * {
    font-size: $text-size;
}




.ui-info.option-inline {
    display: inline-block;
    max-width: 600px;
}


.ui-card .ui-info {
    border-top: 1px solid $line-color;
    border-right: 1px solid $line-color;
    border-bottom: 1px solid $line-color;
    border-radius: $card-corner-radius;
}