﻿.ui-page {
    margin-left: auto;
    margin-right: auto;
    max-width: $standard-page-width;
}
.ui-page.option-reduced-width {
    max-width: $reduced-page-width;
}
.ui-page.option-narrow-width {
    max-width: $narrow-page-width;
}