﻿.ui-reporting-chart {
    width: 100%;
    height: 400px;
}

.ui-reporting-chart.loading .machinata-reporting-node {
    opacity: 0.4;
}

.ui-card .machinata-reporting-report {
    min-height: unset;
    margin-bottom: -64px;
}