﻿.ui-layout-container {
    margin-left: -$padding;
    margin-right: -$padding;
    position: relative;
}

.ui-layout-container .ui-layout {
    float: left;
    padding-left: $padding;
    padding-right: $padding;
}

.ui-layout-container .ui-layout .ui-card:first-of-type {
    margin-top: 0px;
}





.ui-layout-container.option-align-bottom {
    display: flex;
    align-items: flex-end;
}





.ui-layout-container .ui-layout.has-sticky-content {
    position: absolute;
}
.ui-layout-container .ui-sticky-content {
    position: fixed;
}


body.tablet-or-mobile .ui-layout-container .ui-layout.has-sticky-content.option-only-sticky-for-desktop {
    position: unset;
}
body.tablet-or-mobile .ui-layout-container .ui-layout.has-sticky-content.option-only-sticky-for-desktop .ui-sticky-content {
    position: unset;
}






.ui-layout-container.option-sidebar .ui-layout:first-child {
    width: 60%;
    float: left;
}
.ui-layout-container.option-sidebar.option-sidebar-left .ui-layout:first-child {
    float: right;
}
.ui-layout-container.option-sidebar .ui-layout-container.option-2-2 .ui-layout:first-child {
    /* fix for nested layotus*/
    width: 50%;
    float: left;
}
.ui-layout-container.option-sidebar .ui-layout:last-child {
    width: 40%;
    float: right;
}
.ui-layout-container.option-sidebar.option-sidebar-left .ui-layout:last-child {
    width: 40%;
    float: left;
}
.ui-layout-container.option-sidebar .ui-layout-container.option-2-2 .ui-layout:last-child {
    /* fix for nested layotus*/
    width: 50%;
    float: left;
}
.ui-layout-container.option-sidebar .ui-layout.has-sticky-content:last-child {
    right: 0px;
    top: 0px;
}


body.tablet .ui-layout-container.option-sidebar .ui-layout:first-child,
body.mobile .ui-layout-container.option-sidebar .ui-layout:first-child {
    width: 100%;
    float: unset;
}
body.tablet .ui-layout-container.option-sidebar .ui-layout:last-child,
body.mobile .ui-layout-container.option-sidebar .ui-layout:last-child {
    width: 100%;
    float: unset;
}










.ui-layout-container.option-2-2 .ui-layout {
    width: 50%;
}
body.mobile .ui-layout-container.option-2-2 .ui-layout {
    width: unset;
    float: unset;
}





.ui-layout-container.option-3-1 .ui-layout:first-child {
    width: 75%;
}
.ui-layout-container.option-3-1 .ui-layout:last-child {
    width: 25%;
}




.ui-layout-container.option-2-1 .ui-layout:first-child {
    width: 66.66666%;
}
.ui-layout-container.option-2-1 .ui-layout:last-child {
    width: 33.33333%;
}


.ui-layout-container.option-1-2 .ui-layout:first-child {
    width: 66.66666%;
}
.ui-layout-container.option-1-2 .ui-layout:last-child {
    width: 33.33333%;
}





.ui-layout-container.option-1-3 .ui-layout:first-child {
    width: 25%;
}
.ui-layout-container.option-1-3 .ui-layout:last-child {
    width: 75%;
}






.ui-layout-container.option-two-column .ui-layout {
    width: 50%;
}
body.tablet .ui-layout-container.option-two-column,
body.mobile .ui-layout-container.option-two-column {
    display: block; /* because some options set to flex */
}
body.tablet .ui-layout-container.option-two-column .ui-layout {
    width: 100%;
}
body.mobile .ui-layout-container.option-two-column .ui-layout {
    width: 100%;
}




.ui-layout-container.option-three-column .ui-layout {
    width: 33.333333%;
}
body.tablet .ui-layout-container.option-three-column .ui-layout {
    width: 100%;
}
body.mobile .ui-layout-container.option-three-column .ui-layout {
    width: 100%;
}