﻿.ui-survey {
    background: red;
}
.ui-survey .survey-question[data-question-required='False'] .required-symbol,
.ui-survey .survey-question[data-question-required='True'] .optional-symbol {
    display: none !important;
}