﻿
.ui-table {
    width: 100%;
    border-collapse: collapse;
}


.ui-table td a,
DEPRECATED_.ui-table th a {
    display: block;
}
.ui-table td, 
.ui-table th {
    border: $line-size solid $line-color;
}

.ui-table th {
    padding: $padding-half;
    text-align: left;
}
.ui-table .tableFloatingHeaderOriginal th {
    background-color: $page-color;
}
.ui-card .ui-table .tableFloatingHeaderOriginal th {
    background-color: $solid-color;
}


.ui-table td {
    padding: $padding-half;
    DISABLED_word-break: break-word; /* deprecated due to too many issues*/
}


.ui-table.option-small-text td,
body.mobile .ui-table.option-small-text-on-mobile td {
    font-size: $small-text-table-font-size;
    padding: $padding-quarter;
}
.ui-table.option-small-text th,
body.mobile .ui-table.option-small-text-on-mobile th {
    padding: $padding-quarter;
}

.ui-table.option-small-text .ui-checkbox .checkmark,
body.mobile .ui-table.option-small-text-on-mobile .ui-checkbox .checkmark {
    transform: scale(0.8);
    top: 0px;
}



.ui-table tr:first-child td,
.ui-table tr:first-child th {
    border-top: none;
}
.ui-table tr:last-child td {
    border-bottom: none;
}
.ui-table td:first-child, 
.ui-table th:first-child {
    border-left: none;
}
.ui-table td:last-child, 
.ui-table th:last-child {
    border-right: none;
}
.ui-table td a,
.ui-table th a {
}
.ui-table th,
.ui-table th a,
.ui-table td.label,
.ui-table td .cell-label {
    color: $highlight-color;
    word-break: keep-all;
    text-wrap: avoid;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: $label-font-size;
    font-weight: $label-font-weight
}
.ui-table td .cell-label {
    margin-bottom: $padding;
    font-size: $small-text-table-font-size;
}
.ui-table td.label.item {
    color: unset;
}
.ui-table th {
    
}
.ui-table th a {
}

.ui-table td.group,
.ui-table tr.total td {
    font-weight: bold;
}

.ui-table td.red {
    background-color: $red-color;
}

.ui-table td.center {
    text-align: center;
}

.ui-table td.input,
.ui-table td.select,
.ui-table td.textarea {
    width: 100%;
}

.ui-table td.no-break {
    white-space: nowrap;
}

.ui-table td.type-Int32,
.ui-table td.type-Int64,
.ui-table td.type-Long,
.ui-table td.type-Double,
.ui-table td.type-Decimal,
.ui-table td.type-Price,
.ui-table td.price,
.ui-table td.quantity,
.ui-table td.total,
.ui-table td.subtotal {
    text-align: right;
}

.ui-table th.type-Int32,
.ui-table th.type-Int64,
.ui-table th.type-Long,
.ui-table th.type-Double,
.ui-table th.type-Decimal,
.ui-table th.type-Price,
.ui-table th.price,
.ui-table th.quantity,
.ui-table th.total,
.ui-table th.subtotal {
    text-align: right;
}

.ui-table th.type-Int32 a,
.ui-table th.type-Int64 a,
.ui-table th.type-Long a,
.ui-table th.type-Double a,
.ui-table th.type-Decimal a,
.ui-table th.type-Price a,
.ui-table th.price a,
.ui-table th.quantity a,
.ui-table th.total a,
.ui-table th.subtotal a {
    text-align: right;
}

.ui-table td.type-Int32 input,
.ui-table td.type-Int64 input,
.ui-table td.type-Long input,
.ui-table td.type-Double input,
.ui-table td.type-Decimal input,
.ui-table td.type-Price input,
.ui-table td.price input,
.ui-table td.quantity input,
.ui-table td.total input,
.ui-table td.subtotal input {
    text-align: right;
}




.ui-table tr.deselected td,
.ui-table tr.unpublished td,
.ui-table tr td.unpublished,
.ui-table tr.disabled td,
.ui-table tr td.disabled {
    opacity: 0.6;
    DEP_border: 1px solid $white-color;
}


/* TODO: info status colors*/
.ui-table tr[data-info-status-color="warning"] td:first-of-type {
    background-color: $warning;
}
.ui-table tr[data-info-status-color="error"] td:first-of-type {
    background-color: $error;
}


.ui-table td .only-if-selected,
.ui-table th .only-if-selected {
    display: none;
}
.ui-table td.selected .only-if-selected,
.ui-table th.selected .only-if-selected {
    display: inline-block;
}


.ui-table td.link,
.ui-table tr.link td {
    transition-property: background-color;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}

.ui-table td.link {
    border-top: $line-size solid $line-color;
}
.ui-table td.link .icon {
    float: right;
    width: 1.2em;
    height: 1.2em;
    margin-left: $padding-half;
}
.ui-table tr.link:hover:not(.selected) td,
.ui-table td.link:hover:not(.selected) {
    background-color: $page-color;
    cursor: pointer;
}

.ui-table.option-no-icon-links tr.link td.link a.has-link-icon .icon.icon-right,
.ui-table tr.link td.link:not(:last-child) a.has-link-icon .icon.icon-right {
    display: none;
}




.ui-table tr.selected td,
.ui-table td.selected {
    color: $highlight-text-color;
    background-color: $highlight-color;
}





.ui-table td .ui-checkbox {
    display: unset;
}
/*.ui-table tr.disabled .ui-checkbox {
    pointer-events: none;
}*/








.ui-table thead input[type=search] {
    max-width: unset;
}

.ui-table thead input[type=search].disabled {
    opacity: 0;
    pointer-events: none;
}

   





.ui-table thead .tablesorter-header .tablesorter-header-inner {
    cursor: pointer;
}

.ui-table thead .tablesorter-header.tablesorter-headerUnSorted .tablesorter-header-inner:after,
.ui-table thead .tablesorter-header.tablesorter-headerDesc .tablesorter-header-inner:after,
.ui-table thead .tablesorter-header.tablesorter-headerAsc .tablesorter-header-inner:after {
    content:"\$symbol-font-sort-down-unicode"; /* with this we resize the cell so that when the user clicks, no jolt happens */
    border: 1px solid $text-color;
    background-color: $text-color;
    color: $solid-color;
    border-radius: 1em;
    width: 1.2em;
    display: inline-block;
    text-align: center;
    opacity: 0.0;

    transition-property: opacity;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-table thead .tablesorter-header.tablesorter-headerDesc .tablesorter-header-inner:after {
    content:"\$symbol-font-sort-down-unicode";
    opacity: 1.0;
}
.ui-table thead .tablesorter-header.tablesorter-headerAsc .tablesorter-header-inner:after {
    content:"\$symbol-font-sort-up-unicode";
    opacity: 1.0;
}


.ui-table.tablesorter .filtered {
    display: none;
}







.ui-table.option-rows-sortable td.sorter-handle {
    background-color: $line-color;
    width: 30px;
    text-align: center;
    vertical-align: central;
    position: relative;
}
.ui-table.option-rows-sortable td.sorter-handle,
.ui-table.option-rows-sortable td.sorter-handle * {
    cursor: move !important;
}

.ui-table.option-rows-sortable td.sorter-handle svg {
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    transition-property: opacity;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-table.option-rows-sortable tr:hover td.sorter-handle svg {
    opacity: 1.0;
}






.ui-table.option-schedule td {
    vertical-align: top;
}
.ui-table.option-schedule td .tools {
    margin-top: $padding;
}
.ui-table.option-schedule td .tools {
    opacity: 0.0;
    
    transition-property: opacity;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-table.option-schedule td:hover .tools {
    opacity: 1.0;
}
.ui-table.option-schedule .ui-entity-card {
    width: 100%;
    max-width: unset;
    float: unset;
    margin-top: $padding;
    margin-bottom: 0px;
}







.ui-editable-table {
    border: 1px solid $text-color;
}

.ui-editable-table th,
.ui-editable-table td {
    position: relative;
    border: 1px solid $text-color;
}


.ui-editable-table .table-tools {
    position: absolute;
    opacity: 0.0;
    pointer-events: none;
    
    transition-property: opacity;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-editable-table th:hover .table-tools,
.ui-editable-table td:hover .table-tools {
    opacity: 1.0;
    pointer-events: unset;
}
.ui-editable-table .table-tools.position-top-center {
    top: -$padding;
    left: 50%;
    transform: translate(-50%, 0px);
}
.ui-editable-table .table-tools.position-bottom-center {
    top: calc(100% - $padding / 2);
    left: 50%;
    transform: translate(-50%, 0px);
}
.ui-editable-table .table-tools.position-top-left {
    top: -$padding;
    left: 0%;
    transform: translate(-50%, 0px);
}
.ui-editable-table .table-tools.position-top-right {
    top: -$padding;
    left: 100%;
    transform: translate(-50%, 0px);
}
.ui-editable-table .table-tools.position-left-center {
    left: -$padding;
    top: 50%;
    transform: translate(0px, -50%);
}
.ui-editable-table .table-tools.position-right-center {
    right: -$padding;
    top: 50%;
    transform: translate(0px, -50%);
}
.ui-editable-table .table-tools.position-right-bottom {
    right: -$padding;
    top: 100%;
    transform: translate(0px, -50%);
}

