﻿.ui-privacy-settings {
    position: fixed;
    z-index: $z-index-privacy;
    background-color: white;
    padding: $padding;
}
.ui-privacy-settings.option-bottom {
    position: fixed;
    height: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.ui-privacy-settings.option-top {
    position: fixed;
    height: auto;
    left: 0px;
    right: 0px;
    top: 0px;
}


body.mobile .ui-privacy-settings.option-top:not(.option-has-overlay) {
    position: absolute;
}

.ui-privacy-settings .description,
.ui-privacy-settings .settings,
.ui-privacy-settings .buttons {
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
}

.ui-privacy-settings .description {
    text-align: left;
}

.ui-privacy-settings .description a {
    font-size: unset;
}

.ui-privacy-settings .buttons {
    text-align: center;
}
.ui-privacy-settings .buttons .ui-button + .ui-button {
    margin-left: $padding-half;
}

.ui-privacy-settings .description h1 {
    margin-top: 0px;
    margin-bottom: $padding-quarter;
    text-align: left;
    font-size: $subtitle-size;
}




body.mobile .ui-privacy-settings:not(.option-bottom) .description h1 {
    padding-top: $padding;
}

.ui-privacy-settings .settings {
    padding-top: $padding-half;
    border-bottom: 2px solid $text-color;
}


.ui-privacy-settings .settings h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.ui-privacy-settings .settings .title-and-button {
    margin-bottom: $padding-quarter;
    clear: both;
    min-height: 20px;
}

.ui-privacy-settings .settings .title-and-button h2 {
    float: left;
    font-size: $text-size;
}

.ui-privacy-settings .settings .title-and-button .toggle-settings-button {
    float: right;
    border-bottom: 2px solid transparent;
}

.ui-privacy-settings .settings .title-and-button .toggle-settings-button:hover {
    border-bottom-color: $text-color;
}

.ui-privacy-settings.settings-collapsed .settings .title-and-button .hide-button {
    display: none;
}

.ui-privacy-settings .settings .title-and-button .edit-button {
    display: none;
}

.ui-privacy-settings.settings-collapsed .settings .title-and-button .edit-button {
    display: inherit;
}

.ui-privacy-settings.settings-collapsed .options {
    display: none;
}

.ui-privacy-settings .settings .option {
    margin-top: $padding-half;
    margin-bottom: $padding-quarter;
}

.ui-privacy-settings .settings .option input {
    width: 20px;
    position: relative;
    top: 2px;
    cursor: pointer;
    accent-color: $highlight-color;
}

.ui-privacy-settings .settings .option label {
    margin-left: 6px;
    cursor: pointer;
    font-weight: bold;
}

.ui-privacy-settings .settings .option div {
    margin-left: 26px;
}

.ui-privacy-settings .buttons {
    margin-top: $padding;
}

.ui-privacy-settings .buttons input:not(.ui-button) {
    cursor: pointer;
    background-color: transparent;
    line-height: 1em;
    padding-right: 14px;
}

.ui-privacy-settings .buttons input:not(.ui-button):hover {
    background-color: $highlight-color;
    color: $highlight-text-color;
}


.ui-privacy-settings .settings .option label {
    position: relative;
    display: inline-block;
}


.settings-inline-container {
    padding-top: 160px;
}







.ui-privacy-settings-overlay {
    z-index: $z-index-privacy-overlay;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    content: "";
    background-color: $dialog-overlay-bg;;
}