﻿
.ui-genericpage {
    
}

.ui-genericpage {
    max-width: $generic-content-max-width;
    margin-left: auto;
    margin-right: auto;
}

.ui-coverpage + .ui-genericpage {
    margin-top: $padding-double;
}


.ui-genericpage h1:first-of-type {
    font-size: $generic-content-title-size;
}
body.mobile .ui-genericpage h1:first-of-type {
    font-size: $generic-content-title-size-mobile;
}
.ui-genericpage h1 {
    max-width: 900px;
}
.ui-genericpage p {
    max-width: 600px;
}



.ui-genericpage .video {
    margin-top: $padding-double;
    margin-bottom: $padding-double;
}
.ui-genericpage .video.option-bordered {
    box-shadow: 0 0 0 1px $black;
}
.ui-genericpage .video.option-shadowed {
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
}
.ui-genericpage .video video,
.ui-genericpage .video img {
    width: 100%;
    height: 100%;
}