﻿

.ui-image-comparer {
    position: relative;
}
.ui-image-comparer .handle {
    width: calc($padding * 2);
    height: 100%;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 0%;
    margin-left: calc((-$padding * 2) / 2);
    cursor: move;
}
.ui-image-comparer .handle::before {
    content:'';
    width: $line-size;
    height: 100%;
    z-index: 3;
    position: absolute;
    left: calc(50% + 0px);
    top: 0%;
    cursor: move;
    background-color: $highlight-color;
}
.ui-image-comparer .handle::after {
    content:'';
    width: calc($padding * 2);
    height: calc($padding * 2);
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: calc((-$padding * 2) / 2);
    margin-top: calc((-$padding * 2) / 2);
    border-radius: 50%;
    cursor: move;

    border: $line-size solid $highlight-color;
    background-color: $solid-color;
    fill: $text-color;

    transition-property: color, fill, background-color;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}

.ui-image-comparer img.image-a {
    width: 100%;
    height: auto;
    z-index: 1;
    display: block;
}
.ui-image-comparer img.image-b {
    display: none;
}
.ui-image-comparer div.image-b {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-size: cover;
    z-index: 2;
}

.ui-image-comparer.handler-init-right .handle {
    left: 100%;
}