﻿
.ui-tiles {

}



.ui-tile {
    background-color: $solid-color;
    border: $card-border;
    border-radius: $button-corner-radius;
    width: 160px;
    height: 160px;
    display: inline-block;
    margin-right: $padding;
    margin-bottom: $padding;
    position: relative;
    color: $text-color;
    
    transition: all ease-in-out $quick-transition-time;

    box-shadow: $button-box-shadow;
}
.ui-tile a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.ui-tile div.icon {
    position: absolute;
    top: 40%;
    left: 0px;
    right: 0px;
    text-align: center;

    transition: all ease-in-out $quick-transition-time;
}
.ui-tile svg.icon {
    width: 2em;
    height: 2em;
}
.ui-tile .title {
    position: absolute;
    bottom: $padding-half;
    max-height: 3em;
    left: $padding-half;
    right: $padding-half;
    text-align: center;
    text-transform: none;
    padding: 0px;
    font-weight: $tile-font-weight;
    text-overflow: ellipsis;
    word-break: break-all;

    transition: all ease-in-out $quick-transition-time;
}


.ui-tile:hover {
    background-color: $highlight-color;
    color: $highlight-text-color;
}
.ui-tile:hover .title {
    color: $highlight-text-color;
}
.ui-tile:hover svg.icon {
    fill: $highlight-text-color;
}

.ui-tile.inactive,
.ui-tile.published-false {
    opacity: 0.4;
}
.ui-tile.ui-sortable-placeholder {
    opacity: 0.1;
}




.ui-tile.option-thumbnail .thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.ui-tile.option-thumbnail:hover .thumbnail {
    display: none;
}