﻿
$product-width: 200px;
$product-height: 200px;

$product-width-with-image: 400px;
$product-height-with-image: 200px;

$product-width-with-diagram: 800px;
$product-height-with-diagram: 400px;


$product-tag-height: 54px;


.ui-products {
    
}


.ui-product-preview {
    float: left;
    position: relative;
}
.ui-product-preview .media {
    width: 100%;
    position: relative;
}






/* Layout defaults */
.ui-product-preview {
    DEPRECATED_width: $product-width;
}
.ui-product-preview .media {
    height: $product-height;
}
.ui-product-preview .thumbnail {
    position: absolute;
    top: 0px;
    height: 100%;
}
.ui-product-preview .images {
    position: absolute;
    top: 0px;
    height: 100%;
}
.ui-product-preview .diagram {
    position: absolute;
    top: 0px;
    height: 100%;
}

/* Layout only thumbnail */
.ui-product-preview .thumbnail {
    width: 100%;
}
.ui-product-preview .images {
    display: none;
}
.ui-product-preview .diagram {
    display: none;
}

/* Layout images */
.ui-products.option-images .ui-product-preview {
    DEPRECATED_width: $product-width-with-image;
}
.ui-products.option-images .ui-product-preview .media {
    height: $product-height-with-image;
}
.ui-products.option-images .ui-product-preview .thumbnail {
    display: none;
}
.ui-products.option-images .ui-product-preview .images {
    width: 100%;
    left: 0px;
    display: block;
}
.ui-products.option-images .ui-product-preview .diagram {
    display: none;
}


/* Layout thumbnail + diagram */
.ui-products.option-diagrams .ui-product-preview {
    DEPRECATED_width: $product-width-with-diagram;
}
.ui-products.option-diagrams .ui-product-preview .media {
    height: $product-height-with-diagram;
}
.ui-products.option-diagrams .ui-product-preview .thumbnail {
    width: 50%;
}
.ui-products.option-diagrams .ui-product-preview .thumbnail {
    width: 50%;
}
.ui-products.option-diagrams .ui-product-preview .images {
    display: none;
}
.ui-products.option-diagrams .ui-product-preview .diagram {
    width: 50%;
    left: 50%;
    display: block;
}



.ui-product-preview .thumbnail {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}




.ui-product-preview .images {
    background-size: contain;
    background-position: center center;
    overflow: hidden;
}
.ui-product-preview .images .content,
.ui-product-preview .images .translation,
.ui-product-preview .images .image {
    width: 100%;
    height: 100%;
}
.ui-product-preview .images .image {
    background-size: cover;
    background-position: center center;

}


.ui-product-preview .diagram {
    background-size: contain;
    background-position: center center;
    overflow: hidden;
    background-repeat: no-repeat;
    DEPRECATED_background-color: $black2;
    background-color: $black2;
}


.ui-product-preview .tag {
    height: $product-tag-height;
    border-top: $line-size solid $line-color;
}

.ui-product-preview .ui-symbol.option-info {
    opacity: 0.0;
    position: absolute;
    
    left: $padding-half;
    top: $padding-half;

    transition-duration: $regular-transition-time;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
}
.ui-product-preview:hover .ui-symbol.option-info {
    opacity: 1.0;
}

.ui-product-preview .tag .title {
    font-size: 16px;
    padding: $padding-half;
}








.ui-product-preview.option-coming-soon .ui-card {
    overflow: hidden;
    pointer-events: none;
}
.ui-product-preview.option-work-in-progress .ui-card {
    overflow: hidden;
}
.ui-product-preview.option-coming-soon .ui-card:after,
.ui-product-preview.option-work-in-progress .ui-card:after {
    content: 'Coming Soon';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    background-color: $highlight-color;
    transform: translate(100px, -10px) rotate(45deg) ;
    padding: $padding;
    padding-top: $padding-double;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-weight: bold;
    color: $highlight-text-color;
}
.ui-product-preview.option-work-in-progress .ui-card:after {
    content: 'Work in Progress';
    
    background-color: $error;
}
.ui-product-preview.option-coming-soon .ui-symbol.option-info {
    display: none !important;
}










.ui-product-icon {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-left: $padding-double;
    margin-right: $padding-double;
    margin-bottom: $padding-double;
}
.ui-product-icon svg {
    width: 130px;
    height: 130px;
}

.ui-product-icon.option-gray svg {
    fill: $gray-color;
}







body.mobile .ui-product-icon:not(.option-mobile-large) {
    width: 50px;
    height: 50px;
    margin-left: $padding;
    margin-right: $padding;
    margin-bottom: $padding;
}
body.mobile .ui-product-icon:not(.option-mobile-large) svg {
    width: 50px;
    height: 50px;
}




body.mobile .option-product-icons-mobile-large .ui-product-icon {
    width: 100px;
    height: 100px;
    margin-left: $padding-double;
    margin-right: $padding-double;
    margin-bottom: $padding-double;
}
body.mobile .option-product-icons-mobile-large .ui-product-icon svg {
    width: 100px;
    height: 100px;
}