﻿

/* MA-Parallax */
.ma-parallax {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ma-parallax .ma-parallax-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

}
.ma-parallax .ma-parallax-layer .ma-parallax-layer-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background-size: 100% auto;
    background-repeat: no-repeat;
    
    transition: transform,width,height ease-out 0s;
    transition-timing-function: ease-out;
    will-change: background, transform, width, height;
}
.ma-parallax.option-transitions .ma-parallax-layer {
}
