﻿
.ui-quickfilter { 

}
.ui-quickfilter:focus { 
    background-color: red;
}
.ui-quickfilter.option-margin-bottom { 
    margin-bottom: $padding;
}

.ui-quickfilter .input-column {

}
.ui-quickfilter .input-column input {
    
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ui-quickfilter .tools-column {
    position: relative;
    min-width: 100px;
    left: -2px;
}
.ui-quickfilter .tools-column .ui-button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}
.ui-quickfilter .tools-column input:first-of-type {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}