﻿

.ui-effect-dissappear {
    opacity: 0;
    pointer-events: none;
    transition-duration: $regular-transition-time;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
}





.ui-effect-scroll-fade {
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black var(--dialog-top-mask-size, 0px), black calc(100% - var(--dialog-bottom-mask-size, 0px)), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black var(--dialog-top-mask-size, 0px), black calc(100% - var(--dialog-bottom-mask-size, 0px)), transparent 100%);
}
.ui-effect-scroll-fade.option-top-overflowing {
    --dialog-top-mask-size: calc($padding * 4);
}
.ui-effect-scroll-fade.option-bottom-overflowing {
    --dialog-bottom-mask-size: calc($padding * 4);
}




.ui-effect-scroll-hint {
    position: relative;
    width: 2px;
    height: 100px;
    border-radius: 2px;
    overflow: hidden;
    background-color: $line-color;
    opacity: 1.0;
    transition: opacity 300ms ease-in-out;
}
.ui-effect-scroll-hint.option-hidden,
.ui-effect-scroll-hint.option-did-scroll {
    opacity: 0.0;
}
.ui-effect-scroll-hint::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, $highlight-color 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 0 -100%;
    background-size: 100% 200%;
    animation: ui-effect-scroll-hint-scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
    content: '';
}
@keyframes ui-effect-scroll-hint-scrolldown {
  0% {
    background-position: 0 100%;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}