﻿


.ui-spacer {
    height: $padding-double;
}
.ui-small-spacer {
    height: $padding;
}

.ui-large-spacer {
    height: 64px;
}


.ui-padding {
    padding: $padding;
}
.ui-padding.only-top-bottom {
    padding-left: 0px;
    padding-right: 0px;
}



.ui-margined {
    margin-top: $padding;
    margin-bottom: $padding;
}
.ui-margined-left-right {
    margin-left: $padding;
    margin-right: $padding;
}



.ui-flex-items {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}
.ui-flex-items.option-centered {
    align-items: center;
    justify-content: center;
    align-content: stretch;
}
.ui-flex-items.option-wrap {
    flex-wrap: wrap;
}
.ui-flex-items.option-horizontally-spaced {
    justify-content: space-between;
}
.ui-flex-items.option-horizontally-filled {
    flex-direction: row;
    flex-wrap: wrap;
}
.ui-flex-items.option-horizontally-filled > div {
    flex-grow: 1;
    flex-basis: 100px;
}
.ui-flex-items.option-items-padded {
    row-gap: $padding;
    column-gap: $padding;
}
.ui-flex-items.option-align-start {
    align-items: flex-start;
}




.ui-tight-bottom {
    margin-bottom: 0px;
}
.ui-tight-top {
    margin-top: 0px;
}

.ui-text-clip {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}



.ui-link,
.ui-link.option-icon span {
    border-bottom: $link-line-size solid transparent;
    transition: border-bottom-color ease-in-out $regular-transition-time;
}
.ui-link:hover,
.ui-link.option-icon:hover span {
    border-bottom-color: $highlight-color;
}
.ui-link.option-icon {
    border-bottom: none;
}
.ui-link.option-icon .icon {
    position:relative;
    top: 0.2em;
}




.ui-info .info-text a,
p a,
p a.ui-link {
    border-bottom: $link-line-size solid $black3;
    transition: border-bottom-color ease-in-out $regular-transition-time;
}
.ui-info .info-text a:hover,
p a:hover,
p a.ui-link:hover {
    border-bottom-color: $highlight-color;
}














.ui-tooltip {
    padding: $padding-half;
    position: absolute;
    z-index: $z-index-tooltip;
    max-width: 300px;
    transition: none;
    box-shadow: none;
    border: none !important;
    border-radius: $tooltip-corner-radius;
}
.ui-tooltip, 
.ui-tooltip .arrow:after {
    background: $highlight-color !important;
}
.ui-tooltip * {
    color: $highlight-text-color;
}
.ui-tooltip .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -15px;
}
.ui-tooltip .arrow.top {
    top: -15px;
    bottom: auto;
}
.ui-tooltip .arrow.left {
    left: 20%;
}
.ui-tooltip .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
}
.ui-tooltip .arrow.top:after {
    bottom: -20px;
    top: auto;
}
.ui-helper-hidden-accessible {
    display: none;
}

.ui-tooltip h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}








.color-bg-white {
    background-color: $white;
}

.color-bg-black {
    background-color: $black;
    color: $white;
}
.color-bg-black1 {
    background-color: $black1;
    color: $white;
}
.color-bg-black2 {
    background-color: $black2;
    color: $white;
}
.color-bg-black3 {
    background-color: $black3;
    color: $white;
}
.color-bg-black4 {
    background-color: $black4;
}
.color-bg-black5 {
    background-color: $black5;
}
.color-bg-black6 {
    background-color: $black6;
}


.color-bg-blue {
    background-color: $blue;
    color: $white;
}
.color-bg-blue1 {
    background-color: $blue1;
    color: $white;
}
.color-bg-blue2 {
    background-color: $blue2;
    color: $white;
}
.color-bg-blue3 {
    background-color: $blue3;
    color: $white;
}
.color-bg-blue4 {
    background-color: $blue4;
    color: $white;
}



.color-bg-anthracite {
    background-color: $anthracite;
    color: $white;
}
.color-bg-anthracite1 {
    background-color: $anthracite1;
    color: $white;
}
.color-bg-anthracite2 {
    background-color: $anthracite2;
    color: $white;
}
.color-bg-anthracite3 {
    background-color: $anthracite3;
    color: $white;
}
.color-bg-anthracite4 {
    background-color: $anthracite4;
    color: $white;
}


.color-bg-danger {
    background-color: $danger;
    color: $white;
}
.color-bg-warning {
    background-color: $warning;
    color: $white;
}
.color-bg-success {
    background-color: $success;
    color: $white;
}

.color-bg-line {
    background-color: $line-color;
}
.color-bg-line-light {
    background-color: $line-color-light;
}




.ui-color-pallet .shade {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid $line-color;
    text-align: center;
    font-size: 0.8em;
    line-height: 60px;
    margin-right: $padding;
    margin-bottom: $padding;
}



.ui-scrollpane {
    overflow-y: auto;
}






.ui-debug {
    background-color: $warning;
    padding: $padding;
}
.ui-debug:before {
    content: 'DEBUG';
    display: block;
    font-weight: bold;
}





.ui-marker-sphere {
    background-color: $highlight-color;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
}











.ui-label {
    text-transform: $label-text-transform;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    padding-bottom: $padding-quarter;
    padding-top: $padding;
}









.ui-magnification {
    position: absolute;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-color: $solid-color;
    pointer-events: none !important;
    opacity: 1.0;
    transform: translate(-50%,-50%);
    background-size: cover;
    background-position: center center;
    border: $padding-quarter solid $solid-color;
    cursor: none;

    transition-property: width, height, opacity, border-radius;
    transition-duration: $regular-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-magnification.option-waiting {
    cursor: wait;
}
.ui-magnification.hidden {
    opacity: 0.0;
    border-radius: 0px;
}









.ui-property-list .ui-label {
    color: $highlight-color;
}