﻿
.ui-carousel .slick-arrow {
    position: absolute;
    top: 0px;
    width: $padding-double;
    height: 100%;
    z-index: 100;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.ui-carousel .slick-arrow.slick-next {
    right: 0px;
}
.ui-carousel .slick-arrow.slick-next svg {
    position: relative;
    left: 6px;
    transition-property: left;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-carousel .slick-arrow.slick-next:hover svg {
    left: 8px;
}
.ui-carousel .slick-arrow.slick-prev {
    left: 0px;
}
.ui-carousel .slick-arrow.slick-prev svg {
    position: relative;
    left: -6px;
    transition-property: left;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-carousel .slick-arrow.slick-prev:hover svg {
    left: -8px;
}


.ui-carousel .slick-dots {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: $padding;
    list-style: none;
    text-align: center;
}
.ui-carousel .slick-dots li {
    position: relative;
    display: inline-block;
    width: $padding;
    height: $padding;
    cursor: pointer;
}
.ui-carousel .slick-dots button {
    display: none;
}
.ui-carousel .slick-dots li:after {
    content: '';
    position: absolute;
    top: 0px;
    left: $padding-quarter;
    width: $padding-half;
    height: $padding-half;
    border-radius: 50%;
    background-color: $black;
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-carousel .slick-dots li.slick-active:after,
.ui-carousel .slick-dots li:hover:after {
    opacity: 1.0;
}



.ui-carousel .ui-card {
    margin: 0px;
}










/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}














.ui-carousel.option-flipbook {
    position: relative;
    
    transform-style: preserve-3d;
}

.ui-carousel.option-flipbook .ui-carousel-slide {
    position: absolute;
    top: 0px;
    left: 0px;
}
.ui-carousel.option-flipbook .ui-carousel-slide:not([data-carousel-position='0']) {
    pointer-events: none;
}
.ui-carousel.option-flipbook.option-animate .ui-carousel-slide {
    transition: all $carousel-flipbook-animation-time ease-in-out;
}
.ui-carousel.option-flipbook .prev-zone {
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0%;
    width: 50%;
    cursor: pointer;
}
.ui-carousel.option-flipbook .next-zone {
    position: absolute;
    top: 0px;
    height: 100%;
    right: 0%;
    width: 50%;
    cursor: pointer;
}

@keyframes example {
  0%   {opacity: 1.0;}
  45%   {opacity: 1.0;}
  50%  {opacity: 0.0;}
  100% {opacity: 1.0;}
}
.ui-carousel.option-flipbook.option-animate .ui-carousel-slide.fade-out-in {
    animation-name: example;
  animation-duration: $carousel-flipbook-animation-time;
}