﻿
$tag-size: 30px;
$tag-size-expanded: 120px;




.ui-symbol.option-tag,
body.mobile .ui-symbol.option-tag {
    width: auto;
    height: auto;
}
.ui-symbol.option-tag:before,
body.mobile .ui-symbol.option-tag:before {
    width: 100%;
    height: $tag-size;
    border-radius: $padding;
}


.ui-symbol.option-tag .panel.icon,
.ui-symbol.option-tag .panel.text {
    width: auto;
    position: relative;
    padding-left: $padding;
    padding-right: $padding;
}
.ui-symbol.option-tag .panel.menu {
    width: 100%;
    left: 0px;
    top: -$symbol-size-expanded-offset;
}









.ui-tag {
}
.ui-tag {
    width: auto;
    height: $tag-size;
    border-radius: $padding;
    background-color: $blue;
    text-align: center;
    color: $white;
    font-weight: $button-font-weight;
    font-size: $label-font-size;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    text-transform: uppercase;
    position: relative;
    top: -0.3em;
    margin-left: 0.5em;
    letter-spacing: 1px;
}

.ui-tag[data-tag=''] {
    display: none;
}