﻿
.ui-dialog-overlay {
    background-color: $dialog-overlay-bg;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: $z-index-overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}
.ui-dialog.option-no-padding {
    padding: 0px;
}
.ui-dialog.option-no-maxwidth {
    max-width: unset;
}
.ui-dialog .dialog-title {
    margin-bottom: $padding;
    display: flex;
    flex-direction: row;
    gap: $padding;
    align-items: flex-start;
    justify-content: space-between;
}
.ui-dialog .dialog-title .text {
    font-size: $title-size;
    font-family: $title-font;
    font-weight: $title-weight;
    color: $highlight-color;
    white-space: pre-line;
}
.ui-dialog .dialog-title .close-icon {

}
.ui-dialog .dialog-title.has-close-icon .text {
    padding-right: $padding-double;
}
.ui-dialog .dialog-scroll {
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
    transform: translateZ(0); /* required for fixed scroll overlays */
}
body.mobile .ui-dialog .dialog-scroll {
    max-height: 85vh;
}
.ui-dialog .dialog-scroll-cover-top,
.ui-dialog .dialog-scroll-cover-bottom {
    z-index: 1;
    position: relative;
    display: block;
    content: '';
    pointer-events: none;
    opacity: 0.0;
    height: 0px;
    transition-property: opacity;
    transition-duration: $regular-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-dialog .dialog-scroll-cover-top:after {
    content: '';
    position: absolute;
    height: 60px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: linear-gradient($solid-color, transparent);
}
.ui-dialog .dialog-scroll-cover-bottom:after {
    content: '';
    position: absolute;
    height: 60px;
    left: 0px;
    right: 0px;
    top: -60px;
    background: linear-gradient(transparent, $solid-color);
}
.ui-dialog.option-has-hidden-content-above .dialog-scroll-cover-top,
.ui-dialog.option-has-hidden-content-below .dialog-scroll-cover-bottom {
    opacity: 1.0;
}
.ui-dialog .dialog-message {
    font-size: $subtitle-size;
    margin-bottom: $padding;
}
.ui-dialog .dialog-actions {
    margin-top: $padding-double;
    display: flex;
    flex-direction: row-reverse;
    gap: $padding;
}




.ui-widget-overlay {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: $z-index-overlay;
    pointer-events: none;
}






DEPRECATED_.ui-widget.ui-widget-content {
    background-color: $solid-color;
}


.ui-dialog {
    padding: $padding;
    z-index: $z-index-dialog;
    background-color: $solid-color;
    border-radius: $card-corner-radius;
}
.ui-dialog .ui-dialog-title {
    font-size: $dialog-title-size;
    font-family: $dialog-title-font;
    font-weight: $dialog-title-weight;
    color: $highlight-color;
}
.ui-dialog .ui-dialog-titlebar {
    margin-bottom: $padding-half;
}
.ui-dialog .ui-dialog-titlebar button {
    display: none;
}





.ui-dialog .ui-dialog-scroll-hint {
    transform: translate(-$padding,0px);
}


.ui-dialog .ui-dialog-content,
.ui-dialog .dialog-message {
    font-size: $subtitle-size;
}
.ui-dialog .ui-dialog-buttonpane {
    padding-top: $padding;
    text-align: right;
}

.ui-dialog .ui-dialog-options {
    text-align: center;
}
.ui-dialog .ui-dialog-options button {
    margin-bottom: $padding-half;
    min-width: 200px;
}


.ui-dialog .qrcode img {
    width: 100%;
    height: auto;
}

.ui-dialog pre {
    word-break: break-all;
    font-family: monospace;
    background-color: $page-color;
    padding: $padding-half;
}

.ui-dialog.option-no-buttonset .ui-dialog-buttonset button + button {
    margin-left: $padding;
}







.ui-dialog.option-auto-reposition {
    transition-property: top,left;
    transition-duration: $regular-transition-time;
    transition-timing-function: ease-in-out;
}