﻿.ui-drop-zone {
    border: 2px dashed $black-color;
    min-height: 200px;
    position: relative;
    margin-bottom: $padding;
}
.ui-drop-zone.uploading {
    opacity: 0.6;
}

.ui-drop-zone .tip {
    text-align: center;
    position: absolute;
    left: 0px;
    top: $padding;
    width: 100%;
}