﻿.ui-entity-card {
    margin-bottom: $padding-double;
    margin-right: $padding-double;
    position: relative;

    border: $line-size solid $page-color;
    border-radius: calc($card-corner-radius * 2);
    padding: $padding;
    width: 100%;
    max-width: 300px;
    DEP_min-height: 180px;

    float: left;
    
    transition-property: background-color;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-entity-card:hover {
    background-color: $page-color;
}
.ui-entity-card.option-no-max-size {
    width: auto;
    max-width: unset;
}

.ui-entity-card .entity-icon {
    display: none; /* not supported */
}
.ui-entity-card .entity-main {
    margin-bottom: $padding;
}
.ui-entity-card .entity-main .meta {
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    text-transform: uppercase;
    
}
.ui-entity-card .entity-main .title {
    font-size: $subtitle-size;
    font-weight: $subtitle-weight;
    margin-bottom: $padding;
}
.ui-entity-card .entity-tag .meta,
.ui-entity-card .entity-sub .meta {
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    DISABLED_text-transform: uppercase;
}
.ui-entity-card .entity-tag {
    float: right;
}




.ui-entity-card.option-red {
    background-color: rgba(255,0,0,0.5);
}


.ui-entity-card.option-micro .meta {
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    text-transform: uppercase;
}
.ui-entity-card.option-micro .title {
    font-weight: $label-font-weight;
}