﻿.ui-toolbar {
    height: $toolbar-height;
    border-bottom: $line-size solid $line-color;
    position: relative;
}

.ui-toolbar.option-border-top {
    border-top: $line-size solid $line-color;
}
.ui-toolbar.option-no-border-bottom {
    border-bottom: none;
}

.ui-toolbar h2 {
    padding-left: $padding;
    line-height: $toolbar-height;
    margin: 0px;
}
.ui-toolbar.option-clip-title-for-one-tool h2,
.ui-toolbar.option-clip-title-for-two-tools h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: $toolbar-height;
}
.ui-toolbar.option-clip-title-for-one-tool h2 {
    padding-right: $toolbar-height;
}
.ui-toolbar.option-clip-title-for-two-tools h2 {
    padding-right: calc($toolbar-height * 2);
}

.ui-toolbar .tools {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
}
.ui-toolbar.option-tools-left .tools {
    right: unset;
    left: 0px;
}


.ui-toolbar .tools .ui-button {
    display: block;
    float: left;
    min-width: $padding-double;
    padding-top: 0px;
    padding-bottom: 0px;
    height: $toolbar-height;
    line-height: $toolbar-height;
    text-align: center;
    border: none;
    border-bottom: $line-size solid $line-color;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.ui-toolbar .tools .ui-button + .ui-button,
.ui-toolbar .tools .ui-button:first-child {
    border-left: $line-size solid $line-color;
}
.ui-card .ui-toolbar .tools .ui-button:last-child {
    border-top-right-radius: $card-corner-radius !important;
}
DEP.ui-toolbar .tools a:hover {
    background-color: $highlight-color;
    color: $highlight-color-text;
}

.ui-padding .ui-toolbar {
    margin-top: -$padding;
    margin-left: -$padding;
    margin-right: -$padding;
}


.ui-toolbar .tools .ui-button .icon {
    width: 1.2em;
    height: 1.2em;
}
.ui-toolbar .tools .ui-button.selected {
    background-color: $solid-color;
    color: $text-color;
    fill: $text-color;
    position: relative;
}
.ui-toolbar .tools .ui-button.selected:hover {
    background-color: $highlight-color;
    color: $highlight-text-color;
    fill: $highlight-text-color;
}
.ui-toolbar .tools .ui-button.selected:before {
    position: absolute;
    content: '';
    background-color: $highlight-color;
    width: 100%;
    height: $padding-half;
    bottom: 0px;
    left: 0px;
    border-top: $line-size solid $solid-color;
}



.ui-toolbar .tools .tool-group {
    display: block;
    float: left;
    padding-left: calc($toolbar-height / 2);
    height: calc($toolbar-height - $line-size);
    position: relative;
    border-left: $line-size solid $text-color;
    border-right: $line-size solid $text-color;
}
.ui-toolbar .tools .tool-group + .tool-group {
    border-left: none;
}
.ui-toolbar .tools .tool-group label {
    height: calc($toolbar-height / 2);
    width: $toolbar-height;
    position: absolute;
    left: 0px;
    padding: 0px;
    top: $toolbar-height;

    transform-origin: 0 0;
    transform: rotate(-90deg);

    line-height: calc($toolbar-height / 2);
    text-align: center;
    color: $text-color;
}
.ui-toolbar .tools .tool-group .ui-button {
    border-left: $line-size solid $line-color;
}
.ui-toolbar .tools .tool-group:not(:last-child) .ui-button:last-child {
    border-top-right-radius: 0px !important;
}
.ui-toolbar .tools .tool-group:last-child {
    border-right: none;
}





.ui-toolbar.option-small-tools .tools .ui-button {
    min-width: $padding;
    padding-left: calc($padding * 0.6);
    padding-right: calc($padding * 0.6);
}




.ui-toolbar.option-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: $header-height; /* Don't forget this, required for the stickiness */
    background-color: $solid-color;
    z-index: 2;
    border-top-left-radius: $card-corner-radius;
    border-top-right-radius: $card-corner-radius;
}
.ui-card.option-has-sticky-toolbar .ui-card.option-has-sticky-toolbar .ui-toolbar.option-sticky {
    top: calc($header-height + $toolbar-height);
    z-index: 1;
}






.ui-toolbar.option-slim {
    height: $toolbar-height-slim;
}
.ui-toolbar.option-slim h2 {
    line-height: $toolbar-height-slim;
}
.ui-toolbar.option-slim .tools .ui-button {
    height: $toolbar-height-slim;
    line-height: $toolbar-height-slim;
}
.ui-card.option-has-sticky-toolbar .ui-card.option-has-sticky-toolbar .ui-toolbar.option-slim.option-sticky {
    top: calc($header-height + $toolbar-height-slim);
}