﻿<tr class="form-type-{property.form-type}">
    <td class="label">{property.title}{property.required-star}</td>
    <td class="input">
        <input 
               name="{property.form-name}" 
               type="text" 
               value="{property.value}" 
               data-property-type="{property.type}" 
               data-property-parent-type="{property.parent.type}" 
               data-property-form-type="text" 
               data-property-format="{property.format}" 
               data-property-required="{property.required}" 
               data-property-placeholder="{property.placeholder}" 
               data-property-autocomplete="{property.autocomplete}" 
               data-property-tooltip="{property.tooltip}" 
        />
        {content-editor}
    </td>
</tr>