﻿<!--<li><a href="{page.navigation.current-path}/task-manager">{text.task-manager=Task Manager}<span class="icon icon-stopwatch"></span></a></li>-->


<a class="ui-tile {item.classes}" href="{page.navigation.current-path}/task-manager">
    <div class="icon">{icon.stopwatch}</div>
    <div class="title">{text.task-manager=Task Manager}</div>
</a>