﻿<div class="group no-page-break">
    <a href="/admin/projects/proposals/proposal/{entity.public-id}/groups/group/{group.public-id}">
        <h2 xclass="h2">{group.name}</h2>
        <p>{group.description}</p>

        <table class="ui-table option-small-text" style="width:100%" xcellpadding="2" cellspacing="0">
            {group.header}
            {group.items}
        </table>
    </a>
</div>