﻿<div class="ui-card">
    <div class="ui-card-content">
        <h2>{extension.name}</h2>
        {extension}
    </div>
    <div class="ui-card-actions edit-extension {extension.editable}">
            <ul class="ui-listing xspaced">
                <li>
                    <a href="{page.navigation.current-path}/edit-extension/{extension.short-url}">{text.edit=Edit} {icon.right} </a>
                </li>
            </ul>
     </div>
</div>