﻿pre,.code {
    padding: 8px;
    background-color: $barely-visible-color;
}
pre,.code,
pre,.code * {
    font-size: 12px;
    font-family: monospace;
    white-space: pre-wrap;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: $padding-double;
    margin-bottom: $padding-half;
}
h1:first-of-type {
    margin-top: 0px;
    margin-bottom: $padding-half;
}
h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: $padding-double;
    margin-bottom: $padding-half;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: $padding;
    margin-bottom: 0px;
    --border-bottom: 1px solid $black-color;
}
h1 + h2 {
    margin-top: $padding-half;
}
a,
a * {
    cursor: pointer;
}
p {
    margin-top: $padding;
    margin-bottom: $padding;
}