﻿.breadcrumb li a {
    transition-property: background-color,color;
    transition-duration: $default-ui-transition-duration;
    transition-timing-function: ease-in-out;
}
.breadcrumb li a:after {
    transition-property: border-left-color;
    transition-duration: $default-ui-transition-duration;
    transition-timing-function: ease-in-out;
}