﻿<!--<li><a href="/admin/projects/tasks?user={user.username}">{text.tasks}<span class="icon icon-flash"></span></a></li>-->

<a class="ui-tile" href="/admin/projects/tasks?user={user.username}">
    <div class="icon">{icon.task}</div>
    <div class="title">{text.tasks}</div>
</a>