﻿<!--<li><a href="/admin/projects/proposals">{text.proposals}<span class="icon icon-edit"></span></a></li>-->
<a class="ui-tile" href="/admin/projects/proposals">
    <div class="icon">{icon.clipboard-list}</div>
    <div class="title">{text.proposals}</div>
</a>