﻿<div class="ui-info option-error">
    <div class="ui-symbol">
        <div class="panel icon text-icon">!</div>
    </div>
    <div class="info-text">
        {text.{warning.text}}
    </div>
    <div class="clear"></div>
</div>