﻿<div class="ui-content-editor content-editor hidden-content" 
     editor-bind-to-input="{editor.bind-to-input}" 
     node-id="{node.public-id}" 
     node-path="{node.path}" 
     node-short-url="{node.short-url}" 
     node-default-short-url="{node.default-short-url}" 
     default-content-type="{editor.default-content-type}" 
     content-source="{editor.content-source}" 
     supported-content-types="{editor.supported-content-types}" 
     available-content-node-layout-options="{editor.available-content-node-layout-options}" 
     node-published="{node.published}"
     node-modified="{node.modified}"
     node-layout="{node.layout}" >

    <div class="ui-form remove-if-bound-to-input table highlight-input-on-hover">
        <div class="ui-form-row">
            <label class="ui-label">{text.status}</label>
            <div class="ui-input">
                <!-- Note: spaces ommitted due to browser white-space handling inline-block... -->
                <div class="published-buttons buttons bb-button-set thin spaced"><a class="publish-toggle true">{text.published=Published}</a><a class="publish-toggle false">{text.hidden=Hidden}</a></div>
            </div>
        </div>
        <div class="ui-form-row">
            <label class="ui-label">{text.layout}</label>
            <div class="ui-input">
                <!-- Note: spaces ommitted due to browser white-space handling inline-block... -->
                <select class="layout-buttons"><option class="layout-toggle" layout-name="" value=""></option>{node.layouts.buttons}</select>
            </div>
        </div>
        <div class="ui-form-row">
            <label class="ui-label">{text.summary}</label>
            <div>
                {node.summary-short}
            </div>
        </div>
        <div class="ui-form-row options-ui">
            <label class="ui-label">{text.options}</label>
                <!-- Note: spaces ommitted due to browser white-space handling inline-block... -->
            <div class="ui-input">{node.layouts.options}</div>
        </div>
        <!--<div class="meta-ui">
            <td class="label">{text.meta-information}</td>
            <td class="input">
                <div class="meta-title"></div>
                <div class="meta-description"></div>
                <div class="meta-keywords"></div>
                <div class="meta-summary"></div>
                <div class="meta-image"><img src=""/></div>
            </td>
        </div>-->
        <div class="ui-form-row">
            <label class="ui-label">{text.content}</label>
            <div class="ui-input">
                <!-- Note: spaces ommitted due to browser white-space handling inline-block... -->
                <div class="translation-buttons bb-button-set thin spaced xshow-on-input-editor-focus">{node.translations.buttons}</div>
            </div>
        </div>
    </div>

    <!--<div class="published-buttons bb-button-set thin spaced">
        <a class="publish-toggle true">{text.published=Published}</a>
        <a class="publish-toggle false">{text.hidden=Hidden}</a>
    </div>-->

    <div class="clear"></div>

    <div class="show-if-bound-to-input translation-buttons bb-button-set thin spaced xshow-on-input-editor-focus">
        {node.translations.buttons}
    </div>

    <div class="translations">
        {node.translations}
    </div>
    
    <!-- Deprecated -->
    <!--<div class="spaced-top">
        <input class="save-button ui-button" type="button" value="{text.save-page=Save Page}" />
    </div>-->

    {editor.node-template}

</div>