﻿<div class="content-translation lang-{translation.language} hidden-content" node-id="{translation.public-id}" translation-lang="{translation.language}">
    <div class="ui-card option-gray option-has-sticky-toolbar">
        <div class="ui-toolbar  only-if-toggled option-sticky option-slim">
            <h2 class="page-title">{translation.language-title}</h2>
            <div class="tools"><a title="{text.content-translation.duplicate}" class="duplicate-translation ui-button option-icon-only">{icon.duplicate}</a><a title="{text.content-translation.delete}" class="delete-translation ui-button option-icon-only">{icon.trash}</a></div>
        </div>
        <div class="ui-card-content page-contents option-tight">
            {translation.contents}
        </div>
        <div class="ui-card-actions">
        <div class="content-types bb-button-set thin spaced show-on-translation-focus">
            {editor.content-types}
        </div>
        </div>
    </div>
</div>