﻿<form class="editable-entity-list ui-editable-entity-list" method="post" api-call="{api-call}" on-success="{on-success}" data-sort-api-call="{sorting-api-call}">
    <table class="ui-table entity-list DISABLED_option-sticky-header option-no-icon-links {classes}">
        {entities}
    </table>
    <div class="ui-spacer"></div>
    <div style="text-align:center">
        <div class="ui-wizard-tip option-inline" data-tip-id="editable-list-add-item-copy" data-tip-text="Tip: Press Shift while adding a new item to create a copy of the last row."></div>
        <a class="ui-button action-new-row">{text.add-new-item}{icon.plus}</a>
    </div>
    <div class="ui-spacer"></div>
    <button value="" class="ui-button">{text.save-all-items}</button>
</form>