﻿<div class="ui-card option-has-sticky-toolbar" data-group-order="{group.order}">
    <div class="ui-toolbar option-sticky">
        <h2>{group.name}</h2>
    </div>
    <div class="ui-card-content">
        {group.properties}
    </div>
</div>