﻿<script>
    function changeQueryString(key) {
        var splits = key.split(',');
        var url= document.location.href;
        splits.forEach(function(split){
           url =Machinata.updateQueryString(split, '',url);
        });
        console.log(url);
        document.location.href = url;
    }
</script>

<!--<a onclick="Machinata.changeQueryString('{key}', '');" class="button {all-selected}" name="{key}-all">{text.all}</a>-->
<a onclick="changeQueryString('{key}');" class="button {all-selected}" name="{key}-all">{text.all}</a>