﻿<div class="ui-form-row" title="{property.tooltip}" data-property-guid="{property.guid}" data-property-raw-value="{property.raw-value-jssafe}">
    <div class="ui-label">{property.title}</div>
    <div class="ui-value" property-type="{property.type}" property-name="{property.name}">
        <a class="address ui-link" data-map-for-property="{property.guid}">{property.value}</a>
        <div class="map" data-map-for-property="{property.guid}"></div>
        <script>
            var address = "{property.value-jssafe}";
            var addressElem = $(".address[data-map-for-property='{property.guid}']");
            addressElem.text(address);
            addressElem.click(function () {
                Machinata.locationDialog(address, null, {
                    address: "{property.raw-value-jssafe}", 
                    readonly: true, 
                })
            });
            var mapElem = $(".map[data-map-for-property='{property.guid}']");
            if (Machinata.Maps.PROPERTY_LIST_ITEMS_SHOW_MAP == true) {
                var mapOpts = {
                    address: "{property.raw-value-jssafe}",
                    doubleClickZoom: false,
                    scrollWheelZoom: true
                };
                var map = Machinata.maps.createMap(mapElem, mapOpts);
            } else {
                mapElem.remove();
            }
        </script>
    </div>
</div>