﻿<table class="ui-table option-small-text option-schedule order-schedule remove-if-zero-{schedule.count} {schedule.has-selection} bb-sticky-headers" data-sticky-headers-min-row-count="1">
    <thead>
        <tr>
            <th>{text.week=Week}</th>
            {header.columns}
        </tr>
    </thead>

    {schedule}

</table>
