<script>


    Machinata.ready(function () {
        $(".import-button").click(function () {

            var request = "/api/admin/content/page/import";
            var path = $("div.page").attr("node-path");
            var nodeId = $("div.page").attr("node-id");
            if (nodeId == "root") {
                request += "/?path=" + encodeURI('/');
            }
            else {
                request += path;
            }
            Machinata.uploadDialog("{text.importing=Importing}",
                "Import",
                "json",
                null,
                request,
                function () { window.location.reload(); });
        });

        $(".move-button").click(function () {
            var diag = Machinata.cmsPageDialog("{text.move}", "/", null);

            diag.wide();
            diag.input(function (val, button) {

                var data = {};
                data["destination-path"] = val;

                var nodeId = $("div.page").attr("node-id");
                var call = Machinata.apiCall("/api/admin/content/node/" + nodeId + "/move");
                call.data(data);
                call.success(function (res) {
                    Machinata.goToPage("/admin/content/page/" + res.data.path);
                });
                call.genericError();
                call.send();
            })
            diag.show();
        });

        $(".subpages.sortable").sortable({
            placeholder: "ui-tile",
            items: ".ui-tile",
            stop: function (event, ui) {
                var data = {};
                var list = ui.item.parent();
                var items = list.find(".ui-tile[data-node-id]");
                var nodeId = list.attr("data-node-id");
                var order = [];
                items.each(function () {
                    order.push($(this).attr("data-node-id"));
                });
                data["order"] = order;
                console.log(order);
                var call = Machinata.apiCall("/api/admin/content/node/" + nodeId + "/children/sort");
                call.data(data);
                call.genericError();
                call.send();

            }
        });

        $(".export-button").click(function () {
            Machinata.confirmDialog("{text.export}", "{text.confirm-export=Do you really want to export this page and all its subpages}")
                .okay(function () {
                    document.location = "/admin/content/export?path=" + $('div.page').attr('node-path');
                })
                .show();
        });

        $(".export-translation-button").click(function () {
            Machinata.showLanguageChangeDialog(function (sourceLanguage, targetLanguage) {
                document.location = "/admin/content/export-translation?path=" + $('div.page').attr('node-path') + "&source=" + sourceLanguage + "&target=" + targetLanguage;
            });
        });

        $(".import-translation-button").click(function () {
            Machinata.showLanguageChangeDialog(function (sourceLanguage, targetLanguage) {
                var request = "/api/admin/content/page/import-translation";
                request += "?sourceLanguage=" + sourceLanguage;
                request += "&targetLanguage=" + targetLanguage;

                Machinata.uploadDialog("{text.importing=Importing}",
                    "Import",
                    "json",
                    null,
                    request,
                    function () { window.location.reload(); });
            });
        });




    });
</script>

<style>

    /* trash tool rules*/
    .page.is-in-trash-true .content-tool:not(.restore),
    .page.is-in-trash-true .duplicate-translation,
    .page.is-in-trash-true .delete-translation {
        display: none;
    }

    .content-tool.restore {
        display: none;
    }

    .content-tool.restore.show-restore {
        display: inherit;
    }
</style>