﻿<div class="ui-tile published-{page.published}" data-node-id="{page.public-id}" title="{page.summary-short}">
    <a href="/admin/content/page{page.path}">
        <div class="title">  {page.name}</div>
        <!--<span class="icon icon-{page.icon}"></span>-->
        <div class="icon">{icon.file}</div>
    </a>
</div>
