﻿<li>
    <a class="item preview-button" href="{page.preview.route-path}?preview=true&amp;edit=false&amp;node-path={page.preview.node-path}" target="_blank">{text.preview} {page.preview.language}{icon.active-state}</a>
</li>
