﻿                            <!-- End email contents -->
                        </td></tr></table>
                    </td>
                </tr>
                <tr>
                    <td class="spacer">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="footer" align="left">
                        <table width="100%">
                            <tr>
                                <td align="left"></td>
                                <td align="right"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr><td class="spacer">&nbsp;</td></tr>
            </table>
        </td>
    </tr>
</table>
</html>
