﻿<p>{text.payment-method}: {invoice.payment-method}</p>
<p class="bold">
    {text.invoice-due-by}: {invoice.due-date.date}
    <br/>
    {text.invoice-total-to-pay}: {invoice.total-customer}
</p>
<p>{text.invoice-reference-number}: {invoice.serial-id}</p>
<p>{invoice.sender-address-breaked}</p>
<p>
    {text.invoice-bank}: {invoice.sender.settings.bank-name}<br/>
    {text.invoice-account-nr}: {invoice.sender.settings.bank-account-number}<br />
    {text.invoice-iban}: {invoice.sender.settings.bank-iban}<br />
    {text.invoice-swift}: {invoice.sender.settings.bank-swift}
</p>
<p>{text.invoice-vat-nr}: {invoice.sender.settings.vat-number}</p>
