﻿<tr>
    <td class="parameter-type"><pre>{parameter.type}</pre></td>
    <td class="parameter-name"><pre>{parameter.name}</pre></td>
    <td class="parameter-value">{parameter.value}</td>
    <td class="parameter-description">{parameter.description}</td>
</tr>
