﻿<script>
    Machinata.ready(function () {
        $(".ui-visual-test-comparer").each(function () {
            // Init
            var mainElem = $(this);
            var buttonChangeComparedElem = mainElem.find(".tools .action-change-compared");
            var buttonChangeResultElem = mainElem.find(".tools .action-change-result");
            var buttonChangeDiffElem = mainElem.find(".tools .action-change-diff");
            var layerComparedElem = mainElem.find(".image-layers .image-compared");
            var layerResultElem = mainElem.find(".image-layers .image-result");
            var layerDiffElem = mainElem.find(".image-layers .image-diff");
            // Helper functions
            function updateLayer(layerElem, buttonElem, val) {
                buttonElem.find("span").text(val + "%");
                buttonElem.find("input").val(val);
                layerElem.css("opacity", val / 100.0);
            }
            // Bind input events
            buttonChangeComparedElem.find("input").on("change input", function () {
                updateLayer(layerComparedElem, buttonChangeComparedElem, buttonChangeComparedElem.find("input").val());
            });
            buttonChangeResultElem.find("input").on("change input", function () {
                updateLayer(layerResultElem, buttonChangeResultElem, buttonChangeResultElem.find("input").val());
            });
            buttonChangeDiffElem.find("input").on("change input", function () {
                updateLayer(layerDiffElem, buttonChangeDiffElem, buttonChangeDiffElem.find("input").val());
            });
            // Initial state
            updateLayer(layerComparedElem,buttonChangeComparedElem,100);
            updateLayer(layerResultElem,buttonChangeResultElem,50);
            updateLayer(layerDiffElem,buttonChangeDiffElem,50);
        });
    });
</script>
<style>
    .ui-visual-test-comparer {
    }
    .ui-visual-test-comparer .tools a .ui-form  {
        visibility: hidden;
    }
    .ui-visual-test-comparer .tools a:hover .ui-form  {
        visibility: visible;
    }
    .ui-visual-test-comparer .image-layers {
        position: relative;
    }
    .ui-visual-test-comparer .image-layers img {
        max-width: 100%;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        border: 1px solid black;
    }
    .ui-visual-test-comparer .image-layers .image-compared {
        
    }
    .ui-visual-test-comparer .image-layers .image-result {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .ui-visual-test-comparer .image-layers .image-diff {
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>
<div class="ui-card option-has-sticky-toolbar ui-visual-test-comparer">
    <div class="ui-toolbar option-sticky">
        <h2>{text.visual-results.en=Visual Results}</h2>
        <div class="tools">
            <a class="ui-button action-change-compared">Compared: <span class="subvalue"></span><div class="ui-form"><input type="range" class="ui-range" value="0" min="0" max="100"></div></a>
            <a class="ui-button action-change-result">Result: <span class="subvalue"></span><div class="ui-form"><input type="range" class="ui-range" value="0" min="0" max="100"></div></a>
            <a class="ui-button action-change-diff">Diff: <span class="subvalue"></span><div class="ui-form"><input type="range" class="ui-range" value="0" min="0" max="100"></div></a>
            
        </div>
    </div>
    <div class="xui-toolbar option-placeholder"></div>
    <div class="ui-card-content">
        
         <div class="image-layers">
           <img class="image-compared" src="{entity.comparison-data}" />
           <img class="image-result" src="{entity.data-result}" />
           <img class="image-diff" src="{entity.diff-data}" />
        </div>


        <div class="clear"></div>
        
        <!--{entity.properties.different-color}
        {entity.properties.different-pixels}-->
    </div>
</div>
<div class="clear"></div>