﻿<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="process-time-ms" content="{process-time-ms}" />
<meta name="current-time-ms" content="{current-time-ms}" />
<meta name="resource-dir" content="{resources}" />
<!-- Fav Icon -->
<link rel="icon" type="image/png" href="{cdn-url}/static/file/images/favicon-machinata.png" />
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="{cdn-url}/static/bundle/css/machinata-uikit-bundle.css?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}">
<link rel="stylesheet" type="text/css" href="{cdn-url}/static/bundle/css/machinata-uikit-portal-bundle.css?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}">
<link rel="stylesheet" type="text/css" href="{cdn-url}/static/bundle/css/machinata-reporting-bundle.css?lang={page.language}&amp;theme=reporting-uikit&amp;build={build-id}&amp;debug={debug}">
<link rel="stylesheet" type="text/css" href="{cdn-url}/static/bundle/css/machinata-admin-bundle.css?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}">
<!-- Scripts -->
<script type="text/javascript" src="/static/bundle/js/machinata-core-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-uikit-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-wizard-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-charts-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-maps-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-reporting-bundle.js?lang={page.language}&amp;theme=reporting-uikit&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-uikit-reporting-bundle.js?lang={page.language}&amp;theme=reporting-uikit&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-admin-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<!-- Open Graph -->
<title>{page.navigation.title-path}</title>