﻿{email.head}
{email.header}  
<div class="content">
    <p>{text.reset-email-text}</p>
</div>
{cms-content}
<div class="content">
    <p>
        <a href="{server-url}{reset-password-path}?code={secret-code}&reset-code={activation-code}&username={username}">
            {text.reset-password=Reset Password}
        </a>
    </p>
</div>
{email.footer}
