﻿<div class="no-page-break">
    <p class="h2" uppercase="true">{group.name}</p>
    <div class="layout-text">
    {group.description}
    </div>
    <table class="table" style="width:100%" xcellpadding="2" cellspacing="0">
        {group.header}
        {group.items}
    </table>

</div>