﻿<tr>
    <td>{route.priority}</td>
    <td><a href="/admin/system/routes/route?uid={route.uid}">{route.path}</a></td>
    <td>{route.alias-for}</td>
    <td>{route.language}</td>
    <td>{route.verb}</td>
    <td>{route.handler}.{route.method}</td>
</tr>