﻿<div class="ui-card message {entity.classes} ">
    <div class="ui-card-content">
        <div class="tab"></div>
        <div class="user ui-label">{entity.author}<br/>{entity.created}</div>
        <h2 class="text">{entity.message-with-breaks}</h2>
        <div class="file only-if-has-file">
            <div class="image only-if-has-image">
                <img style="width:100%" class="xui-thumbnail" src="{entity.file}"/>  <br/><br/>
            </div>
            <a class="ui-button" href="{entity.file}?download=true">{entity.file-name}</a>
        </div>
    </div>
</div>
<div class="ticket-status {entity.classes}">
    <div class="ui-info option-small">
        <div class="info-text">
            {entity.status-did-change-message}
        </div>
        <div class="clear"></div>
    </div>
</div>