﻿
<div class="ui-card conversation">
    <div class="ui-card-content">
        
        <h2>{text.support-ticket.conversation}</h2>
        {messages}
        
        {reply-send}
    </div>
    <div class="ui-card-actions">
        <ul class="ui-listing">
            <li> <a href="{page.navigation.current-path}/conversation">{text.support-ticket.edit-conversation}{icon.right}</a></li>
        </ul>
    </div>
</div>