﻿<div class="response hide-if-false-{response-enabled}">
    <h2>{text.response=Response}</h2>
    <div class="ui-card message">
        <div class="ui-card-content">
            <div class="user ui-label">{user.name}</div>
            <div class="date ui-label" style="padding-top: 0px"></div>
            <form class="ui-form reply-form" method="post" enctype="multipart/form-data" api-call="{api-call}" on-success="{page.navigation.current-path}">
                <textarea class="text" name="message" style="min-height:200px;"></textarea>
                <div class="clear"></div>
                <select name="status">
                    {status.options}
                </select>
                <div class="ui-spacer"></div>
                <a style="" class="ui-button hide-if-false-{has-boiler-plates} option-icon-only action-show-boiler-plates" title="{text.backend.choose-boiler-plate}"><div>{icon.autograph}</div></a>
            
                <input style="float: right"  class="ui-button" value="{text.support-ticket.send-response}" name="button" type="submit">
                <div class="ui-spacer hide-if-true-{has-boiler-plates}"></div>
            </form>
        </div>
    </div>
</div>