﻿<tr>
    <td>{entity.source}</td>
    <td>{entity.language}</td>
    <td>{config-value}</td>
    <td>
        <input hidden="hidden" value="{entity.package}" name="package" />
        <input hidden="hidden" value="{entity.text-id}" name="text-id" />
        <input hidden="hidden" value="{entity.language}" name="language" />
        <input hidden="hidden" value="{config-value}" name="config-value" />
        <input class="value" value="{custom-value}" name="custom-value" type="text" />
    </td>
    <td>
        <a title="Reset to default" class="action-clear ui-button option-translucent option-icon-only option-small" style="display: inline-block;">{icon.reset}</a>
        <a title="Translate with AI" class="action-translate-ai ui-button option-translucent option-icon-only option-small" style="display: inline-block;">{icon.thinking-bubble}</a>
    </td>
</tr>

