﻿{email.head}
{email.header}


<p>Hi, </p>

<p>See the {project.automatic-reporting} report for '{project.business.name}: {project.name}'</p>
<p>Timerange: {timerange}</p>
<p><a href={report-url}>Open Full Project Report</a></p>
<h2>Budget Summary</h2>
{budgets}
<h2>Costs for {timerange}</h2>
{costs}

{email.footer}