<!--<a onclick="Machinata.changeQueryString('{filter.name}', '{filter.id}')" class="button" name="{filter.id}">{filter.title}</a>-->

<a onclick="javascript:udpateFilterParams('{filter.name}', '{filter.id}');" class="button" name="{filter.id}">{filter.title}</a>