﻿<!--<li><a href="/admin/infrastructure/locations">{text.locations}<span class="icon icon-globe"></span></a></li>-->

<a class="ui-tile" href="/admin/infrastructure/locations">
    <div class="icon">{icon.location}</div>
    <div class="title">{text.locations}</div>
</a>