﻿


.bb-button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}



.bb-button-set.thin .ui-button {
    padding: $padding-quarter;
}

.bb-button-set.spaced {
    margin-top: $padding-half;
}

.bb-button-set .label.ui-button {
    pointer-events: none;
    padding-right: $padding;
}

.bb-button-set .label.ui-button.wide {
    min-width: 100px;
    text-align: left;
}