﻿
ul.listing {
    margin-top: $padding-half;
}
ul.listing li {
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 4px;
    position: relative;
    text-align: left;
    border-bottom: 1px solid $solid-color;
    transition-property: padding-left;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
ul.listing a li,
ul.listing a li * {
    cursor: pointer;
}
ul.listing li,
ul.listing li * {
    font-weight: bold;
    DEPRECATED_font-size: 14px;
    text-decoration: none;
    word-wrap: break-word;
}
ul.listing li span.info {
    float: right;
    padding-right: $padding-half;
}
ul.listing a {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    text-decoration: none;
}
ul.listing a:hover li {
    background-color: $highlight-color;
    background-image: $highlight-pattern-animated;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
    color: $highlight-text-color;
    padding-left: $padding-half;
}