﻿


#container {
    border: $container-border solid transparent;
    max-width: $standard-page-width;
    margin-left: auto;
    margin-right: auto;
}
#container.option-full-width {
    max-width: unset;
}
body.option-container-full-width #container {
    max-width: unset;
}
body.mobile #container {
    border-width: $padding;
}







#nav-breadcrumb {
    display: inline-block;
}






#menu {
    position: fixed;
    top: $header-height;
    bottom: 0px;
    left: 0px;
    width: $menu-width-expanded;
    z-index: $z-index-menu;
    box-sizing: border-box;

    
    DEP_border-right: $line-size solid $line-color-dark;
}

#menu .ui-menu {
    z-index: 2;
}

#menu {
    display: none;
}



body.show-menu #menu {
    display: block;
}
body.show-menu #container {
    margin-left: $menu-width-expanded;
}





body.mobile.show-menu #menu,
body.show-menu-as-expandable #menu {
    width: 100%;
    top: $header-height;
    display: block;
    height: 0%;
    position: fixed;
    overflow-y: scroll;
    pointer-events: none;
    
    transition-duration: $regular-transition-time;
    transition-timing-function: ease-in-out;
    transition-property: height,opacity;
}
body.mobile.show-menu-as-expandable #menu {
    top: $header-height-mobile;
}

body.mobile.show-menu #container {
    margin-left: auto;
}


body.mobile.show-menu.menu-is-open #menu,
body.show-menu-as-expandable.menu-is-open #menu {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: all;
    z-index: $z-index-menu-opened;
}
