﻿body.print #header,
body.print #header-pusher,
body.print #menu,
body.print #nav-breadcrumb,
body.print .ui-card .ui-toolbar .tools {
    display: none !important;
}

body.print {
    background-color: unset;
}

body.print #container {
    margin-left: auto !important;
    margin-right: auto !important;
    min-width: 210mm !important;
    max-width: 210mm !important;
    border: 0px !important;
}
    
body.print .ui-card {
    border: none !important;
    box-shadow: none !important;
}
body.print .ui-card-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
body.print .ui-toolbar h2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media print {
    @page { 
      size: A4;
      margin-top: 2cm;
      margin-bottom: 2cm;
      margin-left: 1cm;
      margin-right: 1cm;
  }

    #header,
    #header-pusher,
    #menu,
    #nav-breadcrumb,
    .ui-card .ui-toolbar .tools {
        display: none !important;
    }

    body {
        background-color: unset;
    }

    #container {
        margin-left: auto !important;
        margin-right: auto !important;
        min-width: 210mm !important;
        max-width: 210mm !important;
        border: 0px !important;
    }
    
    .ui-card {
        border: none !important;
        box-shadow: none !important;
    }
    .ui-card-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .ui-toolbar h2 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

