﻿
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: $z-index-header;
    box-shadow: $header-box-shadow;
    border-bottom: $header-border-bottom;

    DEP_backdrop-filter: blur(20px);
    DEP_border-bottom: $line-size solid $line-color-dark;
}



#header,
#header-pusher {
    height: $header-height;
}
body.mobile #header,
body.mobile #header-pusher {
    height: $header-height-mobile;
}


#header .left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $menu-width-expanded;
    height: 100%;
    display: flex;
    align-items: center;
}
#header.option-wide-left .left {
    width: $menu-width-expanded-double;
}


#header .left .title {
    color: $header-text-color;
    padding-left: $padding;
}
#header .left .title * {
    color: $header-text-color;
}
#header .left .title b {
    font-weight: bold;
}

#header .left a.logo-link {
    display: inline-block;
    height: 100%;
}

#header .left .logo {
    box-sizing: border-box;
    border-left: $padding solid transparent;
    border-right: $padding solid transparent;
    width: 170px;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}
body.mobile #header .left .logo {
    border-left-width: $padding;
    border-right-width: $padding;
    width: 130px;
}




#header .center {
    position: absolute;
    top: 0px;
    left: $menu-width-expanded;
    right: $menu-width-expanded;
    height: 100%;
}
#header.option-wide-left .center {
    left: $menu-width-expanded-double;
}
#header .center h1 {
    text-align: center;
    line-height: $header-height-expanded;
    color: $header-text-color;
}


#header .right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: $menu-width-expanded-double;
    height: 100%;
}
#header .right .profile {
    position: relative;
    height: 100%;
    overflow: hidden;
}


#header .right .profile .header-section {
    float: right;
    height: 100%;
    margin-right: $padding;
}
body.mobile #header .right .profile .header-section {
    margin-right: $padding-half;
}




#header .right .profile .header-section.label {
    DEP_margin-top: $padding;
    display: flex;
    align-items: center;
}
body.mobile #header .right .profile .header-section.label {
    DEP_margin-top: $padding-quarter;
}
#header .right .profile .header-section.label a {
    display: inline-block;
    color: $header-text-color;
}



#header .right .profile .header-section.symbol {
    
}
#header .right .profile .header-section.symbol .ui-symbol {
    margin-top: 38%;
}
body.mobile #header .right .profile .header-section.symbol .ui-symbol {
    margin-top: 20%;
}
#header .right .profile .header-section.symbol.option-expand-on-hover .panel.show-on-hover, 
#header .right .profile .header-section.symbol.option-expandable .panel.show-on-hover {
    
}



#header .right .profile .header-section.tools a {
    display: inline-block;
    height: 100%;
}
#header .right .profile .header-section.tools svg {
    fill: $header-text-color;
    width: $padding-double;
    height: $padding-double;
    margin-top: calc($header-height * 0.5 - $padding-double / 2);
}
body.mobile #header .right .profile .header-section.tools svg {
    margin-top: $padding-half;
}













.ui-header {
    height: $header-height;
    background-color: $header-color;
}
.ui-header.option-logo {
    background-size: auto 90%;
    background-position: center center;
    background-repeat: no-repeat;
}