﻿

body.show-menu.menu-is-open .requires-menu-closed,
body.show-menu-as-expandable.menu-is-open .requires-menu-closed {
    display: none !important;
}

body.show-menu:not(.menu-is-open) .requires-menu-open,
body.show-menu-as-expandable:not(.menu-is-open) .requires-menu-open {
    display: none !important;
}
body:not(.show-menu) .requires-menu {
    display: none !important;
}


body.show-menu-as-expandable #header .header-section.tools.requires-menu {
    display: block !important;
}