﻿.conversation {
}

.conversation .message,
.conversation .ticket-status {
    max-width: 600px;
}
.conversation .message textarea {
    font-size: $subtitle-size;
    width: 100%;
    max-width: unset;
}
.conversation .message select {
    width: 100%;
    max-width: unset;
}


.conversation .message.is-own-message {
    text-align: right;
    margin-left: auto;
}

.conversation .message:not(.has-file) .only-if-has-file {
    display: none !important;
}
.conversation .message:not(.has-image) .only-if-has-image {
    display: none !important;
}


  

.conversation .ticket-status {
    text-align: center;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
}
.conversation .ticket-status:not(.status-did-change), 
DISABLED_.conversation .ticket-status:not(.is-latest-message) {
    display: none !important;
}