﻿    {email.head}
    {email.header}

<p>{text.email-invoice-salutation}</p>
<p>{text.email-invoice-text}</p>
<p><a href="{server-url}/{invoices.path}/{entity.public-id}">{text.email-invoice-view-invoice-online}</a></p>
<div>{cms-content}</div>
<h2>{text.summary}</h2>

<table>
    <tr>
        <td>{text.invoice.serial-id}</td>
        <td>{entity.serial-id}</td>
    </tr>
    <tr>
        <td>{text.created-date}</td>
        <td>{entity.created}</td>
    </tr>
    <tr>
        <td>{text.invoice.due-date}</td>
        <td>{entity.due-date}</td>
    </tr>
    <tr>
        <td>{text.invoice.total-incl-vat}</td>
        <td>{entity.total-customer}</td>
    </tr>
    <tr>
        <td>{billing-address}</td>
    </tr>
    <tr>

        <td><h2>{text.overview}</h2></td>
    </tr>
    <tr>
        <td colspan="2">{invoice.overview}</td>
    </tr>
    <tr>
        <td>
            <h2>{text.scan-code}</h2>
            <img width="300" height="300" src="{cdn-url}/static/qrcode?background=transparent&color=black&size=300&data={public-url}/go/invoice/{entity.public-id}" />
        </td>
        <td>
            <p>
                <h2 uppercase="true">{text.payment-details}</h2>
                {payment-details}
            </p>
        </td>
    </tr>

</table>

    {email.footer}
