﻿<div class="ui-card">
    <div class="ui-toolbar">
        <h2>{entity.type-friendly-name}</h2>
    </div>
    <div class="ui-card-content">
        {properties}
    </div>

    <div class="ui-card-actions">
        <ul class="ui-listing">
            <li>
                <a href="{page.navigation.current-path}/metatags/metatag/{entity.public-id}/edit">{text.edit=Edit}{icon.right} </a>
            </li>

        </ul>
    </div>
</div>