﻿<div class="ui-card">
    <div class="ui-toolbar">
        <h2>{type-friendly-name}</h2>
        <div class="tools">
           <a class="ui-button" title="{text.create}" href="{page.navigation.current-path}/metatags/create?type={type}">{icon.plus-math}</a>
           <a class="ui-button option-icon-only action-sort-metatags" title="{text.sort}">{icon.sort}</a>
        </div>
    </div>
    <div class="ui-card-content metatags-listing">
        {entities}
    </div>
     
</div>