﻿<div class="ui-symbol option-expandable option-tag">
    <div class="panel icon hide-on-hover">{tag.name}</div>
    <ul class="panel menu show-on-hover">
        <li>{text.virtual-tag-test.en=This is a virtual tag.}</li>
    </ul>
</div>