﻿<div class="ui-symbol option-expandable option-tag">
    <div class="panel icon hide-on-hover">{tag.name}</div>
    <ul class="panel menu show-on-hover">
        <li><a class="ui-link" href="/admin/crowd-source/tags/tag/{tag.public-id}/">{text.view}</a></li>
        <li><a class="ui-link" href="/admin/crowd-source/tags/tag/{tag.public-id}/edit">{text.edit}</a></li>
        <li><a class="ui-link" href="javascript:removeTag('{tag.public-id}','{project.public-id}')">{text.remove}</a></li>
    </ul>
</div>