﻿<a-scene embedded vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false" loading-screen="enabled: false; dotsColor: transparent; backgroundColor: transparent" title="">
  

    {cameras}
   
    <a-assets>
        <a-mixin id="mixin-highlight-entity" material="color: red"></a-mixin>
        {assets}
    </a-assets>
    {entities}
    <a-entity bb-loader="enabled:true"></a-entity>
</a-scene>

